In [236]:
import pandas as pd

import numpy as np

In [237]:
pd.options.display.max_columns = 200

pd.options.display.max_rows = 500

In [238]:
# uploading house hold data

df_hh = pd.read_fwf(r"C:\Users\samir\Desktop\NSSO_DATA\plfs_23_24\New folder\HHV1.TXT",header = None)

In [411]:
df_hh.sample(100) # inspecting

,File Identification,Schdule,Quarter,Visit,Sector,State/Ut Code,District Code,NSS-Region,Stratum,Sub-Stratum,Sub-Sample,Fod Sub-Region,FSU,Sample Sg/Sb No.,Second Stage Stratum No.,Sample Household Number,Month of Survey,Response Code,Survey Code,Reason for Substitution of original household,Household Size,Household Type,Religion,Social Group,Household's usual consumer Expenditure in A Month for purposes out of Goods and Services(Rs.),Imputed value of usual consumption in a month out of Home Grown stock (Rs.),"Imputed value of usual consumption in a Month from wages in kind,free collection, gifts etc. (Rs.)","Household's Annual Expenditure on purchase of items like clothing, footwear etc.(Rs.)","Household's Annual Expenditure on purchase of durables like Bedstead, TV, fridge etc.(Rs.)",Household'S Usual Consumer Expenditure In A Month (Rs.),Informant Serial no.,Survey Date,Total Time Taken To Canvass Sch. 10.4,Ns count for sector x stratum x substratum x sub-sample,Ns count for sector x stratum x substratum,Sub-sample wise Multiplier,Occurence of State x Sector x Stratum x SubStratum in 4 Quarters,HH_ID
10953,FVH7,104,Q1,V1,1,Tripura,4,161,1,3,1,1610,15904,1,2,1,8,1,1,NaN,4,2,Hinduism,scheduled tribe,15000,500,400,5000,7500,16942,1,21082023,95,17,34,8846,4,Q1V1115904121
1624,FVH7,104,Q1,V1,1,Gujarat,16,242,2,1,1,2422,10830,1,1,1,9,1,1,NaN,10,1,Hinduism,other backward class,12000,2200,250,20000,14900,17358,3,15092023,95,1,2,1930212,4,Q1V1110830111
71435,FVH7,104,Q3,V1,2,Maharashtra,22,271,5,5,1,2720,23565,1,3,2,1,2,1,NaN,5,2,Islam,others,13000,0,0,4000,1200,13433,2,19012024,50,17,34,476808,4,Q3V1223565132
1424,FVH7,104,Q1,V1,1,Tripura,5,161,1,3,2,1610,10716,1,1,1,7,1,1,NaN,6,3,Hinduism,scheduled caste,12000,0,500,6500,4000,13375,3,23072023,110,17,34,62146,4,Q1V1110716111
64558,FVH7,104,Q3,V1,1,Karnataka,17,293,3,7,1,2910,17310,2,1,1,3,1,2,2.0,3,3,Hinduism,others,16400,0,360,12500,7200,18402,2,19032024,87,1,2,17136749,4,Q3V1117310211
27376,FVH7,104,Q2,V1,1,Kerala,14,322,2,7,2,3220,11166,2,1,1,12,1,1,NaN,5,9,Christianity,other backward class,22000,200,0,10000,11000,23950,3,29122023,37,1,2,3289565,4,Q2V1111166211
66743,FVH7,104,Q3,V1,2,Bihar,36,102,1,1,2,1021,20936,1,4,1,2,1,1,NaN,6,3,Islam,other backward class,6800,450,850,8500,3000,9058,1,24022024,120,3,6,1947332,4,Q3V1220936141
11672,FVH7,104,Q1,V1,1,Uttar Pradesh,69,93,3,2,1,924,16304,1,1,1,7,1,2,3.0,5,1,Hinduism,others,6500,3500,0,6500,3000,10792,3,14072023,85,1,2,2018936,4,Q1V1116304111
75026,FVH7,104,Q3,V1,2,Madhya Pradesh,10,232,2,2,2,2332,25486,1,3,1,2,1,1,NaN,5,1,Islam,other backward class,5968,0,550,8584,3285,7507,2,15022024,90,2,4,553511,4,Q3V1225486131
11323,FVH7,104,Q1,V1,1,Arunachal Pradesh,21,121,1,3,2,1210,16083,1,2,2,9,1,1,NaN,7,1,others,scheduled tribe,8682,2940,540,24109,20350,15867,7,14092023,120,1,2,88758,4,Q1V1116083122
18706,FVH7,104,Q1,V1,2,Karnataka,17,293,3,3,1,2910,22611,1,3,1,7,1,2,2.0,3,3,Hinduism,other backward class,13000,0,210,4000,0,13543,3,12072023,39,2,4,1736835,4,Q1V1222611131
13143,FVH7,104,Q1,V1,1,Uttar Pradesh,49,93,3,41,2,942,17077,2,3,1,7,1,1,NaN,4,1,Islam,other backward class,6000,2000,120,9000,12000,9870,1,26072023,45,1,2,26497743,4,Q1V1117077231
9028,FVH7,104,Q1,V1,1,Bihar,29,102,2,16,1,1020,14884,2,1,1,8,1,1,NaN,7,3,Hinduism,other backward class,13000,1000,500,10000,20000,17000,2,6082023,120,1,2,24133510,4,Q1V1114884211
75789,FVH7,104,Q3,V1,2,Uttar Pradesh,66,93,1,1,1,924,25843,1,4,2,1,1,1,NaN,8,3,Hinduism,other backward class,8950,0,580,7500,3000,10405,3,8012024,65,5,10,5201329,4,Q3V1225843142
90592,FVH7,104,Q4,V1,2,Punjab,18,31,1,1,2,320,20098,1,2,1,4,1,1,NaN,3,2,Hinduism,others,20000,0,1000,15000,0,22250,1,4042024,35,4,8,1042040,4,Q4V1220098121
90379,FVH7,104,Q4,V1,1,Rajasthan,28,84,4,2,1,812,17515,1,2,4,6,1,1,NaN,9,1,Hinduism,others,10000,2000,500,8500,2500,13417,1,21062024,60,1,2,2267396,4,Q4V1117515124
86924,FVH7,104,Q4,V1,1,Uttar Pradesh,1,91,1,4,2,932,15594,2,2,2,6,1,1,NaN,6,5,Islam,other backward class,12000,0,1050,12500,6500,14633,2,25062024,75,1,2,3271065,4,Q4V1115594222
98196,FVH7,104,Q4,V1,2,Nagaland,6,131,1,1,2,1310,24253,1,1,2,5,3,1,NaN,6,2,Christianity,scheduled tribe,8800,4100,100,12000,36000,17000,2,23052024,68,5,10,235926,4,Q4V1224253112
39268,FVH7,104,Q2,V1,1,Himachal Pradesh,11,22,2,3,1,210,17470,1,1,2,10,1,1,NaN,3,3,Hinduism,others,14300,200,0,12000,14000,16667,2,12102023,65,1,2,773434,4,Q2V1117470112
90103,FVH7,104,Q4,V1,1,Uttar Pradesh,15,95,5,19,2,910,17308,1,2,1,5,1,1,NaN,3,1,Hinduism,other backward class,2500,2000,200,4500,1200,5175,2,15052024,45,1,2,401264,4,Q4V1117308121
17235,FVH7,104,Q1,V1,2,Tamilnadu,5,331,1,1,2,3322,21814,1,3,2,7,1,1,NaN,4,2,Hinduism,other backward class,10000,0,320,5200,10500,11628,2,25072023,60,7,14,3065892,4,Q1V1221814132
21203,FVH7,104,Q1,V1,2,Kerala,4,321,1,1,2,3210,23939,1,4,1,8,1,1,NaN,4,9,Hinduism,other backward class,14000,300,0,8500,3000,15258,2,15082023,90,12,24,1243378,4,Q1V1223939141
6174,FVH7,104,Q1,V1,1,Nagaland,2,131,1,5,2,1310,13374,2,2,2,9,1,1,NaN,5,5,Christianity,scheduled tribe,6000,1500,800,15000,25000,11633,2,22092023,80,5,10,553354,4,Q1V1113374222
37182,FVH7,104,Q2,V1,1,Odisha,12,211,1,3,2,2113,16321,1,2,2,10,1,1,NaN,1,9,Hinduism,other backward class,3500,0,0,2000,12000,4667,1,6102023,45,1,2,1378835,4,Q2V1116321122
90591,FVH7,104,Q4,V1,2,Punjab,18,31,1,1,2,320,20098,1,1,2,4,1,1,NaN,4,2,Hinduism,others,15000,0,1000,20000,0,17667,3,4042024,45,4,8,873969,4,Q4V1220098112
51411,FVH7,104,Q3,V1,1,Kerala,1,321,1,1,1,3211,10284,1,3,1,1,1,1,NaN,4,2,Hinduism,other backward class,10000,500,500,12000,1500,12125,1,17012024,110,1,2,1377534,4,Q3V1110284131
63977,FVH7,104,Q3,V1,1,Tripura,1,161,1,3,2,1610,16930,2,3,1,3,1,1,NaN,4,5,Hinduism,scheduled tribe,10500,700,1500,8900,9750,14254,2,23032024,65,17,34,2326283,4,Q3V1116930231
57339,FVH7,104,Q3,V1,1,Telangana,5,361,1,10,1,3612,13494,1,2,1,1,1,1,NaN,6,5,Islam,other backward class,11300,0,720,10600,4200,13253,1,17012024,108,2,4,268124,4,Q3V1113494121
62451,FVH7,104,Q3,V1,1,Bihar,15,101,1,5,1,1012,16088,1,2,1,2,1,1,NaN,5,5,Hinduism,other backward class,10000,0,700,20000,35000,15283,2,21022024,120,1,2,1138024,4,Q3V1116088121
87114,FVH7,104,Q4,V1,1,Uttar Pradesh,2,91,1,7,2,932,15679,2,1,1,4,1,1,NaN,5,3,Islam,other backward class,12000,0,660,13500,7000,14368,4,10042024,65,1,2,8532167,4,Q4V1115679211
19915,FVH7,104,Q1,V1,2,Punjab,18,31,1,1,1,320,23264,1,4,1,9,1,2,2.0,2,3,Hinduism,other backward class,7000,0,600,10000,2000,8600,2,25092023,70,4,8,1558972,4,Q1V1223264141
70808,FVH7,104,Q3,V1,2,Rajasthan,4,85,2,2,2,820,23217,1,1,1,3,1,1,NaN,4,1,Hinduism,others,13000,0,0,18000,6000,15000,2,10032024,90,3,6,1774094,4,Q3V1223217111
66592,FVH7,104,Q3,V1,2,Puduchery,2,341,3,3,2,3323,20865,1,4,2,3,1,1,NaN,3,2,Hinduism,other backward class,7000,0,1500,3000,0,8750,1,7032024,60,3,6,69314,4,Q3V1220865142
51981,FVH7,104,Q3,V1,1,Manipur,10,141,1,2,1,1410,10600,1,1,1,2,1,1,NaN,8,3,Hinduism,others,7000,6300,1650,12000,30000,18450,3,27022024,70,8,16,193815,4,Q3V1110600111
93152,FVH7,104,Q4,V1,2,Tamilnadu,25,333,1,1,2,3333,21604,1,2,1,6,1,1,NaN,4,2,Islam,other backward class,12600,0,160,6800,2000,13493,2,7062024,120,8,16,1961214,4,Q4V1221604121
83887,FVH7,104,Q4,V1,1,Rajasthan,8,82,2,10,2,821,13959,1,2,1,4,1,1,NaN,2,3,Hinduism,scheduled tribe,2500,1500,600,5000,7500,5642,2,26042024,35,1,2,501664,4,Q4V1113959121
6827,FVH7,104,Q1,V1,1,Bihar,7,101,1,29,2,1013,13666,1,3,1,9,1,1,NaN,8,2,Islam,other backward class,7500,1050,950,7500,1200,10225,2,6092023,120,1,2,742357,4,Q1V1113666131
34208,FVH7,104,Q2,V1,1,Mizoram,8,151,1,4,1,1510,14725,1,2,3,11,1,1,NaN,3,1,Christianity,scheduled tribe,3000,600,200,3000,5500,4508,2,9112023,20,5,10,117763,4,Q2V1114725123
20537,FVH7,104,Q1,V1,2,Tamilnadu,28,333,2,2,1,3332,23590,1,3,1,9,1,2,2.0,4,9,Islam,other backward class,16100,0,180,16800,4600,18063,2,8092023,80,4,8,3166966,4,Q1V1223590131
59127,FVH7,104,Q3,V1,1,Tamilnadu,16,331,1,5,2,3321,14454,2,2,1,3,4,1,NaN,4,2,Islam,other backward class,11500,200,350,4500,6000,12925,2,25032024,95,1,2,6153865,4,Q3V1114454221
76951,FVH7,104,Q4,V1,1,Manipur,3,142,2,2,2,1410,10279,1,1,2,5,1,1,NaN,4,3,Christianity,scheduled tribe,8900,0,400,19000,33000,13633,2,8052024,70,1,1,568648,4,Q4V1110279112
29450,FVH7,104,Q2,V1,1,Andhra Pradesh,11,283,3,5,2,2813,12213,2,2,2,12,1,1,NaN,13,1,Islam,other backward class,18500,0,400,26000,12600,22117,4,16122023,95,1,2,1866054,4,Q2V1112213222
24501,FVH7,104,Q1,V1,2,Delhi,3,71,2,2,2,710,25701,1,1,2,7,1,1,NaN,6,1,Islam,other backward class,16000,0,500,8000,14000,18333,4,13072023,65,4,8,5312475,4,Q1V1225701112
94572,FVH7,104,Q4,V1,2,Kerala,4,321,1,1,1,3210,22376,1,4,1,5,1,1,NaN,2,2,Hinduism,other backward class,11250,300,520,6300,5800,13078,1,11052024,70,12,24,753899,4,Q4V1222376141
98745,FVH7,104,Q4,V1,2,Jharkhand,19,201,3,3,1,2010,24554,1,1,1,4,1,1,NaN,8,1,Hinduism,scheduled tribe,14000,0,0,15000,120000,25250,2,16042024,80,4,8,3394482,4,Q4V1224554111
58056,FVH7,104,Q3,V1,1,Andaman & N. Island,2,351,1,1,2,3510,13850,1,3,1,2,1,1,NaN,2,1,Christianity,others,5500,600,300,2000,1800,6717,2,13022024,75,1,2,355961,4,Q3V1113850131
60714,FVH7,104,Q3,V1,1,Haryana,18,61,1,4,1,615,15243,1,1,1,2,1,1,NaN,5,2,Hinduism,other backward class,18000,0,1500,15000,25000,22833,3,8022024,80,1,2,2861930,4,Q3V1115243111
78500,FVH7,104,Q4,V1,1,Andhra Pradesh,18,283,3,9,2,2813,11034,2,2,2,5,1,1,NaN,4,3,Hinduism,other backward class,9800,0,200,12400,2450,11238,2,29052024,95,2,4,3390833,4,Q4V1111034222
6430,FVH7,104,Q1,V1,1,Meghalaya,3,171,1,4,1,1711,13488,1,3,1,7,1,1,NaN,5,2,Christianity,scheduled tribe,7650,750,450,11300,2000,9958,2,15072023,90,1,2,901288,4,Q1V1113488131
59868,FVH7,104,Q3,V1,1,Haryana,11,62,2,8,2,612,14817,1,2,2,3,1,1,NaN,3,4,Hinduism,scheduled caste,5000,0,600,6800,2500,6375,2,14032024,70,2,4,166714,4,Q3V1114817122
12032,FVH7,104,Q1,V1,1,Tamilnadu,21,333,3,8,2,3333,16476,1,1,1,8,1,1,NaN,4,9,Islam,other backward class,10000,0,400,6000,0,10900,2,18082023,120,1,2,753427,4,Q1V1116476111
10653,FVH7,104,Q1,V1,1,Madhya Pradesh,10,232,2,1,2,2332,15743,1,2,4,7,1,1,NaN,7,1,Hinduism,other backward class,6548,2354,1025,11230,4521,11240,1,7072023,95,1,2,2241186,4,Q1V1115743124
73191,FVH7,104,Q3,V1,2,Goa,1,301,1,1,1,3010,24509,1,1,2,3,1,1,NaN,4,2,Hinduism,others,43500,0,500,62500,27300,51483,3,20032024,77,3,6,655802,4,Q3V1224509112
56190,FVH7,104,Q3,V1,1,Kerala,7,322,2,9,1,3213,12788,2,1,1,2,1,1,NaN,4,3,Hinduism,others,15400,1200,0,6000,3000,17350,1,8022024,80,1,2,6493893,4,Q3V1112788211
28216,FVH7,104,Q2,V1,1,Chhattisgarh,27,221,1,3,2,2211,11557,2,1,1,10,1,2,2.0,3,3,Christianity,scheduled tribe,10000,0,0,15000,0,11250,1,30102023,30,1,2,4627117,4,Q2V1111557211
58015,FVH7,104,Q3,V1,1,Bihar,17,101,1,10,2,1010,13828,2,2,1,1,1,1,NaN,4,1,Islam,other backward class,6000,1800,200,7000,4000,8917,2,27012024,100,1,2,4666916,4,Q3V1113828221
59570,FVH7,104,Q3,V1,1,Assam,22,182,2,9,1,1810,14665,1,1,1,1,1,1,NaN,3,3,Hinduism,scheduled caste,7000,300,250,4000,14000,9050,1,25012024,30,1,2,198984,4,Q3V1114665111
100920,FVH7,104,Q4,V1,2,Karnataka,21,291,1,1,1,2911,25732,1,1,1,4,1,2,2.0,4,9,Islam,other backward class,12500,150,350,18000,0,14500,1,17042024,45,1,2,1444748,4,Q4V1225732111
48049,FVH7,104,Q2,V1,2,Bihar,28,102,4,4,2,1020,24651,2,4,1,12,1,1,NaN,1,9,Hinduism,scheduled caste,5000,0,150,1000,0,5233,1,11122023,40,3,6,205195,4,Q2V1224651241
48052,FVH7,104,Q2,V1,2,Mizoram,4,151,1,1,1,1510,24652,1,2,1,11,1,1,NaN,5,2,Christianity,scheduled tribe,25000,300,0,12000,12000,27300,2,9112023,30,6,12,96149,4,Q2V1224652121
30038,FVH7,104,Q2,V1,1,Manipur,6,141,1,1,1,1410,12516,1,2,1,12,1,1,NaN,3,2,Hinduism,other backward class,4700,0,700,19900,23500,9017,2,20122023,70,1,2,128445,4,Q2V1112516121
24048,FVH7,104,Q1,V1,2,Maharashtra,36,271,1,1,1,2721,25472,1,2,2,8,1,1,NaN,4,2,Hinduism,scheduled tribe,12000,0,0,8000,0,12667,2,11082023,45,2,4,4673786,4,Q1V1225472122
4163,FVH7,104,Q1,V1,1,Madhya Pradesh,49,235,5,2,1,2313,12254,1,2,2,7,1,1,NaN,8,1,Hinduism,scheduled tribe,8800,2500,600,9500,4500,13067,1,6072023,90,1,2,1288854,4,Q1V1112254122
23904,FVH7,104,Q1,V1,2,Manipur,6,141,1,1,1,1410,25387,1,2,2,7,1,1,NaN,3,1,Hinduism,other backward class,3500,500,500,20000,15000,7417,1,21072023,40,10,20,155279,4,Q1V1225387122
7204,FVH7,104,Q1,V1,1,Karnataka,27,293,3,3,2,2910,13881,1,2,3,9,1,1,NaN,5,4,Hinduism,other backward class,11200,0,780,10500,3600,13155,1,14092023,95,1,2,3251100,4,Q1V1113881123
12441,FVH7,104,Q1,V1,1,Karnataka,22,292,2,1,1,2911,16729,1,1,2,9,1,1,NaN,5,1,Hinduism,other backward class,12000,2000,200,22000,15000,17283,1,26092023,95,1,2,4651592,4,Q1V1116729112
50771,FVH7,104,Q2,V1,2,Punjab,7,32,1,1,2,321,26163,1,2,1,11,1,1,NaN,5,1,Sikhism,scheduled caste,8000,0,1200,7000,1500,9908,2,9112023,60,3,6,923693,4,Q2V1226163121
24289,FVH7,104,Q1,V1,2,Telangana,3,361,2,2,1,3612,25590,1,3,2,7,1,1,NaN,4,2,Hinduism,other backward class,12400,0,240,9200,14600,14623,2,26072023,94,3,6,1948711,4,Q1V1225590132
70331,FVH7,104,Q3,V1,2,Assam,17,183,1,1,2,1811,22969,1,2,2,2,1,1,NaN,6,1,Hinduism,others,7500,0,450,8500,0,8658,4,9022024,50,1,2,1519894,4,Q3V1222969122
51602,FVH7,104,Q3,V1,1,Bihar,4,101,1,12,2,1010,10379,2,2,1,1,1,1,NaN,3,2,Hinduism,scheduled caste,4000,0,300,3000,2000,4717,2,18012024,60,1,2,5853523,4,Q3V1110379221
79008,FVH7,104,Q4,V1,1,Himachal Pradesh,5,21,1,4,2,213,11326,1,2,1,4,1,1,NaN,5,1,Hinduism,others,4500,650,750,6500,0,6442,1,5042024,50,1,2,258172,4,Q4V1111326121
54549,FVH7,104,Q3,V1,1,Odisha,15,213,3,10,1,2113,11923,1,3,1,3,1,1,NaN,3,5,Hinduism,scheduled tribe,8000,600,300,7000,3000,9733,1,22032024,90,1,2,2224348,4,Q3V1111923131
15735,FVH7,104,Q1,V1,2,Manipur,7,141,1,1,1,1410,21064,1,1,1,9,1,1,NaN,5,2,Hinduism,others,8000,0,1000,2500,2500,9417,1,6092023,100,10,20,234684,4,Q1V1221064111
100555,FVH7,104,Q4,V1,2,Tamilnadu,3,331,1,1,1,3320,25537,1,2,2,6,1,1,NaN,3,1,Hinduism,others,18000,0,160,3000,12000,19410,1,7062024,30,7,14,3929019,4,Q4V1225537122
9020,FVH7,104,Q1,V1,1,Goa,1,301,1,1,1,3010,14883,2,1,1,8,1,1,NaN,6,2,Hinduism,others,35200,0,2500,42500,28500,43617,2,16082023,80,1,2,1310995,4,Q1V1114883211
98565,FVH7,104,Q4,V1,2,Uttar Pradesh,68,93,2,2,2,924,24452,1,3,1,5,1,1,NaN,5,3,Hinduism,other backward class,4120,0,650,3500,0,5062,2,22052024,55,3,6,735822,4,Q4V1224452131
85619,FVH7,104,Q4,V1,1,Maharashtra,4,275,5,9,1,2731,14806,2,2,1,6,1,1,NaN,2,4,Hinduism,other backward class,3570,0,60,5550,1450,4213,1,26062024,45,2,4,3408957,4,Q4V1114806221
25243,FVH7,104,Q1,V1,2,West Bengal,16,193,4,4,1,1920,26125,1,4,2,8,2,2,2.0,1,9,Hinduism,others,3750,0,0,1500,1200,3975,1,14082023,30,7,14,1109149,4,Q1V1226125142
32612,FVH7,104,Q2,V1,1,Jammu & Kashmir,1,13,3,6,1,122,13911,1,1,1,10,1,1,NaN,6,1,Islam,others,6000,1200,0,15000,25000,10533,1,5102023,45,1,2,643127,4,Q2V1113911111
28910,FVH7,104,Q2,V1,1,Sikkim,9,111,1,3,1,1110,11943,1,2,2,10,1,1,NaN,1,3,Hinduism,others,5000,0,0,9000,0,5750,1,13102023,21,5,10,83056,4,Q2V1111943122
531,FVH7,104,Q1,V1,1,Uttar Pradesh,33,92,2,4,2,944,10224,1,3,1,7,1,1,NaN,3,5,Hinduism,scheduled caste,6900,0,0,8000,2400,7767,1,26072023,30,1,2,5001343,4,Q1V1110224131
80292,FVH7,104,Q4,V1,1,Manipur,4,141,1,2,1,1410,11961,2,2,2,4,1,1,NaN,4,2,Hinduism,other backward class,8730,0,550,29600,34200,14597,2,22042024,70,8,16,292742,4,Q4V1111961222
18997,FVH7,104,Q1,V1,2,Arunachal Pradesh,10,121,1,1,2,1210,22752,1,4,2,7,1,2,2.0,2,2,Hinduism,others,6000,400,0,2500,1200,6708,1,14072023,25,8,16,156062,4,Q1V1222752142
13369,FVH7,104,Q1,V1,1,West Bengal,11,193,3,1,2,1920,17175,1,2,1,9,1,1,NaN,3,2,Islam,others,9000,0,300,5000,3000,9967,1,22092023,50,1,2,1360246,4,Q1V1117175121
4194,FVH7,104,Q1,V1,1,Punjab,22,32,2,9,2,323,12262,1,2,2,8,2,2,2.0,4,4,Hinduism,scheduled caste,7500,3500,1800,8000,10000,14300,99,8082023,60,1,2,169027,4,Q1V1112262122
27298,FVH7,104,Q2,V1,1,Uttar Pradesh,59,93,3,7,2,923,11144,1,3,1,10,1,1,NaN,5,1,Hinduism,other backward class,4500,2000,50,5000,8500,7675,3,7102023,60,1,2,2968184,4,Q2V1111144131
35947,FVH7,104,Q2,V1,1,Punjab,1,31,1,5,1,311,15676,1,1,1,12,1,1,NaN,5,2,Christianity,other backward class,12125,0,1200,12000,3000,14575,2,5122023,70,1,2,3279559,4,Q2V1115676111
80906,FVH7,104,Q4,V1,1,Madhya Pradesh,20,233,3,5,1,2323,12311,2,1,1,5,1,1,NaN,6,1,Hinduism,others,12000,2850,650,13500,18500,18167,1,17052024,60,1,2,7993937,4,Q4V1112311211
97828,FVH7,104,Q4,V1,2,Jharkhand,12,201,3,3,2,2013,24102,1,1,2,4,1,1,NaN,3,2,Hinduism,others,11500,0,0,15500,17500,14250,1,12042024,75,4,8,1270342,4,Q4V1224102112
13005,FVH7,104,Q1,V1,1,Tamilnadu,24,333,3,2,1,3333,17018,1,2,4,9,1,1,NaN,4,5,Hinduism,other backward class,12000,0,350,8000,5000,13433,2,22092023,90,1,2,1326591,4,Q1V1117018124
38452,FVH7,104,Q2,V1,1,West Bengal,3,191,1,2,2,1932,17051,1,2,1,11,3,1,NaN,7,5,Islam,other backward class,7000,0,400,8000,0,8067,1,13112023,70,1,2,906625,4,Q2V1117051121
70128,FVH7,104,Q3,V1,2,Uttar Pradesh,68,93,1,1,1,924,22849,1,1,1,1,1,2,3.0,5,1,Hinduism,other backward class,9580,0,450,9500,4500,11197,2,5012024,45,5,10,6298227,4,Q3V1222849111
17783,FVH7,104,Q1,V1,2,Andhra Pradesh,18,283,2,2,2,2813,22103,1,1,2,7,1,1,NaN,4,2,Islam,other backward class,7800,0,0,8500,4500,8883,1,27072023,50,6,12,570163,4,Q1V1222103112
15602,FVH7,104,Q1,V1,2,Tamilnadu,3,331,2,2,2,3320,21024,1,2,2,8,1,1,NaN,3,1,Hinduism,other backward class,15000,100,135,2000,0,15402,2,4082023,40,6,12,3180968,4,Q1V1221024122
40726,FVH7,104,Q2,V1,2,Maharashtra,35,272,1,1,2,2741,20593,1,3,1,10,1,1,NaN,4,1,Hinduism,others,20000,0,0,15000,5500,21708,3,11102023,50,3,6,693210,4,Q2V1220593131
99449,FVH7,104,Q4,V1,2,Assam,27,184,1,1,1,1822,24882,1,1,1,5,1,1,NaN,5,2,Hinduism,scheduled caste,15370,0,650,12000,8000,17687,1,4052024,65,2,4,1087078,4,Q4V1224882111
41923,FVH7,104,Q2,V1,2,Meghalaya,2,171,1,1,1,1711,21252,1,1,2,11,1,1,NaN,5,2,Christianity,scheduled tribe,26700,235,0,39800,5550,30714,1,10112023,114,4,8,182684,4,Q2V1221252112
79645,FVH7,104,Q4,V1,1,Jharkhand,7,202,2,12,2,2011,11641,2,3,1,6,1,1,NaN,2,5,Hinduism,scheduled tribe,2500,0,400,4500,1200,3375,2,8062024,45,1,2,10078574,4,Q4V1111641231
39224,FVH7,104,Q2,V1,1,Madhya Pradesh,19,233,3,2,1,2323,17440,1,2,4,10,1,1,NaN,4,3,Hinduism,scheduled caste,6800,0,1050,8000,18000,10017,1,20102023,45,1,2,786613,4,Q2V1117440124
92052,FVH7,104,Q4,V1,2,Uttarakhand,13,51,1,1,1,510,21022,1,4,1,5,1,1,NaN,7,2,Hinduism,scheduled caste,8000,0,0,12000,25000,11083,1,15052024,45,5,10,924965,4,Q4V1221022141

In [240]:
# uploading data layout for house hold 

layout = pd.read_excel(r"C:\Users\samir\Desktop\NSSO_DATA\plfs_23_24\New folder\Data_LayoutPLFS_2023-24.xlsx",sheet_name='hhv1')

In [241]:
layout.head()

,Srl,Full Name,Block,Item /Col.,Field Length,Field_Name,name,byte_position_1,byte_position_2,Field Length.1
0,1,File Identification,NaN,NaN,4,file_id,File Identification,1,4,4
1,2,Schdule,1,2,3,sch,Schdule,5,7,3
2,3,Quarter,NaN,NaN,2,qtr,Quarter,8,9,2
3,4,Visit,NaN,NaN,2,visit,Visit,10,11,2
4,5,Sector,1,3,1,sec,Sector,12,12,1

In [242]:
layout_1 = layout[['Field Length','name','byte_position_1','byte_position_2']] # necessary columns

layout_1

,Field Length,name,byte_position_1,byte_position_2
0,4,File Identification,1,4
1,3,Schdule,5,7
2,2,Quarter,8,9
3,2,Visit,10,11
4,1,Sector,12,12
5,2,State/Ut Code,13,14
6,2,District Code,15,16
7,3,NSS-Region,17,19
8,2,Stratum,20,21
9,2,Sub-Stratum,22,23
10,1,Sub-Sample,24,24
11,4,Fod Sub-Region,25,28
12,5,FSU,29,33
13,1,Sample Sg/Sb No.,34,34
14,1,Second Stage Stratum No.,35,35
15,2,Sample Household Number,36,37
16,2,Month of Survey,38,39
17,1,Response Code,40,40
18,1,Survey Code,41,41
19,1,Reason for Substitution of original household,42,42
20,2,Household Size,43,44
21,1,Household Type,45,45
22,1,Religion,46,46
23,1,Social Group,47,47
24,8,Household's usual consumer Expenditure in A Mo...,48,55
25,8,Imputed value of usual consumption in a month ...,56,63
26,8,Imputed value of usual consumption in a Month ...,64,71
27,8,Household's Annual Expenditure on purchase of ...,72,79
28,8,Household's Annual Expenditure on purchase of ...,80,87
29,8,Household'S Usual Consumer Expenditure In A Mo...,88,95
30,2,Informant Serial no.,96,97
31,8,Survey Date,98,105
32,4,Total Time Taken To Canvass Sch. 10.4,106,109
33,3,Ns count for sector x stratum x substratum x s...,110,112
34,3,Ns count for sector x stratum x substratum,113,115
35,10,Sub-sample wise Multiplier,116,125
36,1,Occurence of State x Sector x Stratum x SubStr...,126,126

In [243]:
# this is relevant for converting text format data to structured format

column_names = layout_1['name'].to_list()

field_length = layout_1['Field Length'].to_list()

col_spec = list(zip(layout_1['byte_position_1'], layout_1['byte_position_2']))

In [244]:
col_spec

[(1, 4),
 (5, 7),
 (8, 9),
 (10, 11),
 (12, 12),
 (13, 14),
 (15, 16),
 (17, 19),
 (20, 21),
 (22, 23),
 (24, 24),
 (25, 28),
 (29, 33),
 (34, 34),
 (35, 35),
 (36, 37),
 (38, 39),
 (40, 40),
 (41, 41),
 (42, 42),
 (43, 44),
 (45, 45),
 (46, 46),
 (47, 47),
 (48, 55),
 (56, 63),
 (64, 71),
 (72, 79),
 (80, 87),
 (88, 95),
 (96, 97),
 (98, 105),
 (106, 109),
 (110, 112),
 (113, 115),
 (116, 125),
 (126, 126)]

In [245]:
len(col_spec) # length of col_spec and column_names must be same

37

In [246]:
len(column_names) # length of col_spec and column_names must be same

37

In [247]:
# widths parameter is used because colspecs is not working where byte position start and end are same

df_hh = pd.read_fwf(r"C:\Users\samir\Desktop\NSSO_DATA\plfs_23_24\New folder\HHV1.TXT",widths=field_length,
           names = column_names, encoding="ascii")

df_hh

,File Identification,Schdule,Quarter,Visit,Sector,State/Ut Code,District Code,NSS-Region,Stratum,Sub-Stratum,Sub-Sample,Fod Sub-Region,FSU,Sample Sg/Sb No.,Second Stage Stratum No.,Sample Household Number,Month of Survey,Response Code,Survey Code,Reason for Substitution of original household,Household Size,Household Type,Religion,Social Group,Household's usual consumer Expenditure in A Month for purposes out of Goods and Services(Rs.),Imputed value of usual consumption in a month out of Home Grown stock (Rs.),"Imputed value of usual consumption in a Month from wages in kind,free collection, gifts etc. (Rs.)","Household's Annual Expenditure on purchase of items like clothing, footwear etc.(Rs.)","Household's Annual Expenditure on purchase of durables like Bedstead, TV, fridge etc.(Rs.)",Household'S Usual Consumer Expenditure In A Month (Rs.),Informant Serial no.,Survey Date,Total Time Taken To Canvass Sch. 10.4,Ns count for sector x stratum x substratum x sub-sample,Ns count for sector x stratum x substratum,Sub-sample wise Multiplier,Occurence of State x Sector x Stratum x SubStratum in 4 Quarters
0,FVH7,104,Q1,V1,1,2,4,21,1,14,1,213,10002,1,1,1,8,2,1,NaN,7,1,1,2,5250,2000,650,10000,0,8733,3,11082023,70,2,4,246798,4
1,FVH7,104,Q1,V1,1,2,4,21,1,14,1,213,10002,1,2,1,8,1,1,NaN,5,3,1,9,4550,1800,450,9000,0,7550,3,11082023,60,2,4,35596,4
2,FVH7,104,Q1,V1,1,2,4,21,1,14,1,213,10002,1,2,2,8,2,1,NaN,7,1,1,9,5450,1800,400,10000,0,8483,1,11082023,64,2,4,35596,4
3,FVH7,104,Q1,V1,1,2,4,21,1,14,1,213,10002,1,3,1,8,2,1,NaN,6,5,1,2,4650,1200,500,8000,0,7017,1,10082023,65,2,4,61700,4
4,FVH7,104,Q1,V1,1,2,4,21,1,14,1,213,10002,2,1,1,8,1,1,NaN,4,1,1,9,5150,2500,600,8000,5000,9333,3,10082023,65,2,4,1613680,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101915,FVH7,104,Q4,V1,2,28,3,281,4,4,2,2822,26235,1,2,2,5,2,1,NaN,2,9,1,3,13500,0,0,6500,0,14042,1,28052024,35,3,6,1935507,4
101916,FVH7,104,Q4,V1,2,28,3,281,4,4,2,2822,26235,1,3,1,5,1,1,NaN,1,1,1,3,13500,0,0,10000,31500,16958,1,28052024,30,3,6,733146,4
101917,FVH7,104,Q4,V1,2,28,3,281,4,4,2,2822,26235,1,3,2,5,4,1,NaN,1,9,1,3,14000,0,0,8500,0,14708,1,28052024,30,3,6,733146,4
101918,FVH7,104,Q4,V1,2,28,3,281,4,4,2,2822,26235,1,4,1,5,4,2,2.0,1,9,1,3,12250,0,0,5800,21500,14525,1,31052024,30,3,6,469214,4
101919,FVH7,104,Q4,V1,2,28,3,281,4,4,2,2822,26235,1,4,2,5,1,2,2.0,2,2,1,3,20000,0,0,20000,0,21667,1,28052024,40,3,6,469214,4

In [248]:
df_hh.isna().sum() # checking if there is any  null values in relevant columns

File Identification                                                                                       0
Schdule                                                                                                   0
Quarter                                                                                                   0
Visit                                                                                                     0
Sector                                                                                                    0
State/Ut Code                                                                                             0
District Code                                                                                             0
NSS-Region                                                                                                0
Stratum                                                                                                   0
Sub-Stratum                                                                                               0
Sub-Sample                                                                                                0
Fod Sub-Region                                                                                            0
FSU                                                                                                       0
Sample Sg/Sb No.                                                                                          0
Second Stage Stratum No.                                                                                  0
Sample Household Number                                                                                   0
Month of Survey                                                                                           0
Response Code                                                                                             0
Survey Code                                                                                               0
Reason for Substitution of original household                                                         90233
Household Size                                                                                            0
Household Type                                                                                            0
Religion                                                                                                  0
Social Group                                                                                              0
Household's usual consumer Expenditure in A Month for purposes out of Goods and Services(Rs.)             0
Imputed value of usual consumption in a month out of Home Grown stock (Rs.)                               0
Imputed value of usual consumption in a Month from wages in kind,free collection, gifts etc. (Rs.)        0
Household's Annual Expenditure on purchase of items like clothing, footwear etc.(Rs.)                     0
Household's Annual Expenditure on purchase of durables like Bedstead, TV, fridge etc.(Rs.)                0
Household'S Usual Consumer Expenditure In A Month (Rs.)                                                   0
Informant Serial no.                                                                                      0
Survey Date                                                                                               0
Total Time Taken To Canvass Sch. 10.4                                                                     0
Ns count for sector x stratum x substratum x sub-sample                                                   0
Ns count for sector x stratum x substratum                                                                0
Sub-sample wise Multiplier                                                                                0
Occurence of State x Sector x Stratum x SubStratum in 4 Quarters                                          0
dtype: int64

In [249]:
df_hh.columns # checking columns in the house hold data

Index(['File Identification', 'Schdule', 'Quarter', 'Visit', 'Sector',
       'State/Ut Code', 'District Code', 'NSS-Region', 'Stratum',
       'Sub-Stratum', 'Sub-Sample', 'Fod Sub-Region', 'FSU',
       'Sample Sg/Sb No.', 'Second Stage Stratum No.',
       'Sample Household Number', 'Month of Survey', 'Response Code',
       'Survey Code', 'Reason for Substitution of original household',
       'Household Size', 'Household Type', 'Religion', 'Social Group',
       'Household's usual consumer Expenditure in A Month for purposes out of Goods and Services(Rs.)',
       'Imputed value of usual consumption in a month out of Home Grown stock (Rs.)',
       'Imputed value of usual consumption in a Month from wages in kind,free collection, gifts etc. (Rs.)',
       'Household's Annual Expenditure on purchase of items like clothing, footwear etc.(Rs.)',
       'Household's Annual Expenditure on purchase of durables like Bedstead, TV, fridge etc.(Rs.)',
       'Household'S Usual Consumer Expenditure In A Month (Rs.)',
       'Informant Serial no.', 'Survey Date',
       'Total Time Taken To Canvass Sch. 10.4',
       'Ns count for sector x stratum x substratum x sub-sample',
       'Ns count for sector x stratum x substratum',
       'Sub-sample wise Multiplier',
       'Occurence of State x Sector x Stratum x SubStratum in 4 Quarters'],
      dtype='object')

In [250]:
# Indian states & uts with respective codes
state_code = pd.read_excel(r"C:\Users\samir\Desktop\NSSO_DATA\plfs_23_24\New folder\Data_LayoutPLFS_2023-24.xlsx",sheet_name='State code')

state_code

    State Code                   State Name
0            1              Jammu & Kashmir
1            2             Himachal Pradesh
2            3                       Punjab
3            4                   Chandigarh
4            5                  Uttarakhand
5            6                      Haryana
6            7                        Delhi
7            8                    Rajasthan
8            9                Uttar Pradesh
9           10                        Bihar
10          11                       Sikkim
11          12            Arunachal Pradesh
12          13                     Nagaland
13          14                      Manipur
14          15                      Mizoram
15          16                      Tripura
16          17                    Meghalaya
17          18                        Assam
18          19                  West Bengal
19          20                    Jharkhand
20          21                       Odisha
21          22                 Chhattisgarh
22          23               Madhya Pradesh
23          24                      Gujarat
24          25  D & N. Haveli & Daman & Diu
25          27                  Maharashtra
26          28               Andhra Pradesh
27          29                    Karnataka
28          30                          Goa
29          31                  Lakshadweep
30          32                       Kerala
31          33                    Tamilnadu
32          34                    Puduchery
33          35          Andaman & N. Island
34          36                    Telangana
35          37                       Ladakh

In [251]:
state_code_map = dict(state_code.values)

state_code_map

{1: 'Jammu & Kashmir',
 2: 'Himachal Pradesh',
 3: 'Punjab',
 4: 'Chandigarh',
 5: 'Uttarakhand',
 6: 'Haryana',
 7: 'Delhi',
 8: 'Rajasthan',
 9: 'Uttar Pradesh',
 10: 'Bihar',
 11: 'Sikkim',
 12: 'Arunachal Pradesh',
 13: 'Nagaland',
 14: 'Manipur',
 15: 'Mizoram',
 16: 'Tripura',
 17: 'Meghalaya',
 18: 'Assam',
 19: 'West Bengal',
 20: 'Jharkhand',
 21: 'Odisha',
 22: 'Chhattisgarh',
 23: 'Madhya Pradesh',
 24: 'Gujarat',
 25: 'D & N. Haveli & Daman & Diu',
 27: 'Maharashtra',
 28: 'Andhra Pradesh',
 29: 'Karnataka',
 30: 'Goa',
 31: 'Lakshadweep',
 32: 'Kerala',
 33: 'Tamilnadu',
 34: 'Puduchery',
 35: 'Andaman & N. Island',
 36: 'Telangana',
 37: 'Ladakh'}

In [252]:
religion_code ={1:'Hinduism', 2:'Islam',3:'Christianity', 4:'Sikhism',
               5:'Jainism',6:'Buddhism',7:'Zoroastrianism',9:'others'}

In [253]:
social_group_code = {1:'scheduled tribe', 2: 'scheduled caste', 3:'other backward class', 9:'others'}

In [254]:
df_hh['State/Ut Code'] = df_hh['State/Ut Code'].map(state_code_map)

df_hh['Religion'] = df_hh['Religion'].map(religion_code)

df_hh['Social Group'] = df_hh['Social Group'].map(social_group_code)

In [255]:
df_hh.sample(10)

,File Identification,Schdule,Quarter,Visit,Sector,State/Ut Code,District Code,NSS-Region,Stratum,Sub-Stratum,Sub-Sample,Fod Sub-Region,FSU,Sample Sg/Sb No.,Second Stage Stratum No.,Sample Household Number,Month of Survey,Response Code,Survey Code,Reason for Substitution of original household,Household Size,Household Type,Religion,Social Group,Household's usual consumer Expenditure in A Month for purposes out of Goods and Services(Rs.),Imputed value of usual consumption in a month out of Home Grown stock (Rs.),"Imputed value of usual consumption in a Month from wages in kind,free collection, gifts etc. (Rs.)","Household's Annual Expenditure on purchase of items like clothing, footwear etc.(Rs.)","Household's Annual Expenditure on purchase of durables like Bedstead, TV, fridge etc.(Rs.)",Household'S Usual Consumer Expenditure In A Month (Rs.),Informant Serial no.,Survey Date,Total Time Taken To Canvass Sch. 10.4,Ns count for sector x stratum x substratum x sub-sample,Ns count for sector x stratum x substratum,Sub-sample wise Multiplier,Occurence of State x Sector x Stratum x SubStratum in 4 Quarters
32865,FVH7,104,Q2,V1,1,Assam,26,184,4,2,2,1822,14019,2,2,1,11,2,1,NaN,3,5,Hinduism,others,5300,860,480,6800,8300,7898,1,16112023,50,1,2,2838611,4
279,FVH7,104,Q1,V1,1,Jammu & Kashmir,1,13,3,3,1,122,10120,2,3,1,7,1,1,NaN,4,3,Islam,other backward class,6000,0,1100,7500,12000,8725,2,21072023,40,1,2,2138855,4
15861,FVH7,104,Q1,V1,2,Madhya Pradesh,18,233,3,3,1,2323,21117,1,4,1,9,1,1,NaN,3,1,Islam,others,12600,0,0,9000,1480,13473,2,8092023,50,1,2,458330,4
27009,FVH7,104,Q2,V1,1,Andhra Pradesh,11,283,3,4,1,2813,11026,2,2,1,11,1,1,NaN,7,3,Hinduism,other backward class,14800,0,300,13400,4500,16592,2,27112023,95,1,2,3071228,4
97823,FVH7,104,Q4,V1,2,Uttar Pradesh,7,92,3,3,2,912,24093,1,2,1,4,1,1,NaN,2,9,Hinduism,others,8000,0,0,3500,15000,9542,2,12042024,40,3,6,776894,4
36675,FVH7,104,Q2,V1,1,Bihar,29,102,2,2,2,1020,16063,1,1,1,11,1,1,NaN,5,2,Hinduism,other backward class,1000,800,0,12000,20000,4467,3,11112023,120,1,2,6410595,4
40861,FVH7,104,Q2,V1,2,Manipur,6,141,2,2,2,1410,20662,1,3,4,10,1,1,NaN,1,9,Hinduism,others,2000,0,0,8000,4000,3000,1,12102023,20,8,16,248871,4
81348,FVH7,104,Q4,V1,1,West Bengal,17,193,3,8,1,1920,12584,2,2,2,6,1,1,NaN,3,3,Islam,others,5500,0,160,4000,5000,6410,2,23062024,45,2,4,2887230,4
42365,FVH7,104,Q2,V1,2,Uttar Pradesh,16,95,3,3,2,910,21472,1,2,2,12,1,1,NaN,5,3,Hinduism,scheduled caste,8000,0,200,3000,1800,8600,1,7122023,45,4,8,1727648,4
4713,FVH7,104,Q1,V1,1,Madhya Pradesh,33,234,4,3,1,2330,12544,1,1,2,9,1,1,NaN,4,1,Hinduism,scheduled tribe,6000,1200,1200,6000,14000,10067,2,13092023,85,1,2,1895722,4

In [256]:
# person level data layout 

layout_person = pd.read_excel(r"C:\Users\samir\Desktop\NSSO_DATA\plfs_23_24\New folder\Data_LayoutPLFS_2023-24.xlsx",sheet_name='perv1')

layout_person

,Srl,Full Name,Block,Item /Col.,Field Length,Field_Name,byte_position_1,byte_position_2
0,1,File Identification,NaN,NaN,4,file_id,1,4
1,2,Schdule,1,2,3,sch,5,7
2,3,Quarter,NaN,NaN,2,qtr,8,9
3,4,Visit,NaN,NaN,2,visit,10,11
4,5,Sector,1,3,1,sec,12,12
5,6,State/Ut Code,NaN,NaN,2,st,13,14
6,7,District Code,1,4,2,dc,15,16
7,8,NSS-Region,1,4,3,nss_reg,17,19
8,9,Stratum,1,5,2,strm,20,21
9,10,Sub-Stratum,1,6,2,sstrm,22,23
10,11,Sub-Sample,1,11,1,ss,24,24
11,12,Fod Sub-Region,1,12,4,sro,25,28
12,13,FSU,1,1,5,mfsu,29,33
13,14,Sample Sg/Sb No.,1,13,1,seg,34,34
14,15,Second Stage Stratum No.,1,14,1,sss,35,35
15,16,Sample Household Number,1,15,2,ssu,36,37
16,17,Person Serial No.,4,1,2,srl,38,39
17,18,Relationship To Head,4,4,1,rel,40,40
18,19,Sex,4,5,1,sex,41,41
19,20,Age,4,6,3,age,42,44
20,21,Marital Status,4,7,1,marst,45,45
21,22,General Educaion Level,4,8,2,gedu_lvl,46,47
22,23,Technical Educaion Level,4,9,2,tedu_lvl,48,49
23,24,No. of years in Formal Education,4,10,2,form_edu,50,51
24,25,Status of Current Attendance in Educational In...,4,11,2,curr_att,52,53
25,26,Whether received any Vocational/Technical Trai...,4,12,1,voc,54,54
26,27,Whether Training completed during last 365 Days,4.1,3,1,voc_compl,55,55
27,28,Field Of Training,4.1,4,2,voc_fld,56,57
28,29,Duration Of Training,4.1,5,1,voc_dur,58,58
29,30,Type Of Training,4.1,6,1,voc_typ,59,59
30,31,Source Of Funding The Training,4.1,7,1,voc_fund,60,60
31,32,Status Code_1,5.1,3,2,pas,61,62
32,33,Industry Code (NIC)_1,5.1,5,5,ind_pas,63,67
33,34,Occupation Code (NCO)_1,5.1,6,3,ocu_pas,68,70
34,35,Whether Engaged In Any Work In Subsidiary Capa...,5.1,7,1,has_sas,71,71
35,36,(Principal)location Of Workplace Code,5.1,8,2,loc_pas,72,73
36,37,(Principal) Enterprise Type Code,5.1,9,2,etyp_pas,74,75
37,38,(Principal) No. Of Workers In The Enterprise,5.1,10,1,wrkr_pas,76,76
38,39,(Principal) Type Of Job Contract,5.1,11,1,job_pas,77,77
39,40,(Principal) Eligble Of Paid Leave,5.1,12,1,leave_pas,78,78
40,41,(Principal) Social Security Benefits,5.1,13,1,ssec_pas,79,79
41,42,(Principal) Usage of product of the economic a...,5.1,14,1,ecoprd_pas,80,80
42,43,Status Code,5.2,3,2,sas,81,82
43,44,Industry Code (NIC),5.2,5,5,ind_sas,83,87
44,45,Occupation Code (NCO),5.2,6,3,ocu_sas,88,90
45,46,(Subsidiary) location Of Workplace Code,5.2,7,2,loc_sas,91,92
46,47,(Subsidiary) Enterprise Type Code,5.2,8,2,etyp_sas,93,94
47,48,(Subsidiary) No. Of Workers In The Enterprise,5.2,9,1,wrkr_sas,95,95
48,49,(Subsidiary) Type Of Job Contract,5.2,10,1,job_sas,96,96
49,50,(Subsidiary) Eligble Of Paid Leave,5.2,11,1,leave_sas,97,97
50,51,(Subsidiary) Social Security Benefits,5.2,12,1,ssec_sas,98,98
51,52,(Subsidiary) Usage of product of the economic ...,5.2,13,1,ecoprd_sas,99,99
52,53,Ever Worked Prior to last 365 days,5.3,5,1,wrk_365,100,100
53,54,Duration of engagement in the economic activit...,5.3,6,1,dur_pas,101,101
54,55,Duration of engagement in the economic activit...,5.3,7,1,dur_sas,102,102
55,56,Efforts undertaken to search work,5.3,8,1,eff_pas,103,103
56,57,Duration of spell of Unemployment,5.3,9,1,dur_unp,104,104
57,58,Whether Ever Worked,5.3,10,1,evr_wrk,105,105
58,59,Reason for not working in last 365 days,5.3,11,2,rea_nw,106,107
59,60,Main reason for being in Principal activity st...,5.3,12,1,rea,108,108
60,61,Status Code for activity 1,6,4/3.1,2,das17,109,110
61,62,Industry Code (NIC) for activity 1,6,5/3.1,2,ind17,111,112
62,63,hours actuallly worked for activity 1 on 7 th day,6,6/3.1,2,hr17,113,114
63,64,wage earning for activity 1 on 7 th day,6,9/3.1,5,ern17,115,119
64,65,Status Code for activity 2,6,4/3.1,2,das27,120,121
65,66,Industry Code (NIC) for activity 2,6,5/3.1,2,ind27,122,123
66,67,hours actuallly worked for activity 2 on 7 th day,6,6/3.1,2,hr27,124,125
67,68,wage earning for activity 2 on 7 th day,6,9/3.1,5,ern27,126,130
68,69,total hours actually worked on 7th day,6,7/3.1,2,hr7,131,132
69,70,hours available for aditional worked on 7th day,6,8/3.1,2,ahr7,133,134
70,71,Status Code for activity 1_1,6,4/3.2,2,das16,135,136
71,72,Industry Code (NIC) for activity 1_1,6,5/3.2,2,ind16,137,138
72,73,hours actuallly worked for activity 1 on 6 th day,6,6/3.2,2,hr16,139,140
73,74,wage earning for activity 1 on 7 th day_1,6,9/3.2,5,ern16,141,145
74,75,Status Code for activity 2_1,6,4/3.2,2,das26,146,147
75,76,Industry Code (NIC) for activity 2_1,6,5/3.2,2,ind26,148,149
76,77,hours actuallly worked for activity 2 on 6 th day,6,6/3.2,2,hr26,150,151
77,78,wage earning for activity 2 on 6 th day,6,9/3.2,5,ern26,152,156
78,79,total hours actually worked on 6th day,6,7/3.2,2,hr6,157,158
79,80,hours available for aditional worked on 6th day,6,8/3.2,2,ahr6,159,160
80,81,Status Code for activity 1_2,6,4/3.3,2,das15,161,162
81,82,Industry Code (NIC) for activity 1_2,6,5/3.3,2,ind15,163,164
82,83,hours actuallly worked for activity 1 on5 th day,6,6/3.3,2,hr15,165,166
83,84,wage earning for activity 1 on 5 th day,6,9/3.3,5,ern15,167,171
84,85,Status Code for activity 2_2,6,4/3.3,2,das25,172,173
85,86,Industry Code (NIC) for activity 2_2,6,5/3.3,2,ind25,174,175
86,87,hours actuallly worked for activity 2 on 5 th day,6,6/3.3,2,hr25,176,177
87,88,wage earning for activity 2 on 5 th day,6,9/3.3,5,ern25,178,182
88,89,total hours actually worked on 5th day,6,7/3.3,2,hr5,183,184
89,90,hours available for aditional worked on 5th day,6,8/3.3,2,ahr5,185,186
90,91,Status Code for activity 1_1_1,6,4/3.4,2,das14,187,188
91,92,Industry Code (NIC) for activity 1_1_1,6,5/3.4,2,ind14,189,190
92,93,hours actuallly worked for activity 1 on 4th day,6,6/3.4,2,hr14,191,192
93,94,wage earning for activity 1 on 4th day,6,9/3.4,5,ern14,193,197
94,95,Status Code for activity 2_3,6,4/3.4,2,das24,198,199
95,96,Industry Code (NIC) for activity 2_3,6,5/3.4,2,ind24,200,201
96,97,hours actuallly worked for activity 2 on 4th day,6,6/3.4,2,hr24,202,203
97,98,wage earning for activity 2 on 4th day,6,9/3.4,5,ern24,204,208
98,99,total hours actually worked on 4th day,6,7/3.4,2,hr4,209,210
99,100,hours available for aditional worked on 4th day,6,8/3.4,2,ahr4,211,212
100,101,Status Code for activity 1_3,6,4/3.5,2,das13,213,214
101,102,Industry Code (NIC) for activity 1_3,6,5/3.5,2,ind13,215,216
102,103,hours actuallly worked for activity 1 on 3rd day,6,6/3.5,2,hr13,217,218
103,104,wage earning for activity 1 on 3rd day,6,9/3.5,5,ern13,219,223
104,105,Status Code for activity 2_4,6,4/3.5,2,das23,224,225
105,106,Industry Code (NIC) for activity 2_4,6,5/3.5,2,ind23,226,227
106,107,hours actuallly worked for activity 2 on 3rd day,6,6/3.5,2,hr23,228,229
107,108,wage earning for activity 2 on 3 rd day,6,9/3.5,5,ern23,230,234
108,109,total hours actually worked on 3rd day,6,7/3.5,2,hr3,235,236
109,110,hours available for aditional worked on 3rd day,6,8/3.5,2,ahr3,237,238
110,111,Status Code for activity 1_4,6,4/3.6,2,das12,239,240
111,112,Industry Code (NIC) for activity 1_4,6,5/3.6,2,ind12,241,242
112,113,hours actuallly worked for activity 1 on 2nd day,6,6/3.6,2,hr12,243,244
113,114,wage earning for activity 1 on 2nd day,6,9/3.6,5,ern12,245,249
114,115,Status Code for activity 2_5,6,4/3.6,2,das22,250,251
115,116,Industry Code (NIC) for activity 2_5,6,5/3.6,2,ind22,252,253
116,117,hours actuallly worked for activity 2 on 2nd day,6,6/3.6,2,hr22,254,255
117,118,wage earning for activity 2 on 2nd day,6,9/3.6,5,ern22,256,260
118,119,total hours actually worked on 2nd day,6,7/3.6,2,hr2,261,262
119,120,hours available for aditional worked on 2nd day,6,8/3.6,2,ahr2,263,264
120,121,Status Code for activity 1_5,6,4/3.7,2,das11,265,266
121,122,Industry Code (NIC) for activity 1_5,6,5/3.7,2,ind11,267,268
122,123,hours actuallly worked for activity 1 on 1st day,6,6/3.7,2,hr11,269,270
123,124,wage earning for activity 1 on 1st day,6,9/3.7,5,ern11,271,275
124,125,Status Code for activity 2_6,6,4/3.7,2,das21,276,277
125,126,Industry Code (NIC) for activity 2_6,6,5/3.7,2,ind21,278,279
126,127,hours actuallly worked for activity 2 on 1st day,6,6/3.7,2,hr21,280,281
127,128,wage earning for activity 2 on 1st day,6,9/3.7,5,ern21,282,286
128,129,total hours actually worked on 1st day,6,7/3.7,2,hr1,287,288
129,130,hours available for aditional worked on 1st day,6,8/3.7,2,ahr1,289,290
130,131,Current Weekly Status (CWS),6,5,2,acws,291,292
131,132,Industry Code (CWS),6,6,2,aind_cws,293,294
132,133,Occupation Code (CWS),6,7,3,ocu_cws,295,297
133,134,Earnings For Regular Salaried/Wage Activity,6,9,8,ern_reg,298,305
134,135,Earnings For Self Employed,6,10,8,ern_self,306,313
135,136,Ns count for sector x stratum x substratum x s...,Generated,NaN,3,nss,314,316
136,137,Ns count for sector x stratum x substratum,Generated,NaN,3,nsc,317,319
137,138,Sub-sample wise Multiplier,Generated,NaN,10,mult,320,329
138,139,Occurence of FSUs in State x Sector x Stratum ...,Generated,NaN,1,no_qtr,330,330

In [257]:
field_length_person = layout_person['Field Length'].to_list()

col_name_person = layout_person['Full Name'].to_list()

In [258]:
df_persons = pd.read_fwf(r"C:\Users\samir\Desktop\NSSO_DATA\plfs_23_24\New folder\PERV1.TXT",widths=field_length_person,
           names = col_name_person)

df_persons

,File Identification,Schdule,Quarter,Visit,Sector,State/Ut Code,District Code,NSS-Region,Stratum,Sub-Stratum,Sub-Sample,Fod Sub-Region,FSU,Sample Sg/Sb No.,Second Stage Stratum No.,Sample Household Number,Person Serial No.,Relationship To Head,Sex,Age,Marital Status,General Educaion Level,Technical Educaion Level,No. of years in Formal Education,Status of Current Attendance in Educational Institution,Whether received any Vocational/Technical Training,Whether Training completed during last 365 Days,Field Of Training,Duration Of Training,Type Of Training,Source Of Funding The Training,Status Code_1,Industry Code (NIC)_1,Occupation Code (NCO)_1,Whether Engaged In Any Work In Subsidiary Capacity,(Principal)location Of Workplace Code,(Principal) Enterprise Type Code,(Principal) No. Of Workers In The Enterprise,(Principal) Type Of Job Contract,(Principal) Eligble Of Paid Leave,(Principal) Social Security Benefits,(Principal) Usage of product of the economic activity,Status Code,Industry Code (NIC),Occupation Code (NCO),(Subsidiary) location Of Workplace Code,(Subsidiary) Enterprise Type Code,(Subsidiary) No. Of Workers In The Enterprise,(Subsidiary) Type Of Job Contract,(Subsidiary) Eligble Of Paid Leave,(Subsidiary) Social Security Benefits,(Subsidiary) Usage of product of the economic activity,Ever Worked Prior to last 365 days,Duration of engagement in the economic activity in usual Principal Activity Status,Duration of engagement in the economic activity in Subsidiary Activity Status,Efforts undertaken to search work,Duration of spell of Unemployment,Whether Ever Worked,Reason for not working in last 365 days,Main reason for being in Principal activity status (91 to 97),Status Code for activity 1,Industry Code (NIC) for activity 1,hours actuallly worked for activity 1 on 7 th day,wage earning for activity 1 on 7 th day,Status Code for activity 2,Industry Code (NIC) for activity 2,hours actuallly worked for activity 2 on 7 th day,wage earning for activity 2 on 7 th day,total hours actually worked on 7th day,hours available for aditional worked on 7th day,Status Code for activity 1_1,Industry Code (NIC) for activity 1_1,hours actuallly worked for activity 1 on 6 th day,wage earning for activity 1 on 7 th day_1,Status Code for activity 2_1,Industry Code (NIC) for activity 2_1,hours actuallly worked for activity 2 on 6 th day,wage earning for activity 2 on 6 th day,total hours actually worked on 6th day,hours available for aditional worked on 6th day,Status Code for activity 1_2,Industry Code (NIC) for activity 1_2,hours actuallly worked for activity 1 on5 th day,wage earning for activity 1 on 5 th day,Status Code for activity 2_2,Industry Code (NIC) for activity 2_2,hours actuallly worked for activity 2 on 5 th day,wage earning for activity 2 on 5 th day,total hours actually worked on 5th day,hours available for aditional worked on 5th day,Status Code for activity 1_1_1,Industry Code (NIC) for activity 1_1_1,hours actuallly worked for activity 1 on 4th day,wage earning for activity 1 on 4th day,Status Code for activity 2_3,Industry Code (NIC) for activity 2_3,hours actuallly worked for activity 2 on 4th day,wage earning for activity 2 on 4th day,total hours actually worked on 4th day,hours available for aditional worked on 4th day,Status Code for activity 1_3,Industry Code (NIC) for activity 1_3,hours actuallly worked for activity 1 on 3rd day,wage earning for activity 1 on 3rd day,Status Code for activity 2_4,Industry Code (NIC) for activity 2_4,hours actuallly worked for activity 2 on 3rd day,wage earning for activity 2 on 3 rd day,total hours actually worked on 3rd day,hours available for aditional worked on 3rd day,Status Code for activity 1_4,Industry Code (NIC) for activity 1_4,hours actuallly worked for activity 1 on 2nd day,wage earning for activity 1 on 2nd day,Status Code for activity 2_5,Industry Code (NIC) for activity 2_5,hours actuallly worked for activity 2 on 2nd day,wage earning for activity 2 on 2nd day,total hours actually worked on 2nd day,hours available for aditional worked on 2nd day,Status Code for activity 1_5,Industry Code (NIC) for activity 1_5,hours actuallly worked for activity 1 on 1st day,wage earning for activity 1 on 1st day,Status Code for activity 2_6,Industry Code (NIC) for activity 2_6,hours actuallly worked for activity 2 on 1st day,wage earning for activity 2 on 1st day,total hours actually worked on 1st day,hours available for aditional worked on 1st day,Current Weekly Status (CWS),Industry Code (CWS),Occupation Code (CWS),Earnings For Regular Salaried/Wage Activity,Earnings For Self Employed,Ns count for sector x stratum x substratum x sub-sample,Ns count for sector x stratum x substratum,Sub-sample wise Multiplier,Occurence of FSUs in State x Sector x Stratum x SubStratum in 4 Quarters
0,FVP7,104,Q1,V1,1,2,4,21,1,14,1,213,10002,1,1,1,1,1,1,72,2,8,1,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,5.0,3.0,94,NaN,0,0,NaN,NaN,0,0,0,0,94,NaN,0,0,NaN,NaN,0,0,0,0,94,NaN,0,0,NaN,NaN,0,0,0,0,94,NaN,0,0,NaN,NaN,0,0,0,0,94,NaN,0,0,NaN,NaN,0,0,0,0,94,NaN,0,0,NaN,NaN,0,0,0,0,94,NaN,0,0,NaN,NaN,0,0,0,0,94,NaN,NaN,0,0,2,4,246798,4
1,FVP7,104,Q1,V1,1,2,4,21,1,14,1,213,10002,1,1,1,2,2,2,65,2,6,1,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,93,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,8.0,3.0,93,NaN,0,0,NaN,NaN,0,0,0,0,93,NaN,0,0,NaN,NaN,0,0,0,0,93,NaN,0,0,NaN,NaN,0,0,0,0,93,NaN,0,0,NaN,NaN,0,0,0,0,93,NaN,0,0,NaN,NaN,0,0,0,0,93,NaN,0,0,NaN,NaN,0,0,0,0,93,NaN,0,0,NaN,NaN,0,0,0,0,93,NaN,NaN,0,0,2,4,246798,4
2,FVP7,104,Q1,V1,1,2,4,21,1,14,1,213,10002,1,1,1,3,3,1,40,2,8,1,10,NaN,2.0,NaN,NaN,NaN,NaN,NaN,11,1132.0,611.0,2,NaN,1.0,1.0,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,11,1.0,4,0,NaN,NaN,0,0,4,0,11,1.0,5,0,NaN,NaN,0,0,5,3,11,1.0,4,0,NaN,NaN,0,0,4,3,11,1.0,5,0,NaN,NaN,0,0,5,2,11,1.0,6,0,NaN,NaN,0,0,6,0,11,1.0,5,0,NaN,NaN,0,0,5,2,11,1.0,6,0,NaN,NaN,0,0,6,0,11,1.0,611.0,0,6500,2,4,246798,4
3,FVP7,104,Q1,V1,1,2,4,21,1,14,1,213,10002,1,1,1,4,4,2,35,2,8,1,10,NaN,2.0,NaN,NaN,NaN,NaN,NaN,21,1132.0,611.0,2,NaN,1.0,1.0,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,21,1.0,4,0,NaN,NaN,0,0,4,3,21,1.0,5,0,NaN,NaN,0,0,5,3,21,1.0,6,0,NaN,NaN,0,0,6,2,21,1.0,4,0,NaN,NaN,0,0,4,4,21,1.0,5,0,NaN,NaN,0,0,5,0,21,1.0,4,0,NaN,NaN,0,0,4,3,21,1.0,5,0,NaN,NaN,0,0,5,3,21,1.0,611.0,0,0,2,4,246798,4
4,FVP7,104,Q1,V1,1,2,4,21,1,14,1,213,10002,1,1,1,5,6,1,15,1,7,1,9,26.0,6.0,NaN,NaN,NaN,NaN,NaN,91,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,4.0,91,NaN,0,0,NaN,NaN,0,0,0,0,91,NaN,0,0,NaN,NaN,0,0,0,0,91,NaN,0,0,NaN,NaN,0,0,0,0,91,NaN,0,0,NaN,NaN,0,0,0,0,91,NaN,0,0,NaN,NaN,0,0,0,0,91,NaN,0,0,NaN,NaN,0,0,0,0,91,NaN,0,0,NaN,NaN,0,0,0,0,91,NaN,NaN,0,0,2,4,246798,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
418154,FVP7,104,Q4,V1,2,28,3,281,4,4,2,2822,26235,1,3,1,1,1,1,70,3,13,16,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0,69100.0,261.0,24.0,1.0,1.0,NaN,NaN,NaN,NaN,1.0,NaN,5.0,NaN,NaN,NaN,NaN,NaN,11,69.0,9,0,NaN,NaN,0,0,9,0,81,NaN,0,0,NaN,NaN,0,0,0,0,81,NaN,0,0,NaN,NaN,0,0,0,0,11,69.0,8,0,NaN,NaN,0,0,8,0,11,69.0,5,0,NaN,NaN,0,0,5,0,11,69.0,5,0,NaN,NaN,0,0,5,0,11,69.0,5,0,NaN,NaN,0,0,5,0,11,69.0,261.0,0,25000,3,6,733146,4
418155,FVP7,104,Q4,V1,2,28,3,281,4,4,2,2822,26235,1,3,2,1,1,2,70,3,12,1,15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,5.0,3.0,94,NaN,0,0,NaN,NaN,0,0,0,0,94,NaN,0,0,NaN,NaN,0,0,0,0,94,NaN,0,0,NaN,NaN,0,0,0,0,94,NaN,0,0,NaN,NaN,0,0,0,0,94,NaN,0,0,NaN,NaN,0,0,0,0,94,NaN,0,0,NaN,NaN,0,0,0,0,94,NaN,0,0,NaN,NaN,0,0,0,0,94,NaN,NaN,0,0,3,6,733146,4
418156,FVP7,104,Q4,V1,2,28,3,281,4,4,2,2822,26235,1,4,1,1,1,1,68,3,10,1,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,5.0,3.0,94,NaN,0,0,NaN,NaN,0,0,0,0,94,NaN,0,0,NaN,NaN,0,0,0,0,94,NaN,0,0,NaN,NaN,0,0,0,0,94,NaN,0,0,NaN,NaN,0,0,0,0,94,NaN,0,0,NaN,NaN,0,0,0,0,94,NaN,0,0,NaN,NaN,0,0,0,0,94,NaN,0,0,NaN,NaN,0,0,0,0,94,NaN,NaN,0,0,3,6,469214,4
418157,FVP7,104,Q4,V1,2,28,3,281,4,4,2,2822,26235,1,4,2,1,1,1,58,2,13,1,17,NaN,1.0,1.0,15.0,4.0,3.0,2.0,31,49110.0,313.0,2,26.0,5.0,4.0,4.0,1.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,31,49.0,9,0,NaN,NaN,0,0,9,0,31,49.0,8,0,NaN,NaN,0,0,8,0,31,49.0,8,0,NaN,NaN,0,0,8,0,31,49.0,8,0,NaN,NaN,0,0,8,0,31,49.0,9,0,NaN,NaN,0,0,9,0,31,49.0,8,0,NaN,NaN,0,0,8,0,31,49.0,8,0,NaN,NaN,0,0,8,0,31,49.0,313.0,52500,0,3,6,469214,4
418158,FVP7,104,Q4,V1,2,28,3,281,4,4,2,2822,26235,1,4,2,2,2,2,57,2,13,1,16,NaN,6.0,NaN,NaN,NaN,NaN,NaN,31,85211.0,233.0,2,26.0,6.0,4.0,4.0,1.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,31,85.0,9,0,NaN,NaN,0,0,9,0,31,85.0,9,0,NaN,NaN,0,0,9,0,31,85.0,8,0,NaN,NaN,0,0,8,0,31,85.0,9,0,NaN,NaN,0,0,9,0,31,85.0,9,0,NaN,NaN,0,0,9,0,31,85.0,9,0,NaN,NaN,0,0,9,0,31,85.0,9,0,NaN,NaN,0,0,9,0,31,85.0,233.0,25000,0,3,6,469214,4

In [259]:
df_persons.columns.values

array(['File Identification', 'Schdule', 'Quarter', 'Visit', 'Sector',
       'State/Ut Code', 'District Code', 'NSS-Region', 'Stratum',
       'Sub-Stratum', 'Sub-Sample', 'Fod Sub-Region', 'FSU',
       'Sample Sg/Sb No.', 'Second Stage Stratum No.',
       'Sample Household Number', 'Person Serial No.',
       'Relationship To Head', 'Sex', 'Age', 'Marital Status',
       'General Educaion Level', 'Technical Educaion Level',
       'No. of years in Formal Education',
       'Status of Current Attendance in Educational Institution',
       'Whether received any Vocational/Technical Training',
       'Whether Training completed during last 365 Days',
       'Field Of Training', 'Duration Of Training', 'Type Of Training',
       'Source Of Funding The Training', 'Status Code_1',
       'Industry Code (NIC)_1', 'Occupation Code (NCO)_1',
       'Whether Engaged In Any Work In Subsidiary Capacity',
       '(Principal)location Of Workplace Code',
       '(Principal) Enterprise Type Code',
       '(Principal) No. Of Workers In The Enterprise',
       '(Principal)  Type Of Job Contract',
       '(Principal) Eligble Of Paid Leave',
       '(Principal) Social Security Benefits',
       '(Principal) Usage of product of the economic activity',
       'Status Code', 'Industry Code (NIC)', 'Occupation Code (NCO)',
       '(Subsidiary) location Of Workplace Code',
       '(Subsidiary)  Enterprise Type Code',
       '(Subsidiary)  No. Of Workers In The Enterprise',
       '(Subsidiary)   Type Of Job Contract',
       '(Subsidiary)  Eligble Of Paid Leave',
       '(Subsidiary)  Social Security Benefits',
       '(Subsidiary) Usage of product of the economic activity',
       'Ever Worked Prior to last 365 days',
       'Duration of engagement in the economic activity in usual Principal Activity Status',
       'Duration of engagement in the economic activity in Subsidiary Activity Status',
       'Efforts undertaken to search work',
       'Duration of spell of Unemployment', 'Whether Ever Worked ',
       ' Reason for not working in last 365 days',
       'Main reason for being in Principal activity status (91 to 97) ',
       'Status Code for activity 1', 'Industry Code (NIC) for activity 1',
       'hours actuallly worked for activity 1 on 7 th day',
       'wage earning for activity 1 on 7 th day',
       'Status Code for activity 2', 'Industry Code (NIC) for activity 2',
       'hours actuallly worked for activity 2 on 7 th day',
       'wage earning for activity 2 on 7 th day',
       'total hours actually worked on 7th day',
       'hours available for aditional worked on 7th day',
       'Status Code for activity 1_1',
       'Industry Code (NIC) for activity 1_1',
       'hours actuallly worked for activity 1 on 6 th day',
       'wage earning for activity 1 on 7 th day_1',
       'Status Code for activity 2_1',
       'Industry Code (NIC) for activity 2_1',
       'hours actuallly worked for activity 2 on 6 th day',
       'wage earning for activity 2 on 6 th day',
       'total hours actually worked on 6th day',
       'hours available for aditional worked on 6th day',
       'Status Code for activity 1_2',
       'Industry Code (NIC) for activity 1_2',
       'hours actuallly worked for activity 1 on5 th day',
       'wage earning for activity 1 on 5 th day',
       'Status Code for activity 2_2',
       'Industry Code (NIC) for activity 2_2',
       'hours actuallly worked for activity 2 on 5 th day',
       'wage earning for activity 2 on 5 th day',
       'total hours actually worked on 5th day',
       'hours available for aditional worked on 5th day',
       'Status Code for activity 1_1_1',
       'Industry Code (NIC) for activity 1_1_1',
       'hours actuallly worked for activity 1 on 4th day',
       'wage earning for activity 1 on 4th day',
       'Status Code for activity 2_3',
       'Industry Code (NIC) for activity 2_3',
       'hours actuallly worked for activity 2 on 4th day',
       'wage earning for activity 2 on 4th day',
       'total hours actually worked on 4th day',
       'hours available for aditional worked on 4th day',
       'Status Code for activity 1_3',
       'Industry Code (NIC) for activity 1_3',
       'hours actuallly worked for activity 1 on 3rd day',
       'wage earning for activity 1 on 3rd day',
       'Status Code for activity 2_4',
       'Industry Code (NIC) for activity 2_4',
       'hours actuallly worked for activity 2 on 3rd day',
       'wage earning for activity 2 on 3 rd day',
       'total hours actually worked on 3rd day',
       'hours available for aditional worked on 3rd day',
       'Status Code for activity 1_4',
       'Industry Code (NIC) for activity 1_4',
       'hours actuallly worked for activity 1 on 2nd day',
       'wage earning for activity 1 on 2nd day',
       'Status Code for activity 2_5',
       'Industry Code (NIC) for activity 2_5',
       'hours actuallly worked for activity 2 on 2nd day',
       'wage earning for activity 2 on 2nd day',
       'total hours actually worked on 2nd day',
       'hours available for aditional worked on 2nd day',
       'Status Code for activity 1_5',
       'Industry Code (NIC) for activity 1_5',
       'hours actuallly worked for activity 1 on 1st day',
       'wage earning for activity 1 on 1st day',
       'Status Code for activity 2_6',
       'Industry Code (NIC) for activity 2_6',
       'hours actuallly worked for activity 2 on 1st day',
       'wage earning for activity 2 on 1st day',
       'total hours actually worked on 1st day',
       'hours available for aditional worked on 1st day',
       'Current Weekly Status (CWS)', 'Industry Code (CWS)',
       'Occupation Code (CWS)',
       'Earnings For Regular Salaried/Wage Activity',
       'Earnings For Self Employed',
       'Ns count for sector x stratum x substratum x sub-sample',
       'Ns count for sector x stratum x substratum',
       'Sub-sample wise Multiplier',
       'Occurence of FSUs in State x Sector x Stratum x SubStratum in 4 Quarters'],
      dtype=object)

In [260]:
gen_edu_code = {1:'not literate',2:'literate without formal schooling',3:'TLC',4:'others',
               5:'literate: below primary',6:'primary',7:'middle',8:'secondary',10:'higher secondary',
               11:'diploma/certificate course',12:'graduate',13:'postgraduate and above'}

In [261]:
technical_edu_code = {1:'no technical education',2:'technical degree in: agriculture',3:'engineering/ technology',
                     4:'medicine',5:'crafts',6:'other subjects',
                      7:'diploma or certificate (below graduate level) in: agriculture',
                     8:'diploma or certificate (below graduate level) in: engineering/technology',
                     9:'diploma or certificate (below graduate level) in: medicine',
                     10:'diploma or certificate (below graduate level) in: crafts',
                     11:'diploma or certificate (below graduate level) in: other subjects',
                     12:'diploma or certificate (graduate and above level) in: agriculture',
                     13:'diploma or certificate (graduate and above level) in:engineering/technology',
                     14:'diploma or certificate (graduate and above level) in:medicine',
                     15:'diploma or certificate (graduate and above level) in:crafts',
                     16:'diploma or certificate (graduate and above level) in:other subjects'}

In [262]:
df_persons['Status Code_1'].value_counts() # usual principal status

Status Code_1
91    108977
11     61281
92     59028
31     46445
99     29787
51     28151
21     21491
93     20604
94     18212
81      8780
12      6309
97      4207
95      4041
41       846
Name: count, dtype: int64

In [263]:
df_persons['State/Ut Code'] = df_persons['State/Ut Code'].map(state_code_map)

df_persons['General Educaion Level'] = df_persons['General Educaion Level'].map(gen_edu_code)

df_persons['Technical Educaion Level'] = df_persons['Technical Educaion Level'].map(technical_edu_code)

In [264]:
df_persons

,File Identification,Schdule,Quarter,Visit,Sector,State/Ut Code,District Code,NSS-Region,Stratum,Sub-Stratum,Sub-Sample,Fod Sub-Region,FSU,Sample Sg/Sb No.,Second Stage Stratum No.,Sample Household Number,Person Serial No.,Relationship To Head,Sex,Age,Marital Status,General Educaion Level,Technical Educaion Level,No. of years in Formal Education,Status of Current Attendance in Educational Institution,Whether received any Vocational/Technical Training,Whether Training completed during last 365 Days,Field Of Training,Duration Of Training,Type Of Training,Source Of Funding The Training,Status Code_1,Industry Code (NIC)_1,Occupation Code (NCO)_1,Whether Engaged In Any Work In Subsidiary Capacity,(Principal)location Of Workplace Code,(Principal) Enterprise Type Code,(Principal) No. Of Workers In The Enterprise,(Principal) Type Of Job Contract,(Principal) Eligble Of Paid Leave,(Principal) Social Security Benefits,(Principal) Usage of product of the economic activity,Status Code,Industry Code (NIC),Occupation Code (NCO),(Subsidiary) location Of Workplace Code,(Subsidiary) Enterprise Type Code,(Subsidiary) No. Of Workers In The Enterprise,(Subsidiary) Type Of Job Contract,(Subsidiary) Eligble Of Paid Leave,(Subsidiary) Social Security Benefits,(Subsidiary) Usage of product of the economic activity,Ever Worked Prior to last 365 days,Duration of engagement in the economic activity in usual Principal Activity Status,Duration of engagement in the economic activity in Subsidiary Activity Status,Efforts undertaken to search work,Duration of spell of Unemployment,Whether Ever Worked,Reason for not working in last 365 days,Main reason for being in Principal activity status (91 to 97),Status Code for activity 1,Industry Code (NIC) for activity 1,hours actuallly worked for activity 1 on 7 th day,wage earning for activity 1 on 7 th day,Status Code for activity 2,Industry Code (NIC) for activity 2,hours actuallly worked for activity 2 on 7 th day,wage earning for activity 2 on 7 th day,total hours actually worked on 7th day,hours available for aditional worked on 7th day,Status Code for activity 1_1,Industry Code (NIC) for activity 1_1,hours actuallly worked for activity 1 on 6 th day,wage earning for activity 1 on 7 th day_1,Status Code for activity 2_1,Industry Code (NIC) for activity 2_1,hours actuallly worked for activity 2 on 6 th day,wage earning for activity 2 on 6 th day,total hours actually worked on 6th day,hours available for aditional worked on 6th day,Status Code for activity 1_2,Industry Code (NIC) for activity 1_2,hours actuallly worked for activity 1 on5 th day,wage earning for activity 1 on 5 th day,Status Code for activity 2_2,Industry Code (NIC) for activity 2_2,hours actuallly worked for activity 2 on 5 th day,wage earning for activity 2 on 5 th day,total hours actually worked on 5th day,hours available for aditional worked on 5th day,Status Code for activity 1_1_1,Industry Code (NIC) for activity 1_1_1,hours actuallly worked for activity 1 on 4th day,wage earning for activity 1 on 4th day,Status Code for activity 2_3,Industry Code (NIC) for activity 2_3,hours actuallly worked for activity 2 on 4th day,wage earning for activity 2 on 4th day,total hours actually worked on 4th day,hours available for aditional worked on 4th day,Status Code for activity 1_3,Industry Code (NIC) for activity 1_3,hours actuallly worked for activity 1 on 3rd day,wage earning for activity 1 on 3rd day,Status Code for activity 2_4,Industry Code (NIC) for activity 2_4,hours actuallly worked for activity 2 on 3rd day,wage earning for activity 2 on 3 rd day,total hours actually worked on 3rd day,hours available for aditional worked on 3rd day,Status Code for activity 1_4,Industry Code (NIC) for activity 1_4,hours actuallly worked for activity 1 on 2nd day,wage earning for activity 1 on 2nd day,Status Code for activity 2_5,Industry Code (NIC) for activity 2_5,hours actuallly worked for activity 2 on 2nd day,wage earning for activity 2 on 2nd day,total hours actually worked on 2nd day,hours available for aditional worked on 2nd day,Status Code for activity 1_5,Industry Code (NIC) for activity 1_5,hours actuallly worked for activity 1 on 1st day,wage earning for activity 1 on 1st day,Status Code for activity 2_6,Industry Code (NIC) for activity 2_6,hours actuallly worked for activity 2 on 1st day,wage earning for activity 2 on 1st day,total hours actually worked on 1st day,hours available for aditional worked on 1st day,Current Weekly Status (CWS),Industry Code (CWS),Occupation Code (CWS),Earnings For Regular Salaried/Wage Activity,Earnings For Self Employed,Ns count for sector x stratum x substratum x sub-sample,Ns count for sector x stratum x substratum,Sub-sample wise Multiplier,Occurence of FSUs in State x Sector x Stratum x SubStratum in 4 Quarters
0,FVP7,104,Q1,V1,1,Himachal Pradesh,4,21,1,14,1,213,10002,1,1,1,1,1,1,72,2,secondary,no technical education,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,5.0,3.0,94,NaN,0,0,NaN,NaN,0,0,0,0,94,NaN,0,0,NaN,NaN,0,0,0,0,94,NaN,0,0,NaN,NaN,0,0,0,0,94,NaN,0,0,NaN,NaN,0,0,0,0,94,NaN,0,0,NaN,NaN,0,0,0,0,94,NaN,0,0,NaN,NaN,0,0,0,0,94,NaN,0,0,NaN,NaN,0,0,0,0,94,NaN,NaN,0,0,2,4,246798,4
1,FVP7,104,Q1,V1,1,Himachal Pradesh,4,21,1,14,1,213,10002,1,1,1,2,2,2,65,2,primary,no technical education,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,93,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,8.0,3.0,93,NaN,0,0,NaN,NaN,0,0,0,0,93,NaN,0,0,NaN,NaN,0,0,0,0,93,NaN,0,0,NaN,NaN,0,0,0,0,93,NaN,0,0,NaN,NaN,0,0,0,0,93,NaN,0,0,NaN,NaN,0,0,0,0,93,NaN,0,0,NaN,NaN,0,0,0,0,93,NaN,0,0,NaN,NaN,0,0,0,0,93,NaN,NaN,0,0,2,4,246798,4
2,FVP7,104,Q1,V1,1,Himachal Pradesh,4,21,1,14,1,213,10002,1,1,1,3,3,1,40,2,secondary,no technical education,10,NaN,2.0,NaN,NaN,NaN,NaN,NaN,11,1132.0,611.0,2,NaN,1.0,1.0,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,11,1.0,4,0,NaN,NaN,0,0,4,0,11,1.0,5,0,NaN,NaN,0,0,5,3,11,1.0,4,0,NaN,NaN,0,0,4,3,11,1.0,5,0,NaN,NaN,0,0,5,2,11,1.0,6,0,NaN,NaN,0,0,6,0,11,1.0,5,0,NaN,NaN,0,0,5,2,11,1.0,6,0,NaN,NaN,0,0,6,0,11,1.0,611.0,0,6500,2,4,246798,4
3,FVP7,104,Q1,V1,1,Himachal Pradesh,4,21,1,14,1,213,10002,1,1,1,4,4,2,35,2,secondary,no technical education,10,NaN,2.0,NaN,NaN,NaN,NaN,NaN,21,1132.0,611.0,2,NaN,1.0,1.0,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,21,1.0,4,0,NaN,NaN,0,0,4,3,21,1.0,5,0,NaN,NaN,0,0,5,3,21,1.0,6,0,NaN,NaN,0,0,6,2,21,1.0,4,0,NaN,NaN,0,0,4,4,21,1.0,5,0,NaN,NaN,0,0,5,0,21,1.0,4,0,NaN,NaN,0,0,4,3,21,1.0,5,0,NaN,NaN,0,0,5,3,21,1.0,611.0,0,0,2,4,246798,4
4,FVP7,104,Q1,V1,1,Himachal Pradesh,4,21,1,14,1,213,10002,1,1,1,5,6,1,15,1,middle,no technical education,9,26.0,6.0,NaN,NaN,NaN,NaN,NaN,91,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,4.0,91,NaN,0,0,NaN,NaN,0,0,0,0,91,NaN,0,0,NaN,NaN,0,0,0,0,91,NaN,0,0,NaN,NaN,0,0,0,0,91,NaN,0,0,NaN,NaN,0,0,0,0,91,NaN,0,0,NaN,NaN,0,0,0,0,91,NaN,0,0,NaN,NaN,0,0,0,0,91,NaN,0,0,NaN,NaN,0,0,0,0,91,NaN,NaN,0,0,2,4,246798,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
418154,FVP7,104,Q4,V1,2,Andhra Pradesh,3,281,4,4,2,2822,26235,1,3,1,1,1,1,70,3,postgraduate and above,diploma or certificate (graduate and above lev...,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0,69100.0,261.0,24.0,1.0,1.0,NaN,NaN,NaN,NaN,1.0,NaN,5.0,NaN,NaN,NaN,NaN,NaN,11,69.0,9,0,NaN,NaN,0,0,9,0,81,NaN,0,0,NaN,NaN,0,0,0,0,81,NaN,0,0,NaN,NaN,0,0,0,0,11,69.0,8,0,NaN,NaN,0,0,8,0,11,69.0,5,0,NaN,NaN,0,0,5,0,11,69.0,5,0,NaN,NaN,0,0,5,0,11,69.0,5,0,NaN,NaN,0,0,5,0,11,69.0,261.0,0,25000,3,6,733146,4
418155,FVP7,104,Q4,V1,2,Andhra Pradesh,3,281,4,4,2,2822,26235,1,3,2,1,1,2,70,3,graduate,no technical education,15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,5.0,3.0,94,NaN,0,0,NaN,NaN,0,0,0,0,94,NaN,0,0,NaN,NaN,0,0,0,0,94,NaN,0,0,NaN,NaN,0,0,0,0,94,NaN,0,0,NaN,NaN,0,0,0,0,94,NaN,0,0,NaN,NaN,0,0,0,0,94,NaN,0,0,NaN,NaN,0,0,0,0,94,NaN,0,0,NaN,NaN,0,0,0,0,94,NaN,NaN,0,0,3,6,733146,4
418156,FVP7,104,Q4,V1,2,Andhra Pradesh,3,281,4,4,2,2822,26235,1,4,1,1,1,1,68,3,higher secondary,no technical education,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,5.0,3.0,94,NaN,0,0,NaN,NaN,0,0,0,0,94,NaN,0,0,NaN,NaN,0,0,0,0,94,NaN,0,0,NaN,NaN,0,0,0,0,94,NaN,0,0,NaN,NaN,0,0,0,0,94,NaN,0,0,NaN,NaN,0,0,0,0,94,NaN,0,0,NaN,NaN,0,0,0,0,94,NaN,0,0,NaN,NaN,0,0,0,0,94,NaN,NaN,0,0,3,6,469214,4
418157,FVP7,104,Q4,V1,2,Andhra Pradesh,3,281,4,4,2,2822,26235,1,4,2,1,1,1,58,2,postgraduate and above,no technical education,17,NaN,1.0,1.0,15.0,4.0,3.0,2.0,31,49110.0,313.0,2,26.0,5.0,4.0,4.0,1.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,31,49.0,9,0,NaN,NaN,0,0,9,0,31,49.0,8,0,NaN,NaN,0,0,8,0,31,49.0,8,0,NaN,NaN,0,0,8,0,31,49.0,8,0,NaN,NaN,0,0,8,0,31,49.0,9,0,NaN,NaN,0,0,9,0,31,49.0,8,0,NaN,NaN,0,0,8,0,31,49.0,8,0,NaN,NaN,0,0,8,0,31,49.0,313.0,52500,0,3,6,469214,4
418158,FVP7,104,Q4,V1,2,Andhra Pradesh,3,281,4,4,2,2822,26235,1,4,2,2,2,2,57,2,postgraduate and above,no technical education,16,NaN,6.0,NaN,NaN,NaN,NaN,NaN,31,85211.0,233.0,2,26.0,6.0,4.0,4.0,1.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,31,85.0,9,0,NaN,NaN,0,0,9,0,31,85.0,9,0,NaN,NaN,0,0,9,0,31,85.0,8,0,NaN,NaN,0,0,8,0,31,85.0,9,0,NaN,NaN,0,0,9,0,31,85.0,9,0,NaN,NaN,0,0,9,0,31,85.0,9,0,NaN,NaN,0,0,9,0,31,85.0,9,0,NaN,NaN,0,0,9,0,31,85.0,233.0,25000,0,3,6,469214,4

In [265]:
# df_persons.to_csv(r'C:\Users\CPERD_PC\Desktop\NSSO_DATA\plfs_23_24\persons_1st_visit.csv',index=False)

# df_hh.to_csv(r'C:\Users\CPERD_PC\Desktop\NSSO_DATA\plfs_23_24\hh_1st_visit.csv',index=False)

In [266]:
# generating unique house hold id

df_hh['HH_ID'] = (df_hh['Quarter']+df_hh['Visit']+df_hh['Sector'].astype(str)+
                  df_hh['FSU'].astype(str)+df_hh['Sample Sg/Sb No.'].astype(str)+
                  df_hh['Second Stage Stratum No.'].astype(str)+df_hh['Sample Household Number'].astype(str))

In [267]:
df_hh.head()

,File Identification,Schdule,Quarter,Visit,Sector,State/Ut Code,District Code,NSS-Region,Stratum,Sub-Stratum,Sub-Sample,Fod Sub-Region,FSU,Sample Sg/Sb No.,Second Stage Stratum No.,Sample Household Number,Month of Survey,Response Code,Survey Code,Reason for Substitution of original household,Household Size,Household Type,Religion,Social Group,Household's usual consumer Expenditure in A Month for purposes out of Goods and Services(Rs.),Imputed value of usual consumption in a month out of Home Grown stock (Rs.),"Imputed value of usual consumption in a Month from wages in kind,free collection, gifts etc. (Rs.)","Household's Annual Expenditure on purchase of items like clothing, footwear etc.(Rs.)","Household's Annual Expenditure on purchase of durables like Bedstead, TV, fridge etc.(Rs.)",Household'S Usual Consumer Expenditure In A Month (Rs.),Informant Serial no.,Survey Date,Total Time Taken To Canvass Sch. 10.4,Ns count for sector x stratum x substratum x sub-sample,Ns count for sector x stratum x substratum,Sub-sample wise Multiplier,Occurence of State x Sector x Stratum x SubStratum in 4 Quarters,HH_ID
0,FVH7,104,Q1,V1,1,Himachal Pradesh,4,21,1,14,1,213,10002,1,1,1,8,2,1,NaN,7,1,Hinduism,scheduled caste,5250,2000,650,10000,0,8733,3,11082023,70,2,4,246798,4,Q1V1110002111
1,FVH7,104,Q1,V1,1,Himachal Pradesh,4,21,1,14,1,213,10002,1,2,1,8,1,1,NaN,5,3,Hinduism,others,4550,1800,450,9000,0,7550,3,11082023,60,2,4,35596,4,Q1V1110002121
2,FVH7,104,Q1,V1,1,Himachal Pradesh,4,21,1,14,1,213,10002,1,2,2,8,2,1,NaN,7,1,Hinduism,others,5450,1800,400,10000,0,8483,1,11082023,64,2,4,35596,4,Q1V1110002122
3,FVH7,104,Q1,V1,1,Himachal Pradesh,4,21,1,14,1,213,10002,1,3,1,8,2,1,NaN,6,5,Hinduism,scheduled caste,4650,1200,500,8000,0,7017,1,10082023,65,2,4,61700,4,Q1V1110002131
4,FVH7,104,Q1,V1,1,Himachal Pradesh,4,21,1,14,1,213,10002,2,1,1,8,1,1,NaN,4,1,Hinduism,others,5150,2500,600,8000,5000,9333,3,10082023,65,2,4,1613680,4,Q1V1110002211

In [278]:
# generating unique house hold id in person level data

df_persons['HH_ID'] = (df_persons['Quarter']+df_persons['Visit']+df_persons['Sector'].astype(str)+df_persons['FSU'].astype(str)+
                   df_persons['Sample Sg/Sb No.'].astype(str)+df_persons['Second Stage Stratum No.'].astype(str)+
                   df_persons['Sample Household Number'].astype(str))

In [279]:
df_persons.head()

,File Identification,Schdule,Quarter,Visit,Sector,State/Ut Code,District Code,NSS-Region,Stratum,Sub-Stratum,Sub-Sample,Fod Sub-Region,FSU,Sample Sg/Sb No.,Second Stage Stratum No.,Sample Household Number,Person Serial No.,Relationship To Head,Sex,Age,Marital Status,General Educaion Level,Technical Educaion Level,No. of years in Formal Education,Status of Current Attendance in Educational Institution,Whether received any Vocational/Technical Training,Whether Training completed during last 365 Days,Field Of Training,Duration Of Training,Type Of Training,Source Of Funding The Training,Status Code_1,Industry Code (NIC)_1,Occupation Code (NCO)_1,Whether Engaged In Any Work In Subsidiary Capacity,(Principal)location Of Workplace Code,(Principal) Enterprise Type Code,(Principal) No. Of Workers In The Enterprise,(Principal) Type Of Job Contract,(Principal) Eligble Of Paid Leave,(Principal) Social Security Benefits,(Principal) Usage of product of the economic activity,Status Code,Industry Code (NIC),Occupation Code (NCO),(Subsidiary) location Of Workplace Code,(Subsidiary) Enterprise Type Code,(Subsidiary) No. Of Workers In The Enterprise,(Subsidiary) Type Of Job Contract,(Subsidiary) Eligble Of Paid Leave,(Subsidiary) Social Security Benefits,(Subsidiary) Usage of product of the economic activity,Ever Worked Prior to last 365 days,Duration of engagement in the economic activity in usual Principal Activity Status,Duration of engagement in the economic activity in Subsidiary Activity Status,Efforts undertaken to search work,Duration of spell of Unemployment,Whether Ever Worked,Reason for not working in last 365 days,Main reason for being in Principal activity status (91 to 97),Status Code for activity 1,Industry Code (NIC) for activity 1,hours actuallly worked for activity 1 on 7 th day,wage earning for activity 1 on 7 th day,Status Code for activity 2,Industry Code (NIC) for activity 2,hours actuallly worked for activity 2 on 7 th day,wage earning for activity 2 on 7 th day,total hours actually worked on 7th day,hours available for aditional worked on 7th day,Status Code for activity 1_1,Industry Code (NIC) for activity 1_1,hours actuallly worked for activity 1 on 6 th day,wage earning for activity 1 on 7 th day_1,Status Code for activity 2_1,Industry Code (NIC) for activity 2_1,hours actuallly worked for activity 2 on 6 th day,wage earning for activity 2 on 6 th day,total hours actually worked on 6th day,hours available for aditional worked on 6th day,Status Code for activity 1_2,Industry Code (NIC) for activity 1_2,hours actuallly worked for activity 1 on5 th day,wage earning for activity 1 on 5 th day,Status Code for activity 2_2,Industry Code (NIC) for activity 2_2,hours actuallly worked for activity 2 on 5 th day,wage earning for activity 2 on 5 th day,total hours actually worked on 5th day,hours available for aditional worked on 5th day,Status Code for activity 1_1_1,Industry Code (NIC) for activity 1_1_1,hours actuallly worked for activity 1 on 4th day,wage earning for activity 1 on 4th day,Status Code for activity 2_3,Industry Code (NIC) for activity 2_3,hours actuallly worked for activity 2 on 4th day,wage earning for activity 2 on 4th day,total hours actually worked on 4th day,hours available for aditional worked on 4th day,Status Code for activity 1_3,Industry Code (NIC) for activity 1_3,hours actuallly worked for activity 1 on 3rd day,wage earning for activity 1 on 3rd day,Status Code for activity 2_4,Industry Code (NIC) for activity 2_4,hours actuallly worked for activity 2 on 3rd day,wage earning for activity 2 on 3 rd day,total hours actually worked on 3rd day,hours available for aditional worked on 3rd day,Status Code for activity 1_4,Industry Code (NIC) for activity 1_4,hours actuallly worked for activity 1 on 2nd day,wage earning for activity 1 on 2nd day,Status Code for activity 2_5,Industry Code (NIC) for activity 2_5,hours actuallly worked for activity 2 on 2nd day,wage earning for activity 2 on 2nd day,total hours actually worked on 2nd day,hours available for aditional worked on 2nd day,Status Code for activity 1_5,Industry Code (NIC) for activity 1_5,hours actuallly worked for activity 1 on 1st day,wage earning for activity 1 on 1st day,Status Code for activity 2_6,Industry Code (NIC) for activity 2_6,hours actuallly worked for activity 2 on 1st day,wage earning for activity 2 on 1st day,total hours actually worked on 1st day,hours available for aditional worked on 1st day,Current Weekly Status (CWS),Industry Code (CWS),Occupation Code (CWS),Earnings For Regular Salaried/Wage Activity,Earnings For Self Employed,Ns count for sector x stratum x substratum x sub-sample,Ns count for sector x stratum x substratum,Sub-sample wise Multiplier,Occurence of FSUs in State x Sector x Stratum x SubStratum in 4 Quarters,HH_ID
0,FVP7,104,Q1,V1,1,Himachal Pradesh,4,21,1,14,1,213,10002,1,1,1,1,1,1,72,2,secondary,no technical education,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,5.0,3.0,94,NaN,0,0,NaN,NaN,0,0,0,0,94,NaN,0,0,NaN,NaN,0,0,0,0,94,NaN,0,0,NaN,NaN,0,0,0,0,94,NaN,0,0,NaN,NaN,0,0,0,0,94,NaN,0,0,NaN,NaN,0,0,0,0,94,NaN,0,0,NaN,NaN,0,0,0,0,94,NaN,0,0,NaN,NaN,0,0,0,0,94,NaN,NaN,0,0,2,4,246798,4,Q1V1110002111
1,FVP7,104,Q1,V1,1,Himachal Pradesh,4,21,1,14,1,213,10002,1,1,1,2,2,2,65,2,primary,no technical education,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,93,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,8.0,3.0,93,NaN,0,0,NaN,NaN,0,0,0,0,93,NaN,0,0,NaN,NaN,0,0,0,0,93,NaN,0,0,NaN,NaN,0,0,0,0,93,NaN,0,0,NaN,NaN,0,0,0,0,93,NaN,0,0,NaN,NaN,0,0,0,0,93,NaN,0,0,NaN,NaN,0,0,0,0,93,NaN,0,0,NaN,NaN,0,0,0,0,93,NaN,NaN,0,0,2,4,246798,4,Q1V1110002111
2,FVP7,104,Q1,V1,1,Himachal Pradesh,4,21,1,14,1,213,10002,1,1,1,3,3,1,40,2,secondary,no technical education,10,NaN,2.0,NaN,NaN,NaN,NaN,NaN,11,1132.0,611.0,2,NaN,1.0,1.0,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,11,1.0,4,0,NaN,NaN,0,0,4,0,11,1.0,5,0,NaN,NaN,0,0,5,3,11,1.0,4,0,NaN,NaN,0,0,4,3,11,1.0,5,0,NaN,NaN,0,0,5,2,11,1.0,6,0,NaN,NaN,0,0,6,0,11,1.0,5,0,NaN,NaN,0,0,5,2,11,1.0,6,0,NaN,NaN,0,0,6,0,11,1.0,611.0,0,6500,2,4,246798,4,Q1V1110002111
3,FVP7,104,Q1,V1,1,Himachal Pradesh,4,21,1,14,1,213,10002,1,1,1,4,4,2,35,2,secondary,no technical education,10,NaN,2.0,NaN,NaN,NaN,NaN,NaN,21,1132.0,611.0,2,NaN,1.0,1.0,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,21,1.0,4,0,NaN,NaN,0,0,4,3,21,1.0,5,0,NaN,NaN,0,0,5,3,21,1.0,6,0,NaN,NaN,0,0,6,2,21,1.0,4,0,NaN,NaN,0,0,4,4,21,1.0,5,0,NaN,NaN,0,0,5,0,21,1.0,4,0,NaN,NaN,0,0,4,3,21,1.0,5,0,NaN,NaN,0,0,5,3,21,1.0,611.0,0,0,2,4,246798,4,Q1V1110002111
4,FVP7,104,Q1,V1,1,Himachal Pradesh,4,21,1,14,1,213,10002,1,1,1,5,6,1,15,1,middle,no technical education,9,26.0,6.0,NaN,NaN,NaN,NaN,NaN,91,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,4.0,91,NaN,0,0,NaN,NaN,0,0,0,0,91,NaN,0,0,NaN,NaN,0,0,0,0,91,NaN,0,0,NaN,NaN,0,0,0,0,91,NaN,0,0,NaN,NaN,0,0,0,0,91,NaN,0,0,NaN,NaN,0,0,0,0,91,NaN,0,0,NaN,NaN,0,0,0,0,91,NaN,0,0,NaN,NaN,0,0,0,0,91,NaN,NaN,0,0,2,4,246798,4,Q1V1110002111

In [280]:
# generating unique person id in person level data

df_persons['Person_ID'] = (df_persons['Quarter']+df_persons['Visit']+df_persons['Sector'].astype(str)+df_persons['FSU'].astype(str)+
                   df_persons['Sample Sg/Sb No.'].astype(str)+df_persons['Second Stage Stratum No.'].astype(str)+
                   df_persons['Sample Household Number'].astype(str)+df_persons['Person Serial No.'].astype(str))

In [281]:
df_hh.columns

Index(['File Identification', 'Schdule', 'Quarter', 'Visit', 'Sector',
       'State/Ut Code', 'District Code', 'NSS-Region', 'Stratum',
       'Sub-Stratum', 'Sub-Sample', 'Fod Sub-Region', 'FSU',
       'Sample Sg/Sb No.', 'Second Stage Stratum No.',
       'Sample Household Number', 'Month of Survey', 'Response Code',
       'Survey Code', 'Reason for Substitution of original household',
       'Household Size', 'Household Type', 'Religion', 'Social Group',
       'Household's usual consumer Expenditure in A Month for purposes out of Goods and Services(Rs.)',
       'Imputed value of usual consumption in a month out of Home Grown stock (Rs.)',
       'Imputed value of usual consumption in a Month from wages in kind,free collection, gifts etc. (Rs.)',
       'Household's Annual Expenditure on purchase of items like clothing, footwear etc.(Rs.)',
       'Household's Annual Expenditure on purchase of durables like Bedstead, TV, fridge etc.(Rs.)',
       'Household'S Usual Consumer Expenditure In A Month (Rs.)',
       'Informant Serial no.', 'Survey Date',
       'Total Time Taken To Canvass Sch. 10.4',
       'Ns count for sector x stratum x substratum x sub-sample',
       'Ns count for sector x stratum x substratum',
       'Sub-sample wise Multiplier',
       'Occurence of State x Sector x Stratum x SubStratum in 4 Quarters',
       'HH_ID'],
      dtype='object')

In [412]:
# In PLFS, demographic information (e.g., religion, social group) is stored at the household level,  
# while personal attributes (e.g., age, working status) are recorded at the individual (person) level.  
# Therefore, merging household-level and person-level data is necessary for comprehensive analysis.

In [283]:
plfs_23_24 = df_persons.merge(df_hh[['Household Size','Household Type','Religion','Social Group','HH_ID']], on='HH_ID',how='left',indicator=True)

plfs_23_24

,File Identification,Schdule,Quarter,Visit,Sector,State/Ut Code,District Code,NSS-Region,Stratum,Sub-Stratum,Sub-Sample,Fod Sub-Region,FSU,Sample Sg/Sb No.,Second Stage Stratum No.,Sample Household Number,Person Serial No.,Relationship To Head,Sex,Age,Marital Status,General Educaion Level,Technical Educaion Level,No. of years in Formal Education,Status of Current Attendance in Educational Institution,Whether received any Vocational/Technical Training,Whether Training completed during last 365 Days,Field Of Training,Duration Of Training,Type Of Training,Source Of Funding The Training,Status Code_1,Industry Code (NIC)_1,Occupation Code (NCO)_1,Whether Engaged In Any Work In Subsidiary Capacity,(Principal)location Of Workplace Code,(Principal) Enterprise Type Code,(Principal) No. Of Workers In The Enterprise,(Principal) Type Of Job Contract,(Principal) Eligble Of Paid Leave,(Principal) Social Security Benefits,(Principal) Usage of product of the economic activity,Status Code,Industry Code (NIC),Occupation Code (NCO),(Subsidiary) location Of Workplace Code,(Subsidiary) Enterprise Type Code,(Subsidiary) No. Of Workers In The Enterprise,(Subsidiary) Type Of Job Contract,(Subsidiary) Eligble Of Paid Leave,(Subsidiary) Social Security Benefits,(Subsidiary) Usage of product of the economic activity,Ever Worked Prior to last 365 days,Duration of engagement in the economic activity in usual Principal Activity Status,Duration of engagement in the economic activity in Subsidiary Activity Status,Efforts undertaken to search work,Duration of spell of Unemployment,Whether Ever Worked,Reason for not working in last 365 days,Main reason for being in Principal activity status (91 to 97),Status Code for activity 1,Industry Code (NIC) for activity 1,hours actuallly worked for activity 1 on 7 th day,wage earning for activity 1 on 7 th day,Status Code for activity 2,Industry Code (NIC) for activity 2,hours actuallly worked for activity 2 on 7 th day,wage earning for activity 2 on 7 th day,total hours actually worked on 7th day,hours available for aditional worked on 7th day,Status Code for activity 1_1,Industry Code (NIC) for activity 1_1,hours actuallly worked for activity 1 on 6 th day,wage earning for activity 1 on 7 th day_1,Status Code for activity 2_1,Industry Code (NIC) for activity 2_1,hours actuallly worked for activity 2 on 6 th day,wage earning for activity 2 on 6 th day,total hours actually worked on 6th day,hours available for aditional worked on 6th day,Status Code for activity 1_2,Industry Code (NIC) for activity 1_2,hours actuallly worked for activity 1 on5 th day,wage earning for activity 1 on 5 th day,Status Code for activity 2_2,Industry Code (NIC) for activity 2_2,hours actuallly worked for activity 2 on 5 th day,wage earning for activity 2 on 5 th day,total hours actually worked on 5th day,hours available for aditional worked on 5th day,Status Code for activity 1_1_1,Industry Code (NIC) for activity 1_1_1,hours actuallly worked for activity 1 on 4th day,wage earning for activity 1 on 4th day,Status Code for activity 2_3,Industry Code (NIC) for activity 2_3,hours actuallly worked for activity 2 on 4th day,wage earning for activity 2 on 4th day,total hours actually worked on 4th day,hours available for aditional worked on 4th day,Status Code for activity 1_3,Industry Code (NIC) for activity 1_3,hours actuallly worked for activity 1 on 3rd day,wage earning for activity 1 on 3rd day,Status Code for activity 2_4,Industry Code (NIC) for activity 2_4,hours actuallly worked for activity 2 on 3rd day,wage earning for activity 2 on 3 rd day,total hours actually worked on 3rd day,hours available for aditional worked on 3rd day,Status Code for activity 1_4,Industry Code (NIC) for activity 1_4,hours actuallly worked for activity 1 on 2nd day,wage earning for activity 1 on 2nd day,Status Code for activity 2_5,Industry Code (NIC) for activity 2_5,hours actuallly worked for activity 2 on 2nd day,wage earning for activity 2 on 2nd day,total hours actually worked on 2nd day,hours available for aditional worked on 2nd day,Status Code for activity 1_5,Industry Code (NIC) for activity 1_5,hours actuallly worked for activity 1 on 1st day,wage earning for activity 1 on 1st day,Status Code for activity 2_6,Industry Code (NIC) for activity 2_6,hours actuallly worked for activity 2 on 1st day,wage earning for activity 2 on 1st day,total hours actually worked on 1st day,hours available for aditional worked on 1st day,Current Weekly Status (CWS),Industry Code (CWS),Occupation Code (CWS),Earnings For Regular Salaried/Wage Activity,Earnings For Self Employed,Ns count for sector x stratum x substratum x sub-sample,Ns count for sector x stratum x substratum,Sub-sample wise Multiplier,Occurence of FSUs in State x Sector x Stratum x SubStratum in 4 Quarters,HH_ID,Person_ID,Household Size,Household Type,Religion,Social Group,_merge
0,FVP7,104,Q1,V1,1,Himachal Pradesh,4,21,1,14,1,213,10002,1,1,1,1,1,1,72,2,secondary,no technical education,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,5.0,3.0,94,NaN,0,0,NaN,NaN,0,0,0,0,94,NaN,0,0,NaN,NaN,0,0,0,0,94,NaN,0,0,NaN,NaN,0,0,0,0,94,NaN,0,0,NaN,NaN,0,0,0,0,94,NaN,0,0,NaN,NaN,0,0,0,0,94,NaN,0,0,NaN,NaN,0,0,0,0,94,NaN,0,0,NaN,NaN,0,0,0,0,94,NaN,NaN,0,0,2,4,246798,4,Q1V1110002111,Q1V11100021111,7,1,Hinduism,scheduled caste,both
1,FVP7,104,Q1,V1,1,Himachal Pradesh,4,21,1,14,1,213,10002,1,1,1,2,2,2,65,2,primary,no technical education,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,93,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,8.0,3.0,93,NaN,0,0,NaN,NaN,0,0,0,0,93,NaN,0,0,NaN,NaN,0,0,0,0,93,NaN,0,0,NaN,NaN,0,0,0,0,93,NaN,0,0,NaN,NaN,0,0,0,0,93,NaN,0,0,NaN,NaN,0,0,0,0,93,NaN,0,0,NaN,NaN,0,0,0,0,93,NaN,0,0,NaN,NaN,0,0,0,0,93,NaN,NaN,0,0,2,4,246798,4,Q1V1110002111,Q1V11100021112,7,1,Hinduism,scheduled caste,both
2,FVP7,104,Q1,V1,1,Himachal Pradesh,4,21,1,14,1,213,10002,1,1,1,3,3,1,40,2,secondary,no technical education,10,NaN,2.0,NaN,NaN,NaN,NaN,NaN,11,1132.0,611.0,2,NaN,1.0,1.0,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,11,1.0,4,0,NaN,NaN,0,0,4,0,11,1.0,5,0,NaN,NaN,0,0,5,3,11,1.0,4,0,NaN,NaN,0,0,4,3,11,1.0,5,0,NaN,NaN,0,0,5,2,11,1.0,6,0,NaN,NaN,0,0,6,0,11,1.0,5,0,NaN,NaN,0,0,5,2,11,1.0,6,0,NaN,NaN,0,0,6,0,11,1.0,611.0,0,6500,2,4,246798,4,Q1V1110002111,Q1V11100021113,7,1,Hinduism,scheduled caste,both
3,FVP7,104,Q1,V1,1,Himachal Pradesh,4,21,1,14,1,213,10002,1,1,1,4,4,2,35,2,secondary,no technical education,10,NaN,2.0,NaN,NaN,NaN,NaN,NaN,21,1132.0,611.0,2,NaN,1.0,1.0,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,21,1.0,4,0,NaN,NaN,0,0,4,3,21,1.0,5,0,NaN,NaN,0,0,5,3,21,1.0,6,0,NaN,NaN,0,0,6,2,21,1.0,4,0,NaN,NaN,0,0,4,4,21,1.0,5,0,NaN,NaN,0,0,5,0,21,1.0,4,0,NaN,NaN,0,0,4,3,21,1.0,5,0,NaN,NaN,0,0,5,3,21,1.0,611.0,0,0,2,4,246798,4,Q1V1110002111,Q1V11100021114,7,1,Hinduism,scheduled caste,both
4,FVP7,104,Q1,V1,1,Himachal Pradesh,4,21,1,14,1,213,10002,1,1,1,5,6,1,15,1,middle,no technical education,9,26.0,6.0,NaN,NaN,NaN,NaN,NaN,91,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,4.0,91,NaN,0,0,NaN,NaN,0,0,0,0,91,NaN,0,0,NaN,NaN,0,0,0,0,91,NaN,0,0,NaN,NaN,0,0,0,0,91,NaN,0,0,NaN,NaN,0,0,0,0,91,NaN,0,0,NaN,NaN,0,0,0,0,91,NaN,0,0,NaN,NaN,0,0,0,0,91,NaN,0,0,NaN,NaN,0,0,0,0,91,NaN,NaN,0,0,2,4,246798,4,Q1V1110002111,Q1V11100021115,7,1,Hinduism,scheduled caste,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
418154,FVP7,104,Q4,V1,2,Andhra Pradesh,3,281,4,4,2,2822,26235,1,3,1,1,1,1,70,3,postgraduate and above,diploma or certificate (graduate and above lev...,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0,69100.0,261.0,24.0,1.0,1.0,NaN,NaN,NaN,NaN,1.0,NaN,5.0,NaN,NaN,NaN,NaN,NaN,11,69.0,9,0,NaN,NaN,0,0,9,0,81,NaN,0,0,NaN,NaN,0,0,0,0,81,NaN,0,0,NaN,NaN,0,0,0,0,11,69.0,8,0,NaN,NaN,0,0,8,0,11,69.0,5,0,NaN,NaN,0,0,5,0,11,69.0,5,0,NaN,NaN,0,0,5,0,11,69.0,5,0,NaN,NaN,0,0,5,0,11,69.0,261.0,0,25000,3,6,733146,4,Q4V1226235131,Q4V12262351311,1,1,Hinduism,other backward class,both
418155,FVP7,104,Q4,V1,2,Andhra Pradesh,3,281,4,4,2,2822,26235,1,3,2,1,1,2,70,3,graduate,no technical education,15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,5.0,3.0,94,NaN,0,0,NaN,NaN,0,0,0,0,94,NaN,0,0,NaN,NaN,0,0,0,0,94,NaN,0,0,NaN,NaN,0,0,0,0,94,NaN,0,0,NaN,NaN,0,0,0,0,94,NaN,0,0,NaN,NaN,0,0,0,0,94,NaN,0,0,NaN,NaN,0,0,0,0,94,NaN,0,0,NaN,NaN,0,0,0,0,94,NaN,NaN,0,0,3,6,733146,4,Q4V1226235132,Q4V12262351321,1,9,Hinduism,other backward class,both
418156,FVP7,104,Q4,V1,2,Andhra Pradesh,3,281,4,4,2,2822,26235,1,4,1,1,1,1,68,3,higher secondary,no technical education,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,5.0,3.0,94,NaN,0,0,NaN,NaN,0,0,0,0,94,NaN,0,0,NaN,NaN,0,0,0,0,94,NaN,0,0,NaN,NaN,0,0,0,0,94,NaN,0,0,NaN,NaN,0,0,0,0,94,NaN,0,0,NaN,NaN,0,0,0,0,94,NaN,0,0,NaN,NaN,0,0,0,0,94,NaN,0,0,NaN,NaN,0,0,0,0,94,NaN,NaN,0,0,3,6,469214,4,Q4V1226235141,Q4V12262351411,1,9,Hinduism,other backward class,both
418157,FVP7,104,Q4,V1,2,Andhra Pradesh,3,281,4,4,2,2822,26235,1,4,2,1,1,1,58,2,postgraduate and above,no technical education,17,NaN,1.0,1.0,15.0,4.0,3.0,2.0,31,49110.0,313.0,2,26.0,5.0,4.0,4.0,1.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,31,49.0,9,0,NaN,NaN,0,0,9,0,31,49.0,8,0,NaN,NaN,0,0,8,0,31,49.0,8,0,NaN,NaN,0,0,8,0,31,49.0,8,0,NaN,NaN,0,0,8,0,31,49.0,9,0,NaN,NaN,0,0,9,0,31,49.0,8,0,NaN,NaN,0,0,8,0,31,49.0,8,0,NaN,NaN,0,0,8,0,31,49.0,313.0,52500,0,3,6,469214,4,Q4V1226235142,Q4V12262351421,2,2,Hinduism,other backward class,both
418158,FVP7,104,Q4,V1,2,Andhra Pradesh,3,281,4,4,2,2822,26235,1,4,2,2,2,2,57,2,postgraduate and above,no technical education,16,NaN,6.0,NaN,NaN,NaN,NaN,NaN,31,85211.0,233.0,2,26.0,6.0,4.0,4.0,1.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,31,85.0,9,0,NaN,NaN,0,0,9,0,31,85.0,9,0,NaN,NaN,0,0,9,0,31,85.0,8,0,NaN,NaN,0,0,8,0,31,85.0,9,0,NaN,NaN,0,0,9,0,31,85.0,9,0,NaN,NaN,0,0,9,0,31,85.0,9,0,NaN,NaN,0,0,9,0,31,85.0,9,0,NaN,NaN,0,0,9,0,31,85.0,233.0,25000,0,3,6,469214,4,Q4V1226235142,Q4V12262351422,2,2,Hinduism,other backward class,both

In [284]:
# appling weights

plfs_23_24['Final Weight'] = np.where(
    plfs_23_24['Ns count for sector x stratum x substratum x sub-sample'] == plfs_23_24['Ns count for sector x stratum x substratum'],
    (plfs_23_24['Sub-sample wise Multiplier'] / 100) / 4,
    (plfs_23_24['Sub-sample wise Multiplier'] / 200) / 4
)

In [285]:
plfs_23_24.head()

,File Identification,Schdule,Quarter,Visit,Sector,State/Ut Code,District Code,NSS-Region,Stratum,Sub-Stratum,Sub-Sample,Fod Sub-Region,FSU,Sample Sg/Sb No.,Second Stage Stratum No.,Sample Household Number,Person Serial No.,Relationship To Head,Sex,Age,Marital Status,General Educaion Level,Technical Educaion Level,No. of years in Formal Education,Status of Current Attendance in Educational Institution,Whether received any Vocational/Technical Training,Whether Training completed during last 365 Days,Field Of Training,Duration Of Training,Type Of Training,Source Of Funding The Training,Status Code_1,Industry Code (NIC)_1,Occupation Code (NCO)_1,Whether Engaged In Any Work In Subsidiary Capacity,(Principal)location Of Workplace Code,(Principal) Enterprise Type Code,(Principal) No. Of Workers In The Enterprise,(Principal) Type Of Job Contract,(Principal) Eligble Of Paid Leave,(Principal) Social Security Benefits,(Principal) Usage of product of the economic activity,Status Code,Industry Code (NIC),Occupation Code (NCO),(Subsidiary) location Of Workplace Code,(Subsidiary) Enterprise Type Code,(Subsidiary) No. Of Workers In The Enterprise,(Subsidiary) Type Of Job Contract,(Subsidiary) Eligble Of Paid Leave,(Subsidiary) Social Security Benefits,(Subsidiary) Usage of product of the economic activity,Ever Worked Prior to last 365 days,Duration of engagement in the economic activity in usual Principal Activity Status,Duration of engagement in the economic activity in Subsidiary Activity Status,Efforts undertaken to search work,Duration of spell of Unemployment,Whether Ever Worked,Reason for not working in last 365 days,Main reason for being in Principal activity status (91 to 97),Status Code for activity 1,Industry Code (NIC) for activity 1,hours actuallly worked for activity 1 on 7 th day,wage earning for activity 1 on 7 th day,Status Code for activity 2,Industry Code (NIC) for activity 2,hours actuallly worked for activity 2 on 7 th day,wage earning for activity 2 on 7 th day,total hours actually worked on 7th day,hours available for aditional worked on 7th day,Status Code for activity 1_1,Industry Code (NIC) for activity 1_1,hours actuallly worked for activity 1 on 6 th day,wage earning for activity 1 on 7 th day_1,Status Code for activity 2_1,Industry Code (NIC) for activity 2_1,hours actuallly worked for activity 2 on 6 th day,wage earning for activity 2 on 6 th day,total hours actually worked on 6th day,hours available for aditional worked on 6th day,Status Code for activity 1_2,Industry Code (NIC) for activity 1_2,hours actuallly worked for activity 1 on5 th day,wage earning for activity 1 on 5 th day,Status Code for activity 2_2,Industry Code (NIC) for activity 2_2,hours actuallly worked for activity 2 on 5 th day,wage earning for activity 2 on 5 th day,total hours actually worked on 5th day,hours available for aditional worked on 5th day,Status Code for activity 1_1_1,Industry Code (NIC) for activity 1_1_1,hours actuallly worked for activity 1 on 4th day,wage earning for activity 1 on 4th day,Status Code for activity 2_3,Industry Code (NIC) for activity 2_3,hours actuallly worked for activity 2 on 4th day,wage earning for activity 2 on 4th day,total hours actually worked on 4th day,hours available for aditional worked on 4th day,Status Code for activity 1_3,Industry Code (NIC) for activity 1_3,hours actuallly worked for activity 1 on 3rd day,wage earning for activity 1 on 3rd day,Status Code for activity 2_4,Industry Code (NIC) for activity 2_4,hours actuallly worked for activity 2 on 3rd day,wage earning for activity 2 on 3 rd day,total hours actually worked on 3rd day,hours available for aditional worked on 3rd day,Status Code for activity 1_4,Industry Code (NIC) for activity 1_4,hours actuallly worked for activity 1 on 2nd day,wage earning for activity 1 on 2nd day,Status Code for activity 2_5,Industry Code (NIC) for activity 2_5,hours actuallly worked for activity 2 on 2nd day,wage earning for activity 2 on 2nd day,total hours actually worked on 2nd day,hours available for aditional worked on 2nd day,Status Code for activity 1_5,Industry Code (NIC) for activity 1_5,hours actuallly worked for activity 1 on 1st day,wage earning for activity 1 on 1st day,Status Code for activity 2_6,Industry Code (NIC) for activity 2_6,hours actuallly worked for activity 2 on 1st day,wage earning for activity 2 on 1st day,total hours actually worked on 1st day,hours available for aditional worked on 1st day,Current Weekly Status (CWS),Industry Code (CWS),Occupation Code (CWS),Earnings For Regular Salaried/Wage Activity,Earnings For Self Employed,Ns count for sector x stratum x substratum x sub-sample,Ns count for sector x stratum x substratum,Sub-sample wise Multiplier,Occurence of FSUs in State x Sector x Stratum x SubStratum in 4 Quarters,HH_ID,Person_ID,Household Size,Household Type,Religion,Social Group,_merge,Final Weight
0,FVP7,104,Q1,V1,1,Himachal Pradesh,4,21,1,14,1,213,10002,1,1,1,1,1,1,72,2,secondary,no technical education,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,5.0,3.0,94,NaN,0,0,NaN,NaN,0,0,0,0,94,NaN,0,0,NaN,NaN,0,0,0,0,94,NaN,0,0,NaN,NaN,0,0,0,0,94,NaN,0,0,NaN,NaN,0,0,0,0,94,NaN,0,0,NaN,NaN,0,0,0,0,94,NaN,0,0,NaN,NaN,0,0,0,0,94,NaN,0,0,NaN,NaN,0,0,0,0,94,NaN,NaN,0,0,2,4,246798,4,Q1V1110002111,Q1V11100021111,7,1,Hinduism,scheduled caste,both,308.4975
1,FVP7,104,Q1,V1,1,Himachal Pradesh,4,21,1,14,1,213,10002,1,1,1,2,2,2,65,2,primary,no technical education,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,93,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,8.0,3.0,93,NaN,0,0,NaN,NaN,0,0,0,0,93,NaN,0,0,NaN,NaN,0,0,0,0,93,NaN,0,0,NaN,NaN,0,0,0,0,93,NaN,0,0,NaN,NaN,0,0,0,0,93,NaN,0,0,NaN,NaN,0,0,0,0,93,NaN,0,0,NaN,NaN,0,0,0,0,93,NaN,0,0,NaN,NaN,0,0,0,0,93,NaN,NaN,0,0,2,4,246798,4,Q1V1110002111,Q1V11100021112,7,1,Hinduism,scheduled caste,both,308.4975
2,FVP7,104,Q1,V1,1,Himachal Pradesh,4,21,1,14,1,213,10002,1,1,1,3,3,1,40,2,secondary,no technical education,10,NaN,2.0,NaN,NaN,NaN,NaN,NaN,11,1132.0,611.0,2,NaN,1.0,1.0,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,11,1.0,4,0,NaN,NaN,0,0,4,0,11,1.0,5,0,NaN,NaN,0,0,5,3,11,1.0,4,0,NaN,NaN,0,0,4,3,11,1.0,5,0,NaN,NaN,0,0,5,2,11,1.0,6,0,NaN,NaN,0,0,6,0,11,1.0,5,0,NaN,NaN,0,0,5,2,11,1.0,6,0,NaN,NaN,0,0,6,0,11,1.0,611.0,0,6500,2,4,246798,4,Q1V1110002111,Q1V11100021113,7,1,Hinduism,scheduled caste,both,308.4975
3,FVP7,104,Q1,V1,1,Himachal Pradesh,4,21,1,14,1,213,10002,1,1,1,4,4,2,35,2,secondary,no technical education,10,NaN,2.0,NaN,NaN,NaN,NaN,NaN,21,1132.0,611.0,2,NaN,1.0,1.0,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,21,1.0,4,0,NaN,NaN,0,0,4,3,21,1.0,5,0,NaN,NaN,0,0,5,3,21,1.0,6,0,NaN,NaN,0,0,6,2,21,1.0,4,0,NaN,NaN,0,0,4,4,21,1.0,5,0,NaN,NaN,0,0,5,0,21,1.0,4,0,NaN,NaN,0,0,4,3,21,1.0,5,0,NaN,NaN,0,0,5,3,21,1.0,611.0,0,0,2,4,246798,4,Q1V1110002111,Q1V11100021114,7,1,Hinduism,scheduled caste,both,308.4975
4,FVP7,104,Q1,V1,1,Himachal Pradesh,4,21,1,14,1,213,10002,1,1,1,5,6,1,15,1,middle,no technical education,9,26.0,6.0,NaN,NaN,NaN,NaN,NaN,91,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,4.0,91,NaN,0,0,NaN,NaN,0,0,0,0,91,NaN,0,0,NaN,NaN,0,0,0,0,91,NaN,0,0,NaN,NaN,0,0,0,0,91,NaN,0,0,NaN,NaN,0,0,0,0,91,NaN,0,0,NaN,NaN,0,0,0,0,91,NaN,0,0,NaN,NaN,0,0,0,0,91,NaN,0,0,NaN,NaN,0,0,0,0,91,NaN,NaN,0,0,2,4,246798,4,Q1V1110002111,Q1V11100021115,7,1,Hinduism,scheduled caste,both,308.4975

In [286]:
plfs_23_24.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418159 entries, 0 to 418158
Data columns (total 147 columns):
 #    Column                                                                              Dtype
---   ------                                                                              -----
 0    File Identification                                                                 object
 1    Schdule                                                                             int64
 2    Quarter                                                                             object
 3    Visit                                                                               object
 4    Sector                                                                              int64
 5    State/Ut Code                                                                       object
 6    District Code                                                                       int64
 7    NSS-Region                                                                          int64
 8    Stratum                                                                             int64
 9    Sub-Stratum                                                                         int64
 10   Sub-Sample                                                                          int64
 11   Fod Sub-Region                                                                      int64
 12   FSU                                                                                 int64
 13   Sample Sg/Sb No.                                                                    int64
 14   Second Stage Stratum No.                                                            int64
 15   Sample Household Number                                                             int64
 16   Person Serial No.                                                                   int64
 17   Relationship To Head                                                                int64
 18   Sex                                                                                 int64
 19   Age                                                                                 int64
 20   Marital Status                                                                      int64
 21   General Educaion Level                                                              object
 22   Technical Educaion Level                                                            object
 23   No. of years in Formal Education                                                    int64
 24   Status of Current Attendance in Educational Institution                             float64
 25   Whether received any Vocational/Technical Training                                  float64
 26   Whether Training completed during last 365 Days                                     float64
 27   Field Of Training                                                                   float64
 28   Duration Of Training                                                                float64
 29   Type Of Training                                                                    float64
 30   Source Of Funding The Training                                                      float64
 31   Status Code_1                                                                       int64
 32   Industry Code (NIC)_1                                                               float64
 33   Occupation Code (NCO)_1                                                             float64
 34   Whether Engaged In Any Work In Subsidiary Capacity                                  int64
 35   (Principal)location Of Workplace Code                                               float64
 36   (Principal) Enterprise Type Code                                                    float64
 37   (Principal) No. Of Workers In The Enterprise                                        float64
 38   (Principal)  Type Of Job Contract                                                   float64
 39   (Principal) Eligble Of Paid Leave                                                   float64
 40   (Principal) Social Security Benefits                                                float64
 41   (Principal) Usage of product of the economic activity                               float64
 42   Status Code                                                                         float64
 43   Industry Code (NIC)                                                                 float64
 44   Occupation Code (NCO)                                                               float64
 45   (Subsidiary) location Of Workplace Code                                             float64
 46   (Subsidiary)  Enterprise Type Code                                                  float64
 47   (Subsidiary)  No. Of Workers In The Enterprise                                      float64
 48   (Subsidiary)   Type Of Job Contract                                                 float64
 49   (Subsidiary)  Eligble Of Paid Leave                                                 float64
 50   (Subsidiary)  Social Security Benefits                                              float64
 51   (Subsidiary) Usage of product of the economic activity                              float64
 52   Ever Worked Prior to last 365 days                                                  float64
 53   Duration of engagement in the economic activity in usual Principal Activity Status  float64
 54   Duration of engagement in the economic activity in Subsidiary Activity Status       float64
 55   Efforts undertaken to search work                                                   float64
 56   Duration of spell of Unemployment                                                   float64
 57   Whether Ever Worked                                                                 float64
 58    Reason for not working in last 365 days                                            float64
 59   Main reason for being in Principal activity status (91 to 97)                       float64
 60   Status Code for activity 1                                                          int64
 61   Industry Code (NIC) for activity 1                                                  float64
 62   hours actuallly worked for activity 1 on 7 th day                                   int64
 63   wage earning for activity 1 on 7 th day                                             int64
 64   Status Code for activity 2                                                          float64
 65   Industry Code (NIC) for activity 2                                                  float64
 66   hours actuallly worked for activity 2 on 7 th day                                   int64
 67   wage earning for activity 2 on 7 th day                                             int64
 68   total hours actually worked on 7th day                                              int64
 69   hours available for aditional worked on 7th day                                     int64
 70   Status Code for activity 1_1                                                        int64
 71   Industry Code (NIC) for activity 1_1                                                float64
 72   hours actuallly worked for activity 1 on 6 th day                                   int64
 73   wage earning for activity 1 on 7 th day_1                                           int64
 74   Status Code for activity 2_1                                                        float64
 75   Industry Code (NIC) for activity 2_1                                                float64
 76   hours actuallly worked for activity 2 on 6 th day                                   int64
 77   wage earning for activity 2 on 6 th day                                             int64
 78   total hours actually worked on 6th day                                              int64
 79   hours available for aditional worked on 6th day                                     int64
 80   Status Code for activity 1_2                                                        int64
 81   Industry Code (NIC) for activity 1_2                                                float64
 82   hours actuallly worked for activity 1 on5 th day                                    int64
 83   wage earning for activity 1 on 5 th day                                             int64
 84   Status Code for activity 2_2                                                        float64
 85   Industry Code (NIC) for activity 2_2                                                float64
 86   hours actuallly worked for activity 2 on 5 th day                                   int64
 87   wage earning for activity 2 on 5 th day                                             int64
 88   total hours actually worked on 5th day                                              int64
 89   hours available for aditional worked on 5th day                                     int64
 90   Status Code for activity 1_1_1                                                      int64
 91   Industry Code (NIC) for activity 1_1_1                                              float64
 92   hours actuallly worked for activity 1 on 4th day                                    int64
 93   wage earning for activity 1 on 4th day                                              int64
 94   Status Code for activity 2_3                                                        float64
 95   Industry Code (NIC) for activity 2_3                                                float64
 96   hours actuallly worked for activity 2 on 4th day                                    int64
 97   wage earning for activity 2 on 4th day                                              int64
 98   total hours actually worked on 4th day                                              int64
 99   hours available for aditional worked on 4th day                                     int64
 100  Status Code for activity 1_3                                                        int64
 101  Industry Code (NIC) for activity 1_3                                                float64
 102  hours actuallly worked for activity 1 on 3rd day                                    int64
 103  wage earning for activity 1 on 3rd day                                              int64
 104  Status Code for activity 2_4                                                        float64
 105  Industry Code (NIC) for activity 2_4                                                float64
 106  hours actuallly worked for activity 2 on 3rd day                                    int64
 107  wage earning for activity 2 on 3 rd day                                             int64
 108  total hours actually worked on 3rd day                                              int64
 109  hours available for aditional worked on 3rd day                                     int64
 110  Status Code for activity 1_4                                                        int64
 111  Industry Code (NIC) for activity 1_4                                                float64
 112  hours actuallly worked for activity 1 on 2nd day                                    int64
 113  wage earning for activity 1 on 2nd day                                              int64
 114  Status Code for activity 2_5                                                        float64
 115  Industry Code (NIC) for activity 2_5                                                float64
 116  hours actuallly worked for activity 2 on 2nd day                                    int64
 117  wage earning for activity 2 on 2nd day                                              int64
 118  total hours actually worked on 2nd day                                              int64
 119  hours available for aditional worked on 2nd day                                     int64
 120  Status Code for activity 1_5                                                        int64
 121  Industry Code (NIC) for activity 1_5                                                float64
 122  hours actuallly worked for activity 1 on 1st day                                    int64
 123  wage earning for activity 1 on 1st day                                              int64
 124  Status Code for activity 2_6                                                        float64
 125  Industry Code (NIC) for activity 2_6                                                float64
 126  hours actuallly worked for activity 2 on 1st day                                    int64
 127  wage earning for activity 2 on 1st day                                              int64
 128  total hours actually worked on 1st day                                              int64
 129  hours available for aditional worked on 1st day                                     int64
 130  Current Weekly Status (CWS)                                                         int64
 131  Industry Code (CWS)                                                                 float64
 132  Occupation Code (CWS)                                                               float64
 133  Earnings For Regular Salaried/Wage Activity                                         int64
 134  Earnings For Self Employed                                                          int64
 135  Ns count for sector x stratum x substratum x sub-sample                             int64
 136  Ns count for sector x stratum x substratum                                          int64
 137  Sub-sample wise Multiplier                                                          int64
 138  Occurence of FSUs in State x Sector x Stratum x SubStratum in 4 Quarters            int64
 139  HH_ID                                                                               object
 140  Person_ID                                                                           object
 141  Household Size                                                                      int64
 142  Household Type                                                                      int64
 143  Religion                                                                            object
 144  Social Group                                                                        object
 145  _merge                                                                              category
 146  Final Weight                                                                        float64
dtypes: category(1), float64(58), int64(78), object(10)
memory usage: 466.2+ MB

In [287]:
# plfs_23_24[['State/Ut Code','HH_ID','Household Size','Household Type','Person_ID','Religion','Social Group',
#            'Sex','Age','Marital Status','General Educaion Level','No. of years in Formal Education','Status Code_1',
#            'Industry Code (NIC)_1','Occupation Code (NCO)_1']]

In [288]:
plfs_23_24['Status Code_1'].value_counts()

Status Code_1
91    108977
11     61281
92     59028
31     46445
99     29787
51     28151
21     21491
93     20604
94     18212
81      8780
12      6309
97      4207
95      4041
41       846
Name: count, dtype: int64

In [289]:
plfs_23_24['Status Code_1'].dtypes

dtype('int64')

In [290]:
# 1 -- workers or employed, 2 -- unemployed, 3 -- not in labour force

job_status_code_map = {11:1,12:1,21:1,31:1,41:1,51:1,81:2,91:3,92:3,93:3,94:3,95:3,97:3,99:3}

In [291]:
plfs_23_24['usual_principal_status_code'] = plfs_23_24['Status Code_1'].map(job_status_code_map)

In [292]:
plfs_23_24['usual_subsidiary_status_code'] = plfs_23_24['Status Code'].map(job_status_code_map)

In [293]:
plfs_23_24[['usual_principal_status_code','Status Code_1','usual_subsidiary_status_code','Status Code']].sample(300)

,usual_principal_status_code,Status Code_1,usual_subsidiary_status_code,Status Code
161591,1,31,NaN,NaN
20887,3,92,NaN,NaN
266229,3,93,NaN,NaN
363774,1,11,NaN,NaN
281266,3,91,NaN,NaN
173206,3,92,NaN,NaN
222069,1,11,1.0,41.0
31855,1,21,NaN,NaN
19504,3,99,NaN,NaN
36891,1,51,NaN,NaN
221351,1,12,NaN,NaN
211396,3,91,NaN,NaN
326757,3,91,NaN,NaN
274737,3,91,NaN,NaN
328243,1,31,NaN,NaN
192228,3,91,NaN,NaN
105397,1,11,NaN,NaN
235942,1,21,NaN,NaN
51253,1,51,NaN,NaN
181816,3,97,NaN,NaN
305465,1,11,NaN,NaN
36862,1,31,NaN,NaN
200927,1,31,NaN,NaN
17523,3,99,NaN,NaN
131719,1,21,NaN,NaN
91028,3,92,NaN,NaN
155171,3,92,NaN,NaN
279534,1,11,NaN,NaN
5090,1,11,NaN,NaN
131746,3,91,NaN,NaN
81966,1,11,NaN,NaN
52569,2,81,NaN,NaN
46173,3,92,NaN,NaN
221124,3,91,NaN,NaN
94786,1,51,1.0,51.0
232777,1,11,1.0,11.0
4744,3,91,NaN,NaN
87638,1,12,NaN,NaN
236617,1,51,NaN,NaN
251967,3,92,NaN,NaN
156393,3,91,NaN,NaN
30251,1,21,NaN,NaN
108267,1,11,NaN,NaN
23031,3,91,NaN,NaN
78681,3,91,NaN,NaN
9944,3,91,NaN,NaN
214454,3,91,NaN,NaN
77030,3,91,NaN,NaN
350618,1,11,NaN,NaN
297851,1,11,1.0,11.0
342827,1,11,1.0,21.0
386182,1,11,NaN,NaN
338822,1,11,1.0,51.0
11370,1,11,1.0,11.0
263932,3,92,NaN,NaN
302762,3,92,NaN,NaN
9741,1,21,NaN,NaN
10673,3,92,NaN,NaN
261450,3,92,NaN,NaN
39332,1,51,NaN,NaN
114404,3,91,NaN,NaN
169828,3,95,NaN,NaN
196876,1,31,NaN,NaN
89430,3,91,NaN,NaN
85013,1,11,NaN,NaN
74547,1,21,NaN,NaN
345191,3,91,NaN,NaN
147468,3,92,NaN,NaN
82079,3,91,NaN,NaN
8096,3,97,NaN,NaN
413975,1,11,NaN,NaN
322791,1,11,1.0,41.0
84131,1,11,1.0,11.0
46273,1,21,NaN,NaN
103415,2,81,NaN,NaN
224435,3,99,NaN,NaN
343068,1,11,NaN,NaN
253225,3,91,NaN,NaN
313638,3,91,NaN,NaN
348370,3,94,NaN,NaN
135183,3,94,NaN,NaN
408561,3,91,NaN,NaN
340868,1,31,1.0,21.0
28358,1,11,NaN,NaN
206189,1,31,NaN,NaN
138275,3,91,NaN,NaN
34511,1,11,NaN,NaN
158706,3,91,NaN,NaN
1573,3,91,NaN,NaN
399163,1,21,NaN,NaN
366591,3,91,NaN,NaN
4351,3,92,NaN,NaN
109089,3,97,NaN,NaN
214707,1,11,1.0,21.0
406921,1,31,NaN,NaN
193704,1,31,NaN,NaN
29053,1,31,NaN,NaN
390002,3,91,NaN,NaN
417205,3,94,NaN,NaN
78284,3,93,NaN,NaN
315292,1,11,NaN,NaN
307080,3,99,NaN,NaN
376852,3,91,NaN,NaN
281428,3,92,NaN,NaN
12002,3,91,NaN,NaN
291939,3,94,NaN,NaN
140822,3,91,NaN,NaN
113891,3,92,NaN,NaN
67496,1,11,NaN,NaN
344447,1,11,NaN,NaN
364086,3,97,NaN,NaN
205157,3,91,NaN,NaN
386540,1,31,NaN,NaN
241962,1,21,NaN,NaN
39158,3,91,NaN,NaN
225507,3,91,NaN,NaN
338918,1,11,NaN,NaN
411663,3,92,NaN,NaN
401917,3,99,NaN,NaN
245266,3,92,NaN,NaN
335635,3,91,NaN,NaN
103329,3,94,NaN,NaN
416297,1,21,NaN,NaN
231835,3,91,NaN,NaN
367279,3,91,NaN,NaN
257152,3,91,NaN,NaN
382505,3,91,NaN,NaN
320706,3,91,1.0,21.0
195687,3,92,NaN,NaN
253019,3,95,1.0,21.0
130788,3,91,NaN,NaN
301012,1,11,NaN,NaN
261854,1,11,1.0,21.0
95594,3,99,NaN,NaN
369793,3,91,NaN,NaN
88888,1,31,NaN,NaN
293629,3,91,NaN,NaN
74142,3,91,NaN,NaN
34955,3,92,NaN,NaN
157713,3,91,NaN,NaN
320325,3,92,NaN,NaN
368947,1,51,NaN,NaN
134502,1,11,NaN,NaN
357273,3,94,NaN,NaN
231334,1,21,1.0,21.0
182124,3,91,NaN,NaN
145128,3,92,NaN,NaN
276494,3,94,NaN,NaN
397394,3,91,NaN,NaN
9703,3,93,NaN,NaN
118158,1,41,1.0,51.0
5972,3,91,NaN,NaN
201717,1,11,NaN,NaN
274410,3,92,NaN,NaN
405270,1,31,NaN,NaN
138136,3,99,NaN,NaN
89267,1,31,NaN,NaN
273802,3,94,NaN,NaN
206168,1,31,NaN,NaN
351634,1,11,NaN,NaN
182500,3,92,NaN,NaN
232157,1,11,NaN,NaN
101025,1,11,NaN,NaN
278177,1,11,NaN,NaN
112639,1,11,NaN,NaN
331854,3,91,NaN,NaN
158116,3,92,NaN,NaN
282771,3,91,NaN,NaN
402323,1,11,NaN,NaN
350469,1,11,NaN,NaN
412402,3,99,NaN,NaN
9582,3,91,NaN,NaN
71421,3,99,NaN,NaN
378934,3,91,NaN,NaN
386950,3,95,NaN,NaN
63066,3,91,NaN,NaN
6366,1,51,NaN,NaN
268217,1,11,NaN,NaN
325599,3,91,NaN,NaN
300925,1,21,NaN,NaN
308121,3,92,NaN,NaN
342755,1,11,1.0,21.0
105242,1,11,1.0,21.0
252681,3,92,NaN,NaN
129896,1,31,NaN,NaN
289534,3,93,NaN,NaN
108310,1,21,NaN,NaN
357960,3,91,NaN,NaN
21144,3,97,NaN,NaN
257425,3,91,NaN,NaN
155716,3,92,NaN,NaN
350916,3,91,NaN,NaN
264818,3,99,NaN,NaN
359920,3,91,NaN,NaN
331048,1,41,NaN,NaN
230216,1,21,NaN,NaN
61128,1,11,NaN,NaN
199326,3,97,NaN,NaN
302699,1,31,NaN,NaN
108777,3,91,NaN,NaN
166699,1,31,NaN,NaN
355746,1,11,NaN,NaN
405890,3,92,NaN,NaN
170460,1,31,NaN,NaN
170624,3,94,NaN,NaN
48934,1,51,NaN,NaN
372061,3,93,NaN,NaN
249481,1,11,NaN,NaN
45973,3,91,NaN,NaN
259282,3,91,NaN,NaN
44999,3,92,1.0,21.0
341487,3,91,NaN,NaN
91964,3,92,NaN,NaN
26264,1,51,NaN,NaN
104204,3,91,NaN,NaN
95685,3,91,NaN,NaN
239045,3,91,NaN,NaN
94562,1,31,NaN,NaN
284716,1,51,NaN,NaN
400720,3,92,NaN,NaN
384216,3,99,NaN,NaN
389310,3,91,NaN,NaN
305518,3,99,NaN,NaN
213259,3,91,NaN,NaN
291458,1,11,NaN,NaN
213805,1,31,NaN,NaN
153299,2,81,NaN,NaN
75630,3,99,NaN,NaN
417484,1,11,NaN,NaN
116592,3,92,NaN,NaN
55471,3,91,NaN,NaN
307406,3,92,NaN,NaN
31760,1,31,NaN,NaN
160333,3,91,NaN,NaN
203098,1,31,NaN,NaN
240867,1,51,1.0,11.0
13696,3,94,NaN,NaN
65502,1,31,NaN,NaN
185927,1,31,NaN,NaN
297843,3,92,NaN,NaN
42477,1,21,1.0,51.0
143626,3,92,NaN,NaN
66942,1,11,NaN,NaN
410036,3,91,NaN,NaN
11157,3,92,1.0,21.0
190086,3,91,NaN,NaN
281140,3,93,NaN,NaN
332207,3,93,NaN,NaN
312029,3,99,NaN,NaN
69266,3,92,NaN,NaN
263438,1,12,1.0,11.0
291493,1,11,1.0,11.0
83460,3,91,NaN,NaN
323202,3,92,NaN,NaN
172245,3,91,NaN,NaN
40328,3,91,NaN,NaN
47546,3,92,1.0,11.0
4179,3,91,NaN,NaN
46660,3,92,NaN,NaN
210017,3,92,NaN,NaN
409186,3,92,NaN,NaN
8938,1,11,NaN,NaN
262345,3,91,NaN,NaN
56368,3,91,1.0,21.0
413205,1,11,NaN,NaN
265640,1,21,NaN,NaN
362561,1,11,NaN,NaN
303326,1,11,NaN,NaN
145844,3,93,NaN,NaN
76759,1,31,NaN,NaN
271898,1,31,NaN,NaN
402657,3,92,NaN,NaN
406904,3,91,NaN,NaN
390495,3,93,NaN,NaN
61893,1,11,NaN,NaN
188499,3,93,NaN,NaN
363369,3,92,NaN,NaN
298569,1,31,NaN,NaN
142010,1,11,1.0,11.0
124774,3,99,NaN,NaN
72090,3,92,NaN,NaN
341173,3,91,NaN,NaN
397114,3,99,NaN,NaN
287501,3,91,NaN,NaN
96188,1,11,NaN,NaN
179171,1,11,NaN,NaN
134649,3,99,NaN,NaN
341717,3,91,NaN,NaN
119710,1,21,NaN,NaN
200421,1,51,NaN,NaN
229514,1,31,NaN,NaN
359902,1,31,NaN,NaN
395366,3,91,NaN,NaN
68642,1,51,NaN,NaN
127414,2,81,NaN,NaN
261190,3,94,NaN,NaN
96519,3,92,NaN,NaN
52177,3,91,NaN,NaN
142287,3,91,NaN,NaN
19451,3,92,NaN,NaN

In [294]:
plfs_23_24['usual_subsidiary_status_code'].value_counts(dropna = False)

usual_subsidiary_status_code
NaN    366323
1.0     51836
Name: count, dtype: int64

In [295]:
plfs_23_24['Status Code'].value_counts(dropna = False)

Status Code
NaN     366323
21.0     18957
11.0     17029
51.0      8085
41.0      5565
31.0      1181
12.0      1019
Name: count, dtype: int64

In [297]:
plfs_23_24[['usual_principal_status_code','usual_subsidiary_status_code']].sample(300)

        usual_principal_status_code  usual_subsidiary_status_code
61024                             1                           NaN
224115                            1                           1.0
212912                            3                           NaN
175562                            1                           NaN
13405                             3                           NaN
219299                            1                           1.0
59119                             3                           NaN
356285                            3                           NaN
176301                            1                           NaN
216609                            1                           NaN
415207                            3                           NaN
69025                             1                           NaN
327800                            3                           NaN
258349                            1                           NaN
45343                             3                           1.0
392340                            3                           NaN
404705                            3                           NaN
90002                             1                           NaN
408040                            3                           NaN
328480                            3                           NaN
166685                            3                           NaN
228240                            1                           NaN
201326                            3                           NaN
409393                            1                           NaN
24560                             1                           NaN
324650                            3                           NaN
82922                             1                           NaN
110900                            3                           NaN
117697                            1                           NaN
140304                            3                           NaN
271734                            1                           NaN
71354                             3                           NaN
19556                             1                           1.0
176669                            1                           NaN
52107                             1                           NaN
127822                            1                           NaN
20710                             3                           NaN
276538                            3                           NaN
77732                             3                           NaN
288670                            3                           NaN
304428                            2                           NaN
341570                            1                           NaN
239369                            3                           NaN
400893                            1                           NaN
8226                              1                           NaN
299073                            3                           NaN
309950                            3                           NaN
381613                            1                           NaN
17719                             3                           NaN
38052                             1                           1.0
237516                            3                           NaN
210470                            1                           NaN
23112                             1                           NaN
346984                            1                           1.0
286801                            3                           NaN
326899                            3                           1.0
366642                            3                           NaN
401124                            3                           NaN
375951                            1                           NaN
267271                            3                           NaN
387118                            1                           NaN
54820                             3                           NaN
116260                            3                           1.0
318484                            3                           NaN
26867                             1                           NaN
293239                            3                           NaN
170288                            1                           NaN
84738                             1                           NaN
79349                             3                           NaN
157516                            1                           1.0
311972                            3                           NaN
230731                            3                           NaN
19475                             1                           NaN
93746                             1                           NaN
220297                            3                           NaN
303793                            3                           NaN
160393                            3                           NaN
226067                            1                           NaN
354776                            1                           1.0
358311                            1                           NaN
78603                             3                           NaN
12715                             1                           1.0
273414                            3                           NaN
281454                            3                           NaN
18978                             1                           1.0
173936                            1                           NaN
172368                            3                           NaN
358590                            3                           NaN
249855                            1                           NaN
121512                            1                           NaN
348765                            1                           NaN
44020                             1                           NaN
89375                             3                           NaN
214260                            3                           NaN
366832                            1                           NaN
298269                            1                           NaN
40367                             3                           NaN
96186                             3                           NaN
90385                             3                           NaN
408695                            3                           NaN
181363                            1                           NaN
58531                             3                           NaN
23955                             3                           NaN
6308                              3                           NaN
292697                            3                           NaN
92592                             1                           NaN
110513                            3                           NaN
42321                             1                           NaN
90273                             1                           NaN
246469                            1                           NaN
54003                             1                           NaN
245571                            3                           1.0
407018                            2                           1.0
98293                             1                           NaN
414616                            1                           NaN
207401                            3                           NaN
242079                            1                           1.0
135451                            3                           1.0
177424                            1                           NaN
341821                            3                           NaN
355437                            3                           1.0
363093                            1                           NaN
62001                             3                           NaN
81948                             3                           NaN
322187                            3                           1.0
32294                             3                           NaN
337370                            3                           1.0
387292                            1                           NaN
278149                            1                           NaN
202297                            3                           NaN
278351                            1                           NaN
410784                            1                           NaN
388249                            3                           NaN
145542                            3                           NaN
397306                            1                           1.0
384741                            3                           NaN
89867                             1                           NaN
378336                            1                           NaN
240521                            1                           NaN
338961                            1                           NaN
294125                            3                           NaN
181916                            3                           NaN
374179                            3                           NaN
338081                            1                           NaN
194663                            3                           NaN
314240                            3                           NaN
397705                            3                           NaN
284612                            3                           NaN
286707                            3                           NaN
404713                            3                           NaN
294809                            3                           NaN
126952                            3                           NaN
47530                             1                           NaN
197797                            3                           NaN
346632                            3                           NaN
237649                            1                           NaN
218365                            1                           NaN
295100                            3                           NaN
393513                            3                           NaN
396666                            1                           NaN
172397                            3                           NaN
42514                             1                           NaN
228484                            3                           NaN
184936                            1                           NaN
259328                            3                           NaN
92861                             1                           NaN
410114                            3                           NaN
270245                            3                           NaN
207892                            1                           NaN
271781                            3                           NaN
11387                             1                           1.0
344468                            3                           NaN
223602                            3                           NaN
218962                            3                           NaN
159707                            3                           NaN
50047                             1                           NaN
129273                            1                           1.0
94089                             3                           NaN
267743                            3                           NaN
159490                            1                           NaN
187539                            1                           NaN
189438                            1                           NaN
372790                            1                           NaN
405827                            1                           NaN
415270                            1                           NaN
306709                            3                           NaN
415029                            3                           NaN
65250                             1                           NaN
262717                            1                           NaN
26162                             1                           NaN
320032                            3                           NaN
349407                            3                           1.0
81809                             3                           NaN
116292                            1                           1.0
121145                            3                           NaN
225464                            3                           NaN
123482                            1                           NaN
5571                              1                           NaN
41137                             3                           NaN
360115                            3                           NaN
184316                            3                           NaN
348692                            3                           NaN
343814                            3                           1.0
316652                            1                           NaN
102049                            3                           NaN
93938                             3                           NaN
218631                            1                           NaN
172585                            1                           NaN
374443                            3                           NaN
380775                            3                           NaN
8809                              3                           NaN
331785                            1                           NaN
118571                            1                           NaN
70463                             1                           NaN
401845                            1                           NaN
388826                            1                           NaN
95416                             3                           NaN
322583                            1                           NaN
107024                            3                           NaN
393304                            1                           NaN
51640                             3                           NaN
309919                            1                           NaN
138565                            1                           NaN
72486                             1                           NaN
116146                            1                           1.0
385576                            1                           NaN
321486                            3                           1.0
236750                            3                           NaN
399394                            3                           NaN
119277                            3                           NaN
340086                            1                           NaN
246370                            1                           1.0
224646                            3                           NaN
88388                             1                           NaN
166535                            1                           NaN
189760                            3                           NaN
334412                            1                           NaN
241967                            1                           NaN
406422                            3                           NaN
290660                            1                           1.0
114434                            1                           1.0
114409                            1                           1.0
238540                            1                           1.0
341194                            1                           1.0
98                                3                           NaN
305470                            1                           NaN
13944                             3                           NaN
201599                            3                           NaN
22427                             3                           1.0
44027                             1                           NaN
214139                            3                           NaN
85079                             1                           NaN
373306                            1                           1.0
49683                             1                           1.0
104236                            3                           NaN
234909                            1                           NaN
207783                            1                           1.0
158016                            3                           NaN
327085                            1                           NaN
318662                            1                           NaN
109220                            1                           NaN
159091                            1                           NaN
39427                             1                           NaN
186486                            3                           NaN
203710                            1                           NaN
36429                             1                           NaN
398939                            3                           NaN
41803                             1                           NaN
417754                            3                           NaN
106613                            1                           1.0
31490                             3                           NaN
328557                            1                           NaN
54105                             3                           NaN
389610                            3                           NaN
100392                            3                           NaN
317888                            3                           NaN
390366                            3                           NaN
142792                            1                           1.0
126723                            2                           NaN
121635                            1                           NaN
146267                            1                           NaN
384326                            3                           NaN
250351                            3                           NaN
84113                             3                           NaN
79373                             3                           NaN
297444                            3                           NaN
108586                            3                           NaN
189888                            3                           NaN
73891                             3                           NaN
88932                             3                           NaN
40118                             1                           NaN
169302                            1                           NaN
5291                              1                           NaN
346513                            1                           NaN
218564                            3                           NaN
253604                            1                           NaN
668                               3                           NaN
363313                            3                           NaN
270261                            1                           NaN
365434                            1                           NaN

In [298]:
# generating final codes using ps+ss methods 1 - employed/workers, 2 - unemployed and 3 - not in labour forces

plfs_23_24['usual_principal_subsidiary_status_code'] = np.where(plfs_23_24['usual_subsidiary_status_code'] == 1, 1,
                    np.where(plfs_23_24['usual_principal_status_code'] == 1,1,
                            np.where((plfs_23_24['usual_principal_status_code'] == 2) & (plfs_23_24['usual_subsidiary_status_code'].isna()),2,3)))

In [299]:
plfs_23_24[['usual_principal_subsidiary_status_code','usual_principal_status_code',
            'usual_subsidiary_status_code','Status Code_1','Status Code']].sample(300)

,usual_principal_subsidiary_status_code,usual_principal_status_code,usual_subsidiary_status_code,Status Code_1,Status Code
46883,3,3,NaN,91,NaN
410540,1,1,NaN,11,NaN
155334,3,3,NaN,91,NaN
20380,1,1,1.0,11,41.0
227213,1,1,NaN,11,NaN
349584,3,3,NaN,91,NaN
283390,1,1,NaN,51,NaN
34465,3,3,NaN,91,NaN
58176,1,1,NaN,11,NaN
63085,2,2,NaN,81,NaN
262965,1,1,1.0,51,11.0
412673,3,3,NaN,91,NaN
328457,1,1,NaN,31,NaN
102974,3,3,NaN,91,NaN
168045,1,1,NaN,31,NaN
294567,3,3,NaN,92,NaN
262025,3,3,NaN,99,NaN
98563,2,2,NaN,81,NaN
58584,3,3,NaN,92,NaN
178243,1,1,NaN,11,NaN
159660,1,1,1.0,51,11.0
353378,3,3,NaN,91,NaN
287015,3,3,NaN,91,NaN
204318,3,3,NaN,92,NaN
150480,3,3,NaN,91,NaN
315090,3,3,NaN,91,NaN
203999,3,3,NaN,92,NaN
185108,2,2,NaN,81,NaN
372255,1,1,1.0,21,11.0
257708,3,3,NaN,91,NaN
143107,1,1,NaN,11,NaN
114147,1,1,NaN,51,NaN
151600,1,1,NaN,21,NaN
378036,1,1,NaN,31,NaN
48375,1,1,1.0,11,11.0
102215,1,1,NaN,31,NaN
342000,3,3,NaN,91,NaN
240664,1,1,NaN,31,NaN
365887,3,3,NaN,91,NaN
123538,3,3,NaN,91,NaN
284487,1,1,NaN,11,NaN
200307,1,1,1.0,12,12.0
376891,3,3,NaN,92,NaN
28099,1,3,1.0,92,11.0
290659,1,1,NaN,11,NaN
32261,1,1,NaN,31,NaN
65560,3,3,NaN,92,NaN
173438,1,1,NaN,31,NaN
88577,1,1,NaN,31,NaN
345211,3,3,NaN,93,NaN
385052,3,3,NaN,92,NaN
103764,2,2,NaN,81,NaN
113626,3,3,NaN,94,NaN
345897,3,3,NaN,99,NaN
372186,1,1,NaN,51,NaN
399957,1,1,1.0,51,11.0
291242,3,3,NaN,99,NaN
165368,1,1,NaN,31,NaN
233342,3,3,NaN,92,NaN
234818,3,3,NaN,99,NaN
335298,1,1,1.0,31,51.0
150538,3,3,NaN,99,NaN
330876,1,1,NaN,21,NaN
177646,1,1,NaN,31,NaN
273418,3,3,NaN,92,NaN
328531,3,3,NaN,91,NaN
8896,3,3,NaN,94,NaN
282762,1,1,NaN,31,NaN
339560,1,1,NaN,21,NaN
352785,1,1,NaN,11,NaN
93636,3,3,NaN,92,NaN
287589,3,3,NaN,99,NaN
312624,1,1,NaN,21,NaN
162338,3,3,NaN,91,NaN
187397,1,1,NaN,31,NaN
199820,3,3,NaN,91,NaN
288936,1,1,NaN,51,NaN
339226,1,1,NaN,51,NaN
295428,3,3,NaN,92,NaN
400140,3,3,NaN,92,NaN
58065,3,3,NaN,99,NaN
383296,3,3,NaN,92,NaN
140191,1,1,1.0,21,51.0
111447,1,3,1.0,93,11.0
99732,1,1,NaN,31,NaN
371814,2,2,NaN,81,NaN
119120,3,3,NaN,91,NaN
189648,3,3,NaN,91,NaN
51054,1,3,1.0,93,21.0
372263,1,1,1.0,51,51.0
145758,1,1,NaN,11,NaN
389984,3,3,NaN,94,NaN
391913,3,3,NaN,92,NaN
146297,1,1,NaN,21,NaN
344736,3,3,NaN,91,NaN
371951,1,1,NaN,21,NaN
407,3,3,NaN,93,NaN
190076,1,1,NaN,11,NaN
113476,3,3,NaN,91,NaN
232575,1,1,NaN,21,NaN
133675,1,1,1.0,51,21.0
398182,3,3,NaN,99,NaN
127571,3,3,NaN,91,NaN
24716,1,1,1.0,11,11.0
293771,1,1,NaN,31,NaN
26514,3,3,NaN,91,NaN
146270,1,1,NaN,51,NaN
289445,1,1,NaN,12,NaN
188608,3,3,NaN,92,NaN
375817,3,3,NaN,92,NaN
280688,3,3,NaN,92,NaN
141380,1,3,1.0,91,21.0
208839,3,3,NaN,95,NaN
352210,3,3,NaN,91,NaN
7453,3,3,NaN,91,NaN
408124,1,1,NaN,11,NaN
101201,1,1,NaN,31,NaN
310507,3,3,NaN,91,NaN
91404,1,1,NaN,31,NaN
362463,1,1,NaN,51,NaN
195980,1,1,NaN,31,NaN
91613,3,3,NaN,91,NaN
314312,2,2,NaN,81,NaN
334661,3,3,NaN,93,NaN
303435,1,1,NaN,31,NaN
148669,3,3,NaN,91,NaN
87287,1,1,NaN,12,NaN
198435,3,3,NaN,91,NaN
356783,3,3,NaN,91,NaN
127876,3,3,NaN,91,NaN
397439,3,3,NaN,91,NaN
114057,3,3,NaN,91,NaN
354666,1,1,1.0,51,11.0
62073,1,1,1.0,31,11.0
146007,3,3,NaN,91,NaN
373915,3,3,NaN,91,NaN
213716,1,3,1.0,93,21.0
14000,3,3,NaN,91,NaN
136613,3,3,NaN,91,NaN
56111,1,1,NaN,51,NaN
1759,1,1,NaN,11,NaN
236690,3,3,NaN,92,NaN
392260,3,3,NaN,91,NaN
18220,1,2,1.0,81,11.0
216423,1,1,NaN,11,NaN
371917,3,3,NaN,91,NaN
191705,3,3,NaN,95,NaN
228725,1,1,NaN,21,NaN
319645,3,3,NaN,91,NaN
153134,3,3,NaN,91,NaN
111703,1,1,1.0,11,41.0
385199,3,3,NaN,93,NaN
373293,1,1,1.0,11,11.0
198811,1,1,NaN,31,NaN
402523,3,3,NaN,91,NaN
321258,3,3,NaN,99,NaN
199322,1,1,NaN,31,NaN
341475,3,3,NaN,91,NaN
361314,2,2,NaN,81,NaN
125971,1,1,1.0,21,21.0
404039,1,1,1.0,11,11.0
72603,1,1,NaN,31,NaN
7460,3,3,NaN,91,NaN
338020,3,3,NaN,91,NaN
35637,3,3,NaN,92,NaN
33574,1,1,NaN,51,NaN
146112,1,1,NaN,11,NaN
207142,3,3,NaN,99,NaN
225159,3,3,NaN,91,NaN
357663,1,1,NaN,12,NaN
4595,1,1,1.0,51,11.0
176526,3,3,NaN,99,NaN
250077,1,1,NaN,11,NaN
99558,1,1,NaN,31,NaN
68460,3,3,NaN,91,NaN
191465,3,3,NaN,91,NaN
365279,3,3,NaN,94,NaN
128005,1,3,1.0,91,21.0
225519,1,3,1.0,92,11.0
189295,1,1,NaN,31,NaN
179600,3,3,NaN,92,NaN
286550,3,3,NaN,99,NaN
409538,3,3,NaN,91,NaN
362494,1,3,1.0,92,21.0
81382,1,1,NaN,51,NaN
273051,1,1,NaN,11,NaN
413593,1,1,NaN,31,NaN
123686,3,3,NaN,91,NaN
314973,1,1,1.0,51,11.0
96795,1,2,1.0,81,21.0
153568,3,3,NaN,91,NaN
202471,1,1,NaN,51,NaN
412858,3,3,NaN,99,NaN
299637,1,1,NaN,31,NaN
368202,1,1,NaN,12,NaN
103281,3,3,NaN,92,NaN
169596,3,3,NaN,99,NaN
350897,3,3,NaN,92,NaN
49183,1,1,NaN,11,NaN
203715,1,1,NaN,31,NaN
159974,1,1,NaN,11,NaN
253656,3,3,NaN,93,NaN
370303,3,3,NaN,91,NaN
10874,3,3,NaN,91,NaN
21868,3,3,NaN,93,NaN
327259,1,1,1.0,51,11.0
171607,3,3,NaN,99,NaN
6596,3,3,NaN,94,NaN
242023,3,3,NaN,91,NaN
290695,1,1,NaN,11,NaN
213516,3,3,NaN,91,NaN
195990,3,3,NaN,94,NaN
365475,3,3,NaN,91,NaN
83453,3,3,NaN,91,NaN
188228,3,3,NaN,94,NaN
325336,3,3,NaN,99,NaN
397701,3,3,NaN,99,NaN
158579,1,3,1.0,92,41.0
392754,3,3,NaN,92,NaN
163865,3,3,NaN,99,NaN
48506,3,3,NaN,99,NaN
48358,3,3,NaN,91,NaN
133776,1,1,NaN,31,NaN
169921,1,1,NaN,31,NaN
408259,3,3,NaN,91,NaN
355732,3,3,NaN,91,NaN
379807,3,3,NaN,92,NaN
83192,1,1,NaN,31,NaN
370273,3,3,NaN,91,NaN
343242,1,3,1.0,92,11.0
114699,3,3,NaN,92,NaN
399875,1,1,NaN,31,NaN
93199,3,3,NaN,92,NaN
172969,3,3,NaN,93,NaN
410162,3,3,NaN,92,NaN
127095,3,3,NaN,97,NaN
151215,1,1,NaN,11,NaN
138350,1,1,NaN,31,NaN
401880,3,3,NaN,91,NaN
269125,1,1,NaN,11,NaN
146969,3,3,NaN,91,NaN
287471,1,1,NaN,31,NaN
168883,3,3,NaN,91,NaN
41102,3,3,NaN,97,NaN
286858,2,2,NaN,81,NaN
45430,3,3,NaN,93,NaN
252796,1,1,NaN,11,NaN
335283,3,3,NaN,91,NaN
144364,3,3,NaN,91,NaN
212957,3,3,NaN,91,NaN
322947,1,1,NaN,51,NaN
183385,1,1,NaN,21,NaN
133321,3,3,NaN,91,NaN
287942,1,1,NaN,31,NaN
209777,3,3,NaN,99,NaN
75444,1,1,NaN,11,NaN
169092,3,3,NaN,91,NaN
121132,3,3,NaN,99,NaN
83172,3,3,NaN,93,NaN
201927,3,3,NaN,94,NaN
397872,3,3,NaN,91,NaN
227255,3,3,NaN,91,NaN
56350,1,3,1.0,92,51.0
398523,1,1,NaN,21,NaN
153057,3,3,NaN,99,NaN
393660,3,3,NaN,91,NaN
173968,1,1,NaN,31,NaN
235501,1,1,NaN,41,NaN
106206,1,1,NaN,51,NaN
185334,3,3,NaN,93,NaN
66209,1,1,NaN,31,NaN
279835,3,3,NaN,91,NaN
197482,1,1,NaN,31,NaN
111755,3,3,NaN,91,NaN
316387,3,3,NaN,91,NaN
57426,1,1,NaN,31,NaN
183686,1,1,NaN,31,NaN
314594,3,3,NaN,97,NaN
256003,3,3,NaN,92,NaN
254874,1,1,NaN,21,NaN
38309,3,3,NaN,91,NaN
139726,1,1,NaN,11,NaN
86326,3,3,NaN,91,NaN
207976,1,1,NaN,11,NaN
255052,1,3,1.0,92,21.0
106188,3,3,NaN,91,NaN
145210,1,1,NaN,11,NaN
205932,3,3,NaN,91,NaN
233329,3,3,NaN,99,NaN
129913,1,1,NaN,51,NaN
305878,1,1,NaN,11,NaN
117614,1,1,NaN,11,NaN
279579,3,3,NaN,91,NaN
394636,1,1,NaN,11,NaN
51935,3,3,NaN,92,NaN
147195,3,3,NaN,91,NaN
260922,3,3,NaN,91,NaN
190842,3,3,NaN,91,NaN
131838,3,3,NaN,93,NaN
36831,1,1,NaN,11,NaN

In [300]:
job_status_code = {11:'worked in h.h. enterprise (self-employed): own account worker',
                  12:'worked in h.h. enterprise (self-employed): employer',
                  21:'worked in h.h. enterprise (self-employed): worked as helper in h.h. enterprise (unpaid family worker)',
                   31:'worked as regular salaried/ wage employee',
                  41:'worked as casual wage labour: in public works',
                  51:'worked as casual wage labour: in other types of work',
                  81:'did not work but was seeking and/or available for work',
                  91:'attended educational institution',
                  92:'attended domestic duties only',
                  93:'attended domestic duties and was also engaged in free collection of goods (vegetables, roots, firewood, cattle feed, etc.), sewing, tailoring, weaving, etc. for household use',
                  94:'rentiers,pensioners , remittance recipients, etc',
                  95:'not able to work due to disability',
                  97:'others (including begging, prostitution,etc.)'}

In [301]:
plfs_23_24['usual_principal_subsidiary_status_code'].value_counts(dropna = False)

usual_principal_subsidiary_status_code
3    227483
1    183070
2      7606
Name: count, dtype: int64

In [303]:
# Categorization of employment status will be stored in a separate column,  
# which will be beneficial for data validation and further analysis. 

plfs_23_24['usual_principal_subsidiary_status_code_copy'] = plfs_23_24['usual_principal_subsidiary_status_code'].copy()

In [304]:
plfs_23_24['usual_principal_subsidiary_status_code_copy'].value_counts(dropna = False)

usual_principal_subsidiary_status_code_copy
3    227483
1    183070
2      7606
Name: count, dtype: int64

In [305]:
conditions = [
    (plfs_23_24['usual_principal_subsidiary_status_code'] == 1) & (plfs_23_24['Status Code_1'] == 11),
    (plfs_23_24['usual_principal_subsidiary_status_code'] == 1) & (plfs_23_24['Status Code_1'] == 12),
    (plfs_23_24['usual_principal_subsidiary_status_code'] == 1) & (plfs_23_24['Status Code_1'] == 21),
    (plfs_23_24['usual_principal_subsidiary_status_code'] == 1) & (plfs_23_24['Status Code_1'] == 31),
    (plfs_23_24['usual_principal_subsidiary_status_code'] == 1) & (plfs_23_24['Status Code_1'] == 41),
    (plfs_23_24['usual_principal_subsidiary_status_code'] == 1) & (plfs_23_24['Status Code_1'] == 51),
]

values = [11, 12, 21, 31, 41, 51]

plfs_23_24['usual_principal_subsidiary_status_code_copy'] = np.select(
    conditions, values, default=plfs_23_24['usual_principal_subsidiary_status_code']
)

In [306]:
plfs_23_24['usual_principal_subsidiary_status_code_copy'].value_counts(dropna = False)

usual_principal_subsidiary_status_code_copy
3     227483
11     61281
31     46445
51     28151
21     21491
1      18547
2       7606
12      6309
41       846
Name: count, dtype: int64

In [307]:
conditions = [
    (plfs_23_24['usual_principal_subsidiary_status_code'] == 1) & (plfs_23_24['Status Code'] == 11),
    (plfs_23_24['usual_principal_subsidiary_status_code'] == 1) & (plfs_23_24['Status Code'] == 12),
    (plfs_23_24['usual_principal_subsidiary_status_code'] == 1) & (plfs_23_24['Status Code'] == 21),
    (plfs_23_24['usual_principal_subsidiary_status_code'] == 1) & (plfs_23_24['Status Code'] == 31),
    (plfs_23_24['usual_principal_subsidiary_status_code'] == 1) & (plfs_23_24['Status Code'] == 41),
    (plfs_23_24['usual_principal_subsidiary_status_code'] == 1) & (plfs_23_24['Status Code'] == 51),
]

values = [11, 12, 21, 31, 41, 51]

plfs_23_24['usual_principal_subsidiary_status_code_copy'] = np.select(
    conditions, values, default=plfs_23_24['usual_principal_subsidiary_status_code_copy']
)

In [308]:
plfs_23_24['usual_principal_subsidiary_status_code_copy'].value_counts(dropna = False)

usual_principal_subsidiary_status_code_copy
3     227483
11     64544
31     42765
21     35796
51     27535
2       7606
12      6279
41      6151
Name: count, dtype: int64

In [309]:
plfs_23_24['Sector'] = plfs_23_24['Sector'].map({1:'Rural', 2:'Urban'})

In [310]:
plfs_23_24.head()

,File Identification,Schdule,Quarter,Visit,Sector,State/Ut Code,District Code,NSS-Region,Stratum,Sub-Stratum,Sub-Sample,Fod Sub-Region,FSU,Sample Sg/Sb No.,Second Stage Stratum No.,Sample Household Number,Person Serial No.,Relationship To Head,Sex,Age,Marital Status,General Educaion Level,Technical Educaion Level,No. of years in Formal Education,Status of Current Attendance in Educational Institution,Whether received any Vocational/Technical Training,Whether Training completed during last 365 Days,Field Of Training,Duration Of Training,Type Of Training,Source Of Funding The Training,Status Code_1,Industry Code (NIC)_1,Occupation Code (NCO)_1,Whether Engaged In Any Work In Subsidiary Capacity,(Principal)location Of Workplace Code,(Principal) Enterprise Type Code,(Principal) No. Of Workers In The Enterprise,(Principal) Type Of Job Contract,(Principal) Eligble Of Paid Leave,(Principal) Social Security Benefits,(Principal) Usage of product of the economic activity,Status Code,Industry Code (NIC),Occupation Code (NCO),(Subsidiary) location Of Workplace Code,(Subsidiary) Enterprise Type Code,(Subsidiary) No. Of Workers In The Enterprise,(Subsidiary) Type Of Job Contract,(Subsidiary) Eligble Of Paid Leave,(Subsidiary) Social Security Benefits,(Subsidiary) Usage of product of the economic activity,Ever Worked Prior to last 365 days,Duration of engagement in the economic activity in usual Principal Activity Status,Duration of engagement in the economic activity in Subsidiary Activity Status,Efforts undertaken to search work,Duration of spell of Unemployment,Whether Ever Worked,Reason for not working in last 365 days,Main reason for being in Principal activity status (91 to 97),Status Code for activity 1,Industry Code (NIC) for activity 1,hours actuallly worked for activity 1 on 7 th day,wage earning for activity 1 on 7 th day,Status Code for activity 2,Industry Code (NIC) for activity 2,hours actuallly worked for activity 2 on 7 th day,wage earning for activity 2 on 7 th day,total hours actually worked on 7th day,hours available for aditional worked on 7th day,Status Code for activity 1_1,Industry Code (NIC) for activity 1_1,hours actuallly worked for activity 1 on 6 th day,wage earning for activity 1 on 7 th day_1,Status Code for activity 2_1,Industry Code (NIC) for activity 2_1,hours actuallly worked for activity 2 on 6 th day,wage earning for activity 2 on 6 th day,total hours actually worked on 6th day,hours available for aditional worked on 6th day,Status Code for activity 1_2,Industry Code (NIC) for activity 1_2,hours actuallly worked for activity 1 on5 th day,wage earning for activity 1 on 5 th day,Status Code for activity 2_2,Industry Code (NIC) for activity 2_2,hours actuallly worked for activity 2 on 5 th day,wage earning for activity 2 on 5 th day,total hours actually worked on 5th day,hours available for aditional worked on 5th day,Status Code for activity 1_1_1,Industry Code (NIC) for activity 1_1_1,hours actuallly worked for activity 1 on 4th day,wage earning for activity 1 on 4th day,Status Code for activity 2_3,Industry Code (NIC) for activity 2_3,hours actuallly worked for activity 2 on 4th day,wage earning for activity 2 on 4th day,total hours actually worked on 4th day,hours available for aditional worked on 4th day,Status Code for activity 1_3,Industry Code (NIC) for activity 1_3,hours actuallly worked for activity 1 on 3rd day,wage earning for activity 1 on 3rd day,Status Code for activity 2_4,Industry Code (NIC) for activity 2_4,hours actuallly worked for activity 2 on 3rd day,wage earning for activity 2 on 3 rd day,total hours actually worked on 3rd day,hours available for aditional worked on 3rd day,Status Code for activity 1_4,Industry Code (NIC) for activity 1_4,hours actuallly worked for activity 1 on 2nd day,wage earning for activity 1 on 2nd day,Status Code for activity 2_5,Industry Code (NIC) for activity 2_5,hours actuallly worked for activity 2 on 2nd day,wage earning for activity 2 on 2nd day,total hours actually worked on 2nd day,hours available for aditional worked on 2nd day,Status Code for activity 1_5,Industry Code (NIC) for activity 1_5,hours actuallly worked for activity 1 on 1st day,wage earning for activity 1 on 1st day,Status Code for activity 2_6,Industry Code (NIC) for activity 2_6,hours actuallly worked for activity 2 on 1st day,wage earning for activity 2 on 1st day,total hours actually worked on 1st day,hours available for aditional worked on 1st day,Current Weekly Status (CWS),Industry Code (CWS),Occupation Code (CWS),Earnings For Regular Salaried/Wage Activity,Earnings For Self Employed,Ns count for sector x stratum x substratum x sub-sample,Ns count for sector x stratum x substratum,Sub-sample wise Multiplier,Occurence of FSUs in State x Sector x Stratum x SubStratum in 4 Quarters,HH_ID,Person_ID,Household Size,Household Type,Religion,Social Group,_merge,Final Weight,usual_principal_status_code,usual_subsidiary_status_code,usual_principal_subsidiary_status_code,usual_principal_subsidiary_status_code_copy
0,FVP7,104,Q1,V1,Rural,Himachal Pradesh,4,21,1,14,1,213,10002,1,1,1,1,1,1,72,2,secondary,no technical education,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,5.0,3.0,94,NaN,0,0,NaN,NaN,0,0,0,0,94,NaN,0,0,NaN,NaN,0,0,0,0,94,NaN,0,0,NaN,NaN,0,0,0,0,94,NaN,0,0,NaN,NaN,0,0,0,0,94,NaN,0,0,NaN,NaN,0,0,0,0,94,NaN,0,0,NaN,NaN,0,0,0,0,94,NaN,0,0,NaN,NaN,0,0,0,0,94,NaN,NaN,0,0,2,4,246798,4,Q1V1110002111,Q1V11100021111,7,1,Hinduism,scheduled caste,both,308.4975,3,NaN,3,3
1,FVP7,104,Q1,V1,Rural,Himachal Pradesh,4,21,1,14,1,213,10002,1,1,1,2,2,2,65,2,primary,no technical education,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,93,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,8.0,3.0,93,NaN,0,0,NaN,NaN,0,0,0,0,93,NaN,0,0,NaN,NaN,0,0,0,0,93,NaN,0,0,NaN,NaN,0,0,0,0,93,NaN,0,0,NaN,NaN,0,0,0,0,93,NaN,0,0,NaN,NaN,0,0,0,0,93,NaN,0,0,NaN,NaN,0,0,0,0,93,NaN,0,0,NaN,NaN,0,0,0,0,93,NaN,NaN,0,0,2,4,246798,4,Q1V1110002111,Q1V11100021112,7,1,Hinduism,scheduled caste,both,308.4975,3,NaN,3,3
2,FVP7,104,Q1,V1,Rural,Himachal Pradesh,4,21,1,14,1,213,10002,1,1,1,3,3,1,40,2,secondary,no technical education,10,NaN,2.0,NaN,NaN,NaN,NaN,NaN,11,1132.0,611.0,2,NaN,1.0,1.0,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,11,1.0,4,0,NaN,NaN,0,0,4,0,11,1.0,5,0,NaN,NaN,0,0,5,3,11,1.0,4,0,NaN,NaN,0,0,4,3,11,1.0,5,0,NaN,NaN,0,0,5,2,11,1.0,6,0,NaN,NaN,0,0,6,0,11,1.0,5,0,NaN,NaN,0,0,5,2,11,1.0,6,0,NaN,NaN,0,0,6,0,11,1.0,611.0,0,6500,2,4,246798,4,Q1V1110002111,Q1V11100021113,7,1,Hinduism,scheduled caste,both,308.4975,1,NaN,1,11
3,FVP7,104,Q1,V1,Rural,Himachal Pradesh,4,21,1,14,1,213,10002,1,1,1,4,4,2,35,2,secondary,no technical education,10,NaN,2.0,NaN,NaN,NaN,NaN,NaN,21,1132.0,611.0,2,NaN,1.0,1.0,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,21,1.0,4,0,NaN,NaN,0,0,4,3,21,1.0,5,0,NaN,NaN,0,0,5,3,21,1.0,6,0,NaN,NaN,0,0,6,2,21,1.0,4,0,NaN,NaN,0,0,4,4,21,1.0,5,0,NaN,NaN,0,0,5,0,21,1.0,4,0,NaN,NaN,0,0,4,3,21,1.0,5,0,NaN,NaN,0,0,5,3,21,1.0,611.0,0,0,2,4,246798,4,Q1V1110002111,Q1V11100021114,7,1,Hinduism,scheduled caste,both,308.4975,1,NaN,1,21
4,FVP7,104,Q1,V1,Rural,Himachal Pradesh,4,21,1,14,1,213,10002,1,1,1,5,6,1,15,1,middle,no technical education,9,26.0,6.0,NaN,NaN,NaN,NaN,NaN,91,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,4.0,91,NaN,0,0,NaN,NaN,0,0,0,0,91,NaN,0,0,NaN,NaN,0,0,0,0,91,NaN,0,0,NaN,NaN,0,0,0,0,91,NaN,0,0,NaN,NaN,0,0,0,0,91,NaN,0,0,NaN,NaN,0,0,0,0,91,NaN,0,0,NaN,NaN,0,0,0,0,91,NaN,0,0,NaN,NaN,0,0,0,0,91,NaN,NaN,0,0,2,4,246798,4,Q1V1110002111,Q1V11100021115,7,1,Hinduism,scheduled caste,both,308.4975,3,NaN,3,3

In [311]:
plfs_23_24.columns.values

array(['File Identification', 'Schdule', 'Quarter', 'Visit', 'Sector',
       'State/Ut Code', 'District Code', 'NSS-Region', 'Stratum',
       'Sub-Stratum', 'Sub-Sample', 'Fod Sub-Region', 'FSU',
       'Sample Sg/Sb No.', 'Second Stage Stratum No.',
       'Sample Household Number', 'Person Serial No.',
       'Relationship To Head', 'Sex', 'Age', 'Marital Status',
       'General Educaion Level', 'Technical Educaion Level',
       'No. of years in Formal Education',
       'Status of Current Attendance in Educational Institution',
       'Whether received any Vocational/Technical Training',
       'Whether Training completed during last 365 Days',
       'Field Of Training', 'Duration Of Training', 'Type Of Training',
       'Source Of Funding The Training', 'Status Code_1',
       'Industry Code (NIC)_1', 'Occupation Code (NCO)_1',
       'Whether Engaged In Any Work In Subsidiary Capacity',
       '(Principal)location Of Workplace Code',
       '(Principal) Enterprise Type Code',
       '(Principal) No. Of Workers In The Enterprise',
       '(Principal)  Type Of Job Contract',
       '(Principal) Eligble Of Paid Leave',
       '(Principal) Social Security Benefits',
       '(Principal) Usage of product of the economic activity',
       'Status Code', 'Industry Code (NIC)', 'Occupation Code (NCO)',
       '(Subsidiary) location Of Workplace Code',
       '(Subsidiary)  Enterprise Type Code',
       '(Subsidiary)  No. Of Workers In The Enterprise',
       '(Subsidiary)   Type Of Job Contract',
       '(Subsidiary)  Eligble Of Paid Leave',
       '(Subsidiary)  Social Security Benefits',
       '(Subsidiary) Usage of product of the economic activity',
       'Ever Worked Prior to last 365 days',
       'Duration of engagement in the economic activity in usual Principal Activity Status',
       'Duration of engagement in the economic activity in Subsidiary Activity Status',
       'Efforts undertaken to search work',
       'Duration of spell of Unemployment', 'Whether Ever Worked ',
       ' Reason for not working in last 365 days',
       'Main reason for being in Principal activity status (91 to 97) ',
       'Status Code for activity 1', 'Industry Code (NIC) for activity 1',
       'hours actuallly worked for activity 1 on 7 th day',
       'wage earning for activity 1 on 7 th day',
       'Status Code for activity 2', 'Industry Code (NIC) for activity 2',
       'hours actuallly worked for activity 2 on 7 th day',
       'wage earning for activity 2 on 7 th day',
       'total hours actually worked on 7th day',
       'hours available for aditional worked on 7th day',
       'Status Code for activity 1_1',
       'Industry Code (NIC) for activity 1_1',
       'hours actuallly worked for activity 1 on 6 th day',
       'wage earning for activity 1 on 7 th day_1',
       'Status Code for activity 2_1',
       'Industry Code (NIC) for activity 2_1',
       'hours actuallly worked for activity 2 on 6 th day',
       'wage earning for activity 2 on 6 th day',
       'total hours actually worked on 6th day',
       'hours available for aditional worked on 6th day',
       'Status Code for activity 1_2',
       'Industry Code (NIC) for activity 1_2',
       'hours actuallly worked for activity 1 on5 th day',
       'wage earning for activity 1 on 5 th day',
       'Status Code for activity 2_2',
       'Industry Code (NIC) for activity 2_2',
       'hours actuallly worked for activity 2 on 5 th day',
       'wage earning for activity 2 on 5 th day',
       'total hours actually worked on 5th day',
       'hours available for aditional worked on 5th day',
       'Status Code for activity 1_1_1',
       'Industry Code (NIC) for activity 1_1_1',
       'hours actuallly worked for activity 1 on 4th day',
       'wage earning for activity 1 on 4th day',
       'Status Code for activity 2_3',
       'Industry Code (NIC) for activity 2_3',
       'hours actuallly worked for activity 2 on 4th day',
       'wage earning for activity 2 on 4th day',
       'total hours actually worked on 4th day',
       'hours available for aditional worked on 4th day',
       'Status Code for activity 1_3',
       'Industry Code (NIC) for activity 1_3',
       'hours actuallly worked for activity 1 on 3rd day',
       'wage earning for activity 1 on 3rd day',
       'Status Code for activity 2_4',
       'Industry Code (NIC) for activity 2_4',
       'hours actuallly worked for activity 2 on 3rd day',
       'wage earning for activity 2 on 3 rd day',
       'total hours actually worked on 3rd day',
       'hours available for aditional worked on 3rd day',
       'Status Code for activity 1_4',
       'Industry Code (NIC) for activity 1_4',
       'hours actuallly worked for activity 1 on 2nd day',
       'wage earning for activity 1 on 2nd day',
       'Status Code for activity 2_5',
       'Industry Code (NIC) for activity 2_5',
       'hours actuallly worked for activity 2 on 2nd day',
       'wage earning for activity 2 on 2nd day',
       'total hours actually worked on 2nd day',
       'hours available for aditional worked on 2nd day',
       'Status Code for activity 1_5',
       'Industry Code (NIC) for activity 1_5',
       'hours actuallly worked for activity 1 on 1st day',
       'wage earning for activity 1 on 1st day',
       'Status Code for activity 2_6',
       'Industry Code (NIC) for activity 2_6',
       'hours actuallly worked for activity 2 on 1st day',
       'wage earning for activity 2 on 1st day',
       'total hours actually worked on 1st day',
       'hours available for aditional worked on 1st day',
       'Current Weekly Status (CWS)', 'Industry Code (CWS)',
       'Occupation Code (CWS)',
       'Earnings For Regular Salaried/Wage Activity',
       'Earnings For Self Employed',
       'Ns count for sector x stratum x substratum x sub-sample',
       'Ns count for sector x stratum x substratum',
       'Sub-sample wise Multiplier',
       'Occurence of FSUs in State x Sector x Stratum x SubStratum in 4 Quarters',
       'HH_ID', 'Person_ID', 'Household Size', 'Household Type',
       'Religion', 'Social Group', '_merge', 'Final Weight',
       'usual_principal_status_code', 'usual_subsidiary_status_code',
       'usual_principal_subsidiary_status_code',
       'usual_principal_subsidiary_status_code_copy'], dtype=object)

In [312]:

plfs_23_24_v1 = plfs_23_24[['HH_ID','Person_ID', 'Sector','State/Ut Code','Sex','Age','Marital Status','General Educaion Level','Technical Educaion Level',
           'Religion','Social Group','Final Weight','usual_principal_status_code','usual_subsidiary_status_code',
                           'usual_principal_subsidiary_status_code','usual_principal_subsidiary_status_code_copy',
                           'Status Code_1','Industry Code (NIC)_1','Occupation Code (NCO)_1',
                            'Status Code']]

plfs_23_24_v1.head(5)

,HH_ID,Person_ID,Sector,State/Ut Code,Sex,Age,Marital Status,General Educaion Level,Technical Educaion Level,Religion,Social Group,Final Weight,usual_principal_status_code,usual_subsidiary_status_code,usual_principal_subsidiary_status_code,usual_principal_subsidiary_status_code_copy,Status Code_1,Industry Code (NIC)_1,Occupation Code (NCO)_1,Status Code
0,Q1V1110002111,Q1V11100021111,Rural,Himachal Pradesh,1,72,2,secondary,no technical education,Hinduism,scheduled caste,308.4975,3,NaN,3,3,94,NaN,NaN,NaN
1,Q1V1110002111,Q1V11100021112,Rural,Himachal Pradesh,2,65,2,primary,no technical education,Hinduism,scheduled caste,308.4975,3,NaN,3,3,93,NaN,NaN,NaN
2,Q1V1110002111,Q1V11100021113,Rural,Himachal Pradesh,1,40,2,secondary,no technical education,Hinduism,scheduled caste,308.4975,1,NaN,1,11,11,1132.0,611.0,NaN
3,Q1V1110002111,Q1V11100021114,Rural,Himachal Pradesh,2,35,2,secondary,no technical education,Hinduism,scheduled caste,308.4975,1,NaN,1,21,21,1132.0,611.0,NaN
4,Q1V1110002111,Q1V11100021115,Rural,Himachal Pradesh,1,15,1,middle,no technical education,Hinduism,scheduled caste,308.4975,3,NaN,3,3,91,NaN,NaN,NaN

In [313]:
plfs_23_24_v1['usual_principal_subsidiary_status_code'].value_counts(dropna=False)

usual_principal_subsidiary_status_code
3    227483
1    183070
2      7606
Name: count, dtype: int64

In [314]:
plfs_23_24_v1['usual_principal_subsidiary_status_code_copy'].value_counts(dropna=False)

usual_principal_subsidiary_status_code_copy
3     227483
11     64544
31     42765
21     35796
51     27535
2       7606
12      6279
41      6151
Name: count, dtype: int64

In [315]:
plfs_23_24_v1.shape

(418159, 20)

In [316]:
plfs_23_24_v1['Sector'].value_counts() # sample size matches with reports

Sector
Rural    242546
Urban    175613
Name: count, dtype: int64

In [317]:
plfs_23_24_v1['employed'] = plfs_23_24_v1['usual_principal_subsidiary_status_code_copy'].isin([11,12,21,31,41,51])

C:\Users\samir\AppData\Local\Temp\ipykernel_19264\3238432103.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  plfs_23_24_v1['employed'] = plfs_23_24_v1['usual_principal_subsidiary_status_code_copy'].isin([11,12,21,31,41,51])

In [323]:
plfs_23_24_v1['unemployed'] = plfs_23_24_v1['usual_principal_subsidiary_status_code_copy'] == 2

C:\Users\samir\AppData\Local\Temp\ipykernel_19264\624473094.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  plfs_23_24_v1['unemployed'] = plfs_23_24_v1['usual_principal_subsidiary_status_code_copy'] == 2

In [324]:
plfs_23_24_v1[['employed','unemployed']]

        employed  unemployed
0          False       False
1          False       False
2           True       False
3           True       False
4          False       False
...          ...         ...
418154      True       False
418155     False       False
418156     False       False
418157      True       False
418158      True       False

[418159 rows x 2 columns]

In [334]:
# calculation starts here

In [339]:
# WPR, LFPR and UR by rural-urban and sex

In [330]:
emp_u_total = plfs_23_24_v1.groupby(['Sector', 'Sex']).agg(
    total_pop=('Final Weight', "sum"),
    employed_pop=('Final Weight', lambda x: (x * plfs_23_24_v1.loc[x.index, 'employed']).sum()),
    unemployed_pop=('Final Weight', lambda x: (x * plfs_23_24_v1.loc[x.index, 'unemployed']).sum())
)

emp_u_total

               total_pop  employed_pop  unemployed_pop
Sector Sex
Rural  1    4.292456e+08  2.417991e+08    6.717173e+06
       2    4.244665e+08  1.476586e+08    3.219831e+06
       3    3.408427e+03  0.000000e+00    0.000000e+00
Urban  1    1.786540e+08  1.007771e+08    4.598823e+06
       2    1.718958e+08  3.553014e+07    2.727195e+06
       3    3.655457e+04  3.965319e+03    0.000000e+00

In [335]:
emp_u_total["WPR"] = round((emp_u_total['employed_pop'] / emp_u_total['total_pop']) * 100,1)

emp_u_total # exact match with the reports

               total_pop  employed_pop  unemployed_pop   WPR
Sector Sex
Rural  1    4.292456e+08  2.417991e+08    6.717173e+06  56.3
       2    4.244665e+08  1.476586e+08    3.219831e+06  34.8
       3    3.408427e+03  0.000000e+00    0.000000e+00   0.0
Urban  1    1.786540e+08  1.007771e+08    4.598823e+06  56.4
       2    1.718958e+08  3.553014e+07    2.727195e+06  20.7
       3    3.655457e+04  3.965319e+03    0.000000e+00  10.8

In [337]:
emp_u_total["LFPR"] = round(((emp_u_total['employed_pop'] + emp_u_total['unemployed_pop']) / emp_u_total['total_pop']) * 100,1)

emp_u_total

               total_pop  employed_pop  unemployed_pop   WPR  LFPR
Sector Sex
Rural  1    4.292456e+08  2.417991e+08    6.717173e+06  56.3  57.9
       2    4.244665e+08  1.476586e+08    3.219831e+06  34.8  35.5
       3    3.408427e+03  0.000000e+00    0.000000e+00   0.0   0.0
Urban  1    1.786540e+08  1.007771e+08    4.598823e+06  56.4  59.0
       2    1.718958e+08  3.553014e+07    2.727195e+06  20.7  22.3
       3    3.655457e+04  3.965319e+03    0.000000e+00  10.8  10.8

In [338]:
emp_u_total["UR"] = round((emp_u_total['unemployed_pop'] / (emp_u_total['employed_pop'] + emp_u_total['unemployed_pop'])) * 100,1)

emp_u_total # exact match with the reports

               total_pop  employed_pop  unemployed_pop   WPR  LFPR   UR
Sector Sex
Rural  1    4.292456e+08  2.417991e+08    6.717173e+06  56.3  57.9  2.7
       2    4.244665e+08  1.476586e+08    3.219831e+06  34.8  35.5  2.1
       3    3.408427e+03  0.000000e+00    0.000000e+00   0.0   0.0  NaN
Urban  1    1.786540e+08  1.007771e+08    4.598823e+06  56.4  59.0  4.4
       2    1.718958e+08  3.553014e+07    2.727195e+06  20.7  22.3  7.1
       3    3.655457e+04  3.965319e+03    0.000000e+00  10.8  10.8  0.0

In [360]:
overall = plfs_23_24_v1.agg(
    total_pop=("Final Weight", "sum"),
    employed_pop=("Final Weight", lambda x: (x * plfs_23_24_v1.loc[x.index, "employed"]).sum()),
    unemployed_pop=("Final Weight", lambda x: (x * plfs_23_24_v1.loc[x.index, "unemployed"]).sum()),
)

overall = overall.T

overall

                 total_pop  employed_pop  unemployed_pop
Final Weight  1.204302e+09  5.257688e+08    1.726302e+07

In [361]:
overall["WPR"] = round((overall['employed_pop'] / overall['total_pop']) * 100,1)

overall

                 total_pop  employed_pop  unemployed_pop   WPR
Final Weight  1.204302e+09  5.257688e+08    1.726302e+07  43.7

In [362]:
overall["LFPR"] = round(((overall['employed_pop'] + overall['unemployed_pop']) / overall['total_pop']) * 100,1)

overall

                 total_pop  employed_pop  unemployed_pop   WPR  LFPR
Final Weight  1.204302e+09  5.257688e+08    1.726302e+07  43.7  45.1

In [363]:
overall["UR"] = round((overall['unemployed_pop'] / (overall['employed_pop'] + overall['unemployed_pop'])) * 100,1)

overall # exact match with the reports

                 total_pop  employed_pop  unemployed_pop   WPR  LFPR   UR
Final Weight  1.204302e+09  5.257688e+08    1.726302e+07  43.7  45.1  3.2

In [364]:
emp_u_total

               total_pop  employed_pop  unemployed_pop   WPR  LFPR   UR
Sector Sex
Rural  1    4.292456e+08  2.417991e+08    6.717173e+06  56.3  57.9  2.7
       2    4.244665e+08  1.476586e+08    3.219831e+06  34.8  35.5  2.1
       3    3.408427e+03  0.000000e+00    0.000000e+00   0.0   0.0  NaN
Urban  1    1.786540e+08  1.007771e+08    4.598823e+06  56.4  59.0  4.4
       2    1.718958e+08  3.553014e+07    2.727195e+06  20.7  22.3  7.1
       3    3.655457e+04  3.965319e+03    0.000000e+00  10.8  10.8  0.0

In [368]:
# youth age group calculation (15-29)

plfs_23_24_v1_15_29 = plfs_23_24_v1[(plfs_23_24_v1['Age']>=15) & (plfs_23_24_v1['Age']<=29)]

plfs_23_24_v1_15_29

,HH_ID,Person_ID,Sector,State/Ut Code,Sex,Age,Marital Status,General Educaion Level,Technical Educaion Level,Religion,Social Group,Final Weight,usual_principal_status_code,usual_subsidiary_status_code,usual_principal_subsidiary_status_code,usual_principal_subsidiary_status_code_copy,Status Code_1,Industry Code (NIC)_1,Occupation Code (NCO)_1,Status Code,employed,unemployed
4,Q1V1110002111,Q1V11100021115,Rural,Himachal Pradesh,1,15,1,middle,no technical education,Hinduism,scheduled caste,308.49750,3,NaN,3,3,91,NaN,NaN,NaN,False,False
6,Q1V1110002111,Q1V11100021117,Rural,Himachal Pradesh,2,16,1,higher secondary,no technical education,Hinduism,scheduled caste,308.49750,3,1.0,1,21,91,NaN,NaN,21.0,True,False
10,Q1V1110002121,Q1V11100021214,Rural,Himachal Pradesh,2,27,2,primary,no technical education,Hinduism,others,44.49500,1,1.0,1,11,21,1132.0,611.0,11.0,True,False
17,Q1V1110002122,Q1V11100021226,Rural,Himachal Pradesh,2,28,2,primary,no technical education,Hinduism,others,44.49500,1,NaN,1,21,21,1132.0,611.0,NaN,True,False
21,Q1V1110002131,Q1V11100021313,Rural,Himachal Pradesh,1,16,1,middle,no technical education,Hinduism,scheduled caste,77.12500,3,NaN,3,3,91,NaN,NaN,NaN,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
418142,Q4V1226229142,Q4V12262291421,Urban,Meghalaya,1,20,1,primary,no technical education,Christianity,scheduled tribe,244.59125,1,NaN,1,11,11,56101.0,141.0,NaN,True,False
418143,Q4V1226229142,Q4V12262291422,Urban,Meghalaya,2,24,1,primary,no technical education,Christianity,scheduled tribe,244.59125,1,NaN,1,21,21,56101.0,512.0,NaN,True,False
418146,Q4V1226235111,Q4V12262351113,Urban,Andhra Pradesh,1,29,2,graduate,engineering/ technology,Hinduism,others,1869.52375,1,NaN,1,31,31,62013.0,251.0,NaN,True,False
418149,Q4V1226235112,Q4V12262351123,Urban,Andhra Pradesh,1,28,1,postgraduate and above,no technical education,Hinduism,other backward class,1869.52375,2,NaN,2,2,81,NaN,NaN,NaN,False,True
418151,Q4V1226235121,Q4V12262351212,Urban,Andhra Pradesh,2,28,2,graduate,no technical education,Hinduism,other backward class,2419.38375,3,NaN,3,3,92,NaN,NaN,NaN,False,False

In [371]:
overall_15_29 = plfs_23_24_v1_15_29.agg(
    total_pop=("Final Weight", "sum"),
    employed_pop=("Final Weight", lambda x: (x * plfs_23_24_v1_15_29.loc[x.index, "employed"]).sum()),
    unemployed_pop=("Final Weight", lambda x: (x * plfs_23_24_v1_15_29.loc[x.index, "unemployed"]).sum()),
)

overall_15_29 = overall_15_29.T

overall_15_29

                 total_pop  employed_pop  unemployed_pop
Final Weight  3.080737e+08  1.285725e+08    1.458701e+07

In [372]:
overall_15_29["WPR"] = round((overall_15_29['employed_pop'] / overall_15_29['total_pop']) * 100,1)

overall_15_29

                 total_pop  employed_pop  unemployed_pop   WPR
Final Weight  3.080737e+08  1.285725e+08    1.458701e+07  41.7

In [373]:
overall_15_29["LFPR"] = round(((overall_15_29['employed_pop'] + overall_15_29['unemployed_pop']) / overall_15_29['total_pop']) * 100,1)

overall_15_29

                 total_pop  employed_pop  unemployed_pop   WPR  LFPR
Final Weight  3.080737e+08  1.285725e+08    1.458701e+07  41.7  46.5

In [374]:
overall_15_29["UR"] = round((overall_15_29['unemployed_pop'] / (overall_15_29['employed_pop'] + overall_15_29['unemployed_pop'])) * 100,1)

overall_15_29

                 total_pop  employed_pop  unemployed_pop   WPR  LFPR    UR
Final Weight  3.080737e+08  1.285725e+08    1.458701e+07  41.7  46.5  10.2

In [375]:
# age group 24 - 29

plfs_23_24_v1_24_29 = plfs_23_24_v1[(plfs_23_24_v1['Age']>=24) & (plfs_23_24_v1['Age']<=29)]

plfs_23_24_v1_24_29

,HH_ID,Person_ID,Sector,State/Ut Code,Sex,Age,Marital Status,General Educaion Level,Technical Educaion Level,Religion,Social Group,Final Weight,usual_principal_status_code,usual_subsidiary_status_code,usual_principal_subsidiary_status_code,usual_principal_subsidiary_status_code_copy,Status Code_1,Industry Code (NIC)_1,Occupation Code (NCO)_1,Status Code,employed,unemployed
10,Q1V1110002121,Q1V11100021214,Rural,Himachal Pradesh,2,27,2,primary,no technical education,Hinduism,others,44.49500,1,1.0,1,11,21,1132.0,611.0,11.0,True,False
17,Q1V1110002122,Q1V11100021226,Rural,Himachal Pradesh,2,28,2,primary,no technical education,Hinduism,others,44.49500,1,NaN,1,21,21,1132.0,611.0,NaN,True,False
40,Q1V1110002231,Q1V11100022312,Rural,Himachal Pradesh,2,25,2,middle,no technical education,Hinduism,scheduled caste,1411.97000,1,NaN,1,11,11,1111.0,631.0,NaN,True,False
45,Q1V1110004121,Q1V11100041212,Rural,Odisha,2,27,2,secondary,no technical education,Hinduism,other backward class,1054.18750,1,NaN,1,11,11,12002.0,751.0,NaN,True,False
47,Q1V1110004121,Q1V11100041214,Rural,Odisha,2,29,2,primary,no technical education,Hinduism,other backward class,1054.18750,3,1.0,1,21,92,NaN,NaN,21.0,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
418126,Q4V1226229121,Q4V12262291211,Urban,Meghalaya,2,26,1,graduate,no technical education,Christianity,scheduled tribe,253.99875,3,NaN,3,3,91,NaN,NaN,NaN,False,False
418143,Q4V1226229142,Q4V12262291422,Urban,Meghalaya,2,24,1,primary,no technical education,Christianity,scheduled tribe,244.59125,1,NaN,1,21,21,56101.0,512.0,NaN,True,False
418146,Q4V1226235111,Q4V12262351113,Urban,Andhra Pradesh,1,29,2,graduate,engineering/ technology,Hinduism,others,1869.52375,1,NaN,1,31,31,62013.0,251.0,NaN,True,False
418149,Q4V1226235112,Q4V12262351123,Urban,Andhra Pradesh,1,28,1,postgraduate and above,no technical education,Hinduism,other backward class,1869.52375,2,NaN,2,2,81,NaN,NaN,NaN,False,True
418151,Q4V1226235121,Q4V12262351212,Urban,Andhra Pradesh,2,28,2,graduate,no technical education,Hinduism,other backward class,2419.38375,3,NaN,3,3,92,NaN,NaN,NaN,False,False

In [376]:
overall_24_29 = plfs_23_24_v1_24_29.agg(
    total_pop=("Final Weight", "sum"),
    employed_pop=("Final Weight", lambda x: (x * plfs_23_24_v1_24_29.loc[x.index, "employed"]).sum()),
    unemployed_pop=("Final Weight", lambda x: (x * plfs_23_24_v1_24_29.loc[x.index, "unemployed"]).sum()),
)

overall_24_29 = overall_24_29.T

overall_24_29

                 total_pop  employed_pop  unemployed_pop
Final Weight  1.139823e+08  7.109643e+07     6107141.225

In [377]:
overall_24_29["WPR"] = round((overall_24_29['employed_pop'] / overall_24_29['total_pop']) * 100,1)

overall_24_29

                 total_pop  employed_pop  unemployed_pop   WPR
Final Weight  1.139823e+08  7.109643e+07     6107141.225  62.4

In [378]:
overall_24_29["LFPR"] = round(((overall_24_29['employed_pop'] + overall_24_29['unemployed_pop']) / overall_24_29['total_pop']) * 100,1)


overall_24_29

                 total_pop  employed_pop  unemployed_pop   WPR  LFPR
Final Weight  1.139823e+08  7.109643e+07     6107141.225  62.4  67.7

In [379]:
overall_24_29["UR"] = round((overall_24_29['unemployed_pop'] / (overall_24_29['employed_pop'] + overall_24_29['unemployed_pop'])) * 100,1)

overall_24_29

                 total_pop  employed_pop  unemployed_pop   WPR  LFPR   UR
Final Weight  1.139823e+08  7.109643e+07     6107141.225  62.4  67.7  7.9

In [381]:
plfs_23_24_v1.columns

Index(['HH_ID', 'Person_ID', 'Sector', 'State/Ut Code', 'Sex', 'Age',
       'Marital Status', 'General Educaion Level', 'Technical Educaion Level',
       'Religion', 'Social Group', 'Final Weight',
       'usual_principal_status_code', 'usual_subsidiary_status_code',
       'usual_principal_subsidiary_status_code',
       'usual_principal_subsidiary_status_code_copy', 'Status Code_1',
       'Industry Code (NIC)_1', 'Occupation Code (NCO)_1', 'Status Code',
       'employed', 'unemployed'],
      dtype='object')

In [ ]:
# by education level

In [382]:
emp_u_by_edu = plfs_23_24_v1.groupby('General Educaion Level').agg(
    total_pop=('Final Weight', "sum"),
    employed_pop=('Final Weight', lambda x: (x * plfs_23_24_v1.loc[x.index, 'employed']).sum()),
    unemployed_pop=('Final Weight', lambda x: (x * plfs_23_24_v1.loc[x.index, 'unemployed']).sum())
)

emp_u_by_edu

                                      total_pop  employed_pop  unemployed_pop
General Educaion Level
TLC                                3.541067e+04  7.158171e+03    0.000000e+00
diploma/certificate course         1.170320e+07  8.617714e+06    8.143132e+05
graduate                           9.138978e+07  5.258041e+07    7.877087e+06
higher secondary                   1.142782e+08  5.250205e+07    2.404138e+06
literate without formal schooling  1.046211e+06  5.435268e+05    0.000000e+00
literate: below primary            1.382680e+08  2.868106e+07    1.144982e+05
middle                             2.037468e+08  1.111296e+08    1.786971e+06
not literate                       3.168341e+08  1.200377e+08    2.309498e+05
others                             6.498019e+06  9.769525e+04    0.000000e+00
postgraduate and above             2.613290e+07  1.626500e+07    2.300124e+06
primary                            1.686979e+08  7.295059e+07    5.101528e+05
secondary                          1.256712e+08  6.235635e+07    1.224788e+06

In [383]:
emp_u_by_edu["UR"] = round((emp_u_by_edu['unemployed_pop'] / (emp_u_by_edu['employed_pop'] + emp_u_by_edu['unemployed_pop'])) * 100,1)

emp_u_by_edu

,total_pop,employed_pop,unemployed_pop,UR
General Educaion Level,,,,
TLC,3.541067e+04,7.158171e+03,0.000000e+00,0.0
diploma/certificate course,1.170320e+07,8.617714e+06,8.143132e+05,8.6
graduate,9.138978e+07,5.258041e+07,7.877087e+06,13.0
higher secondary,1.142782e+08,5.250205e+07,2.404138e+06,4.4
literate without formal schooling,1.046211e+06,5.435268e+05,0.000000e+00,0.0
literate: below primary,1.382680e+08,2.868106e+07,1.144982e+05,0.4
middle,2.037468e+08,1.111296e+08,1.786971e+06,1.6
not literate,3.168341e+08,1.200377e+08,2.309498e+05,0.2
others,6.498019e+06,9.769525e+04,0.000000e+00,0.0
postgraduate and above,2.613290e+07,1.626500e+07,2.300124e+06,12.4
primary,1.686979e+08,7.295059e+07,5.101528e+05,0.7
secondary,1.256712e+08,6.235635e+07,1.224788e+06,1.9

In [404]:
emp = plfs_23_24_v1[plfs_23_24_v1['employed'] == True]

emp

,HH_ID,Person_ID,Sector,State/Ut Code,Sex,Age,Marital Status,General Educaion Level,Technical Educaion Level,Religion,Social Group,Final Weight,usual_principal_status_code,usual_subsidiary_status_code,usual_principal_subsidiary_status_code,usual_principal_subsidiary_status_code_copy,Status Code_1,Industry Code (NIC)_1,Occupation Code (NCO)_1,Status Code,employed,unemployed
2,Q1V1110002111,Q1V11100021113,Rural,Himachal Pradesh,1,40,2,secondary,no technical education,Hinduism,scheduled caste,308.49750,1,NaN,1,11,11,1132.0,611.0,NaN,True,False
3,Q1V1110002111,Q1V11100021114,Rural,Himachal Pradesh,2,35,2,secondary,no technical education,Hinduism,scheduled caste,308.49750,1,NaN,1,21,21,1132.0,611.0,NaN,True,False
6,Q1V1110002111,Q1V11100021117,Rural,Himachal Pradesh,2,16,1,higher secondary,no technical education,Hinduism,scheduled caste,308.49750,3,1.0,1,21,91,NaN,NaN,21.0,True,False
7,Q1V1110002121,Q1V11100021211,Rural,Himachal Pradesh,1,64,2,middle,no technical education,Hinduism,others,44.49500,1,NaN,1,11,11,1132.0,611.0,NaN,True,False
9,Q1V1110002121,Q1V11100021213,Rural,Himachal Pradesh,1,30,2,secondary,no technical education,Hinduism,others,44.49500,1,1.0,1,21,31,84111.0,512.0,21.0,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
418147,Q4V1226235112,Q4V12262351121,Urban,Andhra Pradesh,1,59,2,postgraduate and above,no technical education,Hinduism,other backward class,1869.52375,1,NaN,1,31,31,49110.0,313.0,NaN,True,False
418150,Q4V1226235121,Q4V12262351211,Urban,Andhra Pradesh,1,34,2,postgraduate and above,diploma or certificate (graduate and above lev...,Hinduism,other backward class,2419.38375,1,NaN,1,31,31,46102.0,122.0,NaN,True,False
418154,Q4V1226235131,Q4V12262351311,Urban,Andhra Pradesh,1,70,3,postgraduate and above,diploma or certificate (graduate and above lev...,Hinduism,other backward class,916.43250,3,1.0,1,11,94,NaN,NaN,11.0,True,False
418157,Q4V1226235142,Q4V12262351421,Urban,Andhra Pradesh,1,58,2,postgraduate and above,no technical education,Hinduism,other backward class,586.51750,1,NaN,1,31,31,49110.0,313.0,NaN,True,False
418158,Q4V1226235142,Q4V12262351422,Urban,Andhra Pradesh,2,57,2,postgraduate and above,no technical education,Hinduism,other backward class,586.51750,1,NaN,1,31,31,85211.0,233.0,NaN,True,False

In [405]:
emp.columns

Index(['HH_ID', 'Person_ID', 'Sector', 'State/Ut Code', 'Sex', 'Age',
       'Marital Status', 'General Educaion Level', 'Technical Educaion Level',
       'Religion', 'Social Group', 'Final Weight',
       'usual_principal_status_code', 'usual_subsidiary_status_code',
       'usual_principal_subsidiary_status_code',
       'usual_principal_subsidiary_status_code_copy', 'Status Code_1',
       'Industry Code (NIC)_1', 'Occupation Code (NCO)_1', 'Status Code',
       'employed', 'unemployed'],
      dtype='object')

In [406]:
emp_v1 = emp.groupby('usual_principal_subsidiary_status_code_copy')['Final Weight'].sum().reset_index()

emp_v1

   usual_principal_subsidiary_status_code_copy  Final Weight
0                                           11  1.776652e+08
1                                           12  1.709641e+07
2                                           21  1.135125e+08
3                                           31  1.042541e+08
4                                           41  1.880084e+07
5                                           51  9.443983e+07

In [407]:
emp_v1['total'] = emp_v1['Final Weight'].sum()

emp_v1

   usual_principal_subsidiary_status_code_copy  Final Weight         total
0                                           11  1.776652e+08  5.257688e+08
1                                           12  1.709641e+07  5.257688e+08
2                                           21  1.135125e+08  5.257688e+08
3                                           31  1.042541e+08  5.257688e+08
4                                           41  1.880084e+07  5.257688e+08
5                                           51  9.443983e+07  5.257688e+08

In [408]:
emp_v1['percentage'] = round((emp_v1['Final Weight']/emp_v1['total'])*100,1)

emp_v1

,usual_principal_subsidiary_status_code_copy,Final Weight,total,percentage
0,11,1.776652e+08,5.257688e+08,33.8
1,12,1.709641e+07,5.257688e+08,3.3
2,21,1.135125e+08,5.257688e+08,21.6
3,31,1.042541e+08,5.257688e+08,19.8
4,41,1.880084e+07,5.257688e+08,3.6
5,51,9.443983e+07,5.257688e+08,18.0

In [410]:
plfs_23_24_v1.columns

Index(['HH_ID', 'Person_ID', 'Sector', 'State/Ut Code', 'Sex', 'Age',
       'Marital Status', 'General Educaion Level', 'Technical Educaion Level',
       'Religion', 'Social Group', 'Final Weight',
       'usual_principal_status_code', 'usual_subsidiary_status_code',
       'usual_principal_subsidiary_status_code',
       'usual_principal_subsidiary_status_code_copy', 'Status Code_1',
       'Industry Code (NIC)_1', 'Occupation Code (NCO)_1', 'Status Code',
       'employed', 'unemployed'],
      dtype='object')

# Some **proprietary calculations used to derive deeper insights have been omitted from this notebook**.